﻿{% load staticfiles %}
<header class="page-header">
        <nav class="navbar" role="navigation">
            <div class="container-fluid">
                <div class="havbar-header">
                	<!-- BEGIN LOGO -->

                    <a id="index" class="navbar-brand" href="MD_start.html">
                        <img src="{% static 'assets/admin/layout6/img/logo.png' %}" alt="Logo">
                    </a>
                	<!-- END LOGO -->

	                <!-- BEGIN TOPBAR ACTIONS -->
	                <div class="topbar-actions">
		                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
						<form class="search-form" action="extra_search.html" method="GET">
							<div class="input-group">
								<span class="input-group-btn">
								</span>
							</div>
						</form>
						<!-- END HEADER SEARCH BOX -->

	                	<!-- BEGIN GROUP NOTIFICATION -->
						<div class="btn-group-notification btn-group" id="header_notification_bar">
							<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								<span class="badge" style="color: #C70000 !important;">۴</span>
							</button>
							<ul class="dropdown-menu-v2">
								<li class="external">
									<h3><span class="bold">۴ خبر </span> دیده نشده</h3>									<!--<a href="#">view all</a>-->
								</li>
								<li>
									<ul class="dropdown-menu-list scroller" style="height: 250px; padding: 0;" data-handle-color="#637283">
										<li>
											<a href="javascript:;">
												<span class="details">
													<span class="label label-sm label-icon label-success">
														<i class="fa fa-plus"></i>
													</span>
 														یک گردشساز جدید ثبت نام کرده است
 												</span>
												<span class="time">۷ دقیقه پیش</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span class="details">
													<span class="label label-sm label-icon label-danger">
														<i class="fa fa-bolt"></i>
													</span>
														وضعیت تب پلاستیک (تامین کننده ) به صورت تعلیغ درآمد!
												</span>
												<span class="time">
													۲۱ دقیقه پیش
												</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span class="details">
													<span class="label label-sm label-icon label-warning">
														<i class="fa fa-bell-o"></i>
													</span>
														گزارش مالی هفتگی آماده است!
												</span>
												<span class="time">۳ ساعت پیش</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span class="details">
													<span class="label label-sm label-icon label-info">
														<i class="fa fa-bullhorn"></i>
													</span>
														بیشترین تور جستجو شده - تور کیش (شرکت عیاران(گردشساز))
												</span>
												<span class="time">۲ روز پیش</span>
											</a>
										</li>

									</ul>
								</li>
							</ul>
						</div>
	                	<!-- END GROUP NOTIFICATION -->

	                	<!-- BEGIN USER PROFILE -->
		                <div class="btn-group-img btn-group">
							<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								<img src="{% static 'Assets/admin/layout6/img/avatar1.jpg' %}" alt="">
							</button>
							<ul class="dropdown-menu-v2" role="menu">
								<li class="active">
									<a href="profile.html">کار های من <span class="badge badge-danger">۷</span> </a>
									<!-- Modal -->
									  <div class="modal fade" id="myModal" role="dialog">
										<div class="modal-dialog">

										  <!-- Modal content-->
										  <div class="modal-content">
											<div class="modal-header">
											  <button type="button" class="close" data-dismiss="modal">&times;</button>
											  <h4 class="modal-title">Modal Header</h4>
											</div>
											<div class="modal-body">
											  <p>Some text in the modal.</p>
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											</div>
										  </div>

										</div>
									  </div>

								</li>

								<li class="divider"></li>
								<li>
									<a href="MD_lock_screen.html">
										خروج
									</a>
								</li>
							</ul>
						</div>
						<!-- END USER PROFILE -->
					</div>
	                <!-- END TOPBAR ACTIONS -->
                </div>
            </div>
            <!--/container-->
        </nav>
    </header>