{% extends "app/metro-layout.html" %}
{% load staticfiles %}
{% block header %}
{% include 'Manager_Dashboard/header.html' %}
{% endblock %}
{% block footer %}
{% include 'Manager_Dashboard/footer.html' %}
{% endblock %}
{% block more-css-files %}
<link href="{% static 'assets/global/plugins/morris/morris.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/admin/pages/css/tasks-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/components-rtl.css' %}" id="style_components" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/plugins-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/layout6/css/layout-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/layout6/css/custom-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/pages/css/profile-old-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}
{% block js-files %}
    <script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery.cokie.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/flot/jquery.flot.min.js' %}"></script>
    <script src="{% static 'assets/global/plugins/flot/jquery.flot.categories.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/scripts/metronic.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/admin/layout4/scripts/layout.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/admin/layout4/scripts/demo.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/admin/pages/scripts/charts-flotcharts.js' %}"></script>
    <script>
        jQuery(document).ready(function() {
           // initiate layout and plugins
           Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        Demo.init(); // init demo features
           ChartsFlotcharts.init();
           ChartsFlotcharts.initCharts();
           ChartsFlotcharts.initPieCharts();
           ChartsFlotcharts.initBarCharts();
        });
    </script>
{% endblock %}