﻿{% extends "Manager_Dashboard/layout.html" %}
{% block content %}
<div class="page-quick-sidebar-over-content">

	<!-- BEGIN MAIN LAYOUT -->
	<!-- HEADER BEGIN -->
	<!-- HEADER END -->

	<!-- PAGE CONTENT BEGIN -->
    <div class="container-fluid">
    	<div class="page-content page-content-popup">
    		<!-- BEGIN PAGE CONTENT FIXED -->
			<div class="page-content-fixed-header">
<h2>جدول پیشرفته و فیلتر</h2>
				<div class="content-header-menu">
    				<!-- BEGIN DROPDOWN AJAX MENU -->
    				<!-- END DROPDOWN AJAX MENU -->

    				<!-- BEGIN MENU TOGGLER -->
    				<button type="button" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="toggle-icon">
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </span>
	                </button>
    				<!-- END MENU TOGGLER -->
    			</div>
			</div>

			<!-- BEGIN SIDEBAR -->
			{% include 'Manager_Dashboard/sidebar.html' %}
			<!-- END SIDEBAR -->

			<div class="page-fixed-main-content">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;">
						<div class="visual">
							<i class="fa fa-comments"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۱۰۸
							</div>
							<div class="desc">
								 نطر جدید
							</div>
						</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light red-soft" href="javascript:;">
						<div class="visual">
							<i class="fa fa-shopping-cart"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۲۸٫۲۶۵٫۰۰۰
							</div>
							<div class="desc">
								 فروش امروز(تومان)
							</div>
						</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light green-soft" href="javascript:;">
						<div class="visual">
							<i class="fa fa-user"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۵۴۹
							</div>
							<div class="desc">
								کاربر جدید
							</div>
						</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light purple-soft" href="javascript:;">
						<div class="visual">
							<i class="fa fa-money"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۵۴٫۰۰۰٫۰۰۰
							</div>
							<div class="desc">
								 مانده حساب(تومان)
							</div>
						</div>
						</a>
					</div>
				</div>


				<div class="row">
	    			<div class="col-md-12">
	    				<!-- BEGIN Portlet PORTLET-->
<div class="portlet box blue-hoki">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>
								جدول پیشرفته
							</div>
							<div class="tools">
							</div>
						</div>
						<div class="portlet-body">
							<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
								<div class="row">
									<div class="col-md-12">
										<div class="btn-group tabletools-dropdown-on-portlet">
											<a class="btn btn-sm default DTTT_button_pdf" id="ToolTables_sample_1_0">
												<span>
													 PDF
												</span>
												<div style="position: absolute; left: 0px; top: 0px; width: 44px; height: 28px; z-index: 99;">
													<embed id="ZeroClipboard_TableToolsMovie_1" src="{% static 'assets/global/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf' %}" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="44" height="28" name="ZeroClipboard_TableToolsMovie_1" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=1&amp;width=44&amp;height=28" wmode="transparent">
												</div>
											</a>


											<a class="btn btn-sm default DTTT_button_print" id="ToolTables_sample_1_3" title="View print view"><span>
												چاپ
											</span></a></div></div></div><div class="row"><div class="col-md-6 col-sm-12"><div class="dataTables_length" id="sample_1_length"><label>نمایش <div class="select2-container form-control input-xsmall input-inline" id="s2id_autogen1"><a href="javascript:void(0)" class="select2-choice" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-2">5</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen2" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label for="s2id_autogen2_search" class="select2-offscreen"></label>       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-2" id="s2id_autogen2_search" placeholder="">   </div>   <ul class="select2-results" role="listbox" id="select2-results-2">   </ul></div></div><select name="sample_1_length" aria-controls="sample_1" class="form-control input-xsmall input-inline select2-offscreen" tabindex="-1" title=""><option value="5">5</option><option value="15">15</option><option value="20">20</option><option value="-1">All</option></select> ورودی ها:</label></div></div><div class="col-md-6 col-sm-12"><div id="sample_1_filter" class="dataTables_filter"><label>جستجو:<input type="search" class="form-control input-small input-inline" placeholder="" aria-controls="sample_1"></label></div></div></div><div class="table-scrollable"><table class="table table-striped table-bordered table-hover dataTable no-footer" id="sample_1" role="grid" aria-describedby="sample_1_info">
							<thead>
							<tr role="row"><th class="sorting_asc text-right" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column ascending" style="width: 201px;">
									 اسم خدمت
								</th><th class="sorting text-right" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="
									 Browser
								: activate to sort column ascending " style="width: 260px;">
									 گردشساز
								</th><th class="sorting text-right" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="
									 Platform(s)
								: activate to sort column ascending" style="width: 236px;">
									قیمت (تومان)
								</th><th class="sorting text-right" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="
									 Engine version
								: activate to sort column ascending" style="width: 170px;">
									 تعداد فروش
								</th><th class="sorting text-right" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" aria-label="
									 CSS grade
								: activate to sort column ascending" style="width: 120px;">
									 تاریخ
								</th></tr>
							</thead>
							<tbody>











































							<tr role="row" class="odd">
								<td class="sorting_1">
									 سفر کیش
								</td>
								<td>
									 شرکت عیاران
								</td>
								<td>
									 ۲۳٫۹۸۷٫۱۲۳
								</td>
								<td>
									 21
								</td>
								<td>
									 1394/4/13
								</td>
							</tr><tr role="row" class="even">
								<td class="sorting_1">
									 سفر کیش
								</td>
								<td>
									  شرکت عیاران
								</td>
								<td>
									۲۳٫۹۸۷٫۱۲۳
								</td>
								<td>
									 21
								</td>
								<td>
									 1394/4/13
								</td>
							</tr><tr role="row" class="odd">
								<td class="sorting_1">
									سفر کیش

								</td>
								<td>
									  شرکت عیاران
								</td>
								<td>
									۲۳٫۹۸۷٫۱۲۳
								</td>
								<td>
									 21
								</td>
								<td>
									 1394/4/13
								</td>
							</tr><tr role="row" class="even">
								<td class="sorting_1">
									 سفر کیش
								</td>
								<td>
									  شرکت عیاران
								</td>
								<td>
									۲۳٫۹۸۷٫۱۲۳
								</td>
								<td>
									 21
								</td>
								<td>
									 1394/4/13
								</td>
							</tr><tr role="row" class="odd">
								<td class="sorting_1">
									 سفر کیش
								</td>
								<td>
									  شرکت عیاران
								</td>
								<td>
									۲۳٫۹۸۷٫۱۲۳
								</td>
								<td>
									21
								</td>
								<td>
									 1394/4/13
								</td>
							</tr><tr role="row" class="even">
								<td class="sorting_1">
									 سفر کیش
								</td>
								<td>
									  شرکت عیاران
								</td>
								<td>
									۲۳٫۹۸۷٫۱۲۳
								</td>
								<td>
									21
								</td>
								<td>
									 1394/4/13
								</td>
							</tr><tr role="row" class="odd">
								<td class="sorting_1">
									 سفر کیش
								</td>
								<td>
									 شرکت عیاران
								</td>
								<td>
									 ۲۳٫۹۸۷٫۱۲۳
								</td>
								<td>
									 21
								</td>
								<td>
									 1394/4/13
								</td>
							</tr><tr role="row" class="even">
								<td class="sorting_1">
									 سفر کیش
								</td>
								<td>
									 شرکت عیاران
								</td>
								<td>
									۲۳٫۹۸۷٫۱۲۳
								</td>
								<td>
									 21
								</td>
								<td>
									 1394/4/13
								</td>
							</tr><tr role="row" class="odd">
								<td class="sorting_1">
									 سفر کیش
								</td>
								<td>
									 شرکت عیاران
								</td>
								<td>
									۲۳٫۹۸۷٫۱۲۳
								</td>
								<td>
									21
								</td>
								<td>
									 1394/4/13
								</td>
							</tr><tr role="row" class="even">
								<td class="sorting_1">
									 سفر کیش
								</td>
								<td>
									 شرکت عیاران
								</td>
								<td>
									۲۳٫۹۸۷٫۱۲۳
								</td>
								<td>
									21
								</td>
								<td>
									 1394/4/13
								</td>
							</tr></tbody>
							</table></div><div class="row"><div class="col-md-5 col-sm-12"><div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">نمایش  ۱تا ۱۰ از ۴۳ ورودی ها</div></div><div class="col-md-7 col-sm-12"><div class="dataTables_paginate paging_simple_numbers" id="sample_1_paginate"><ul class="pagination"><li class="paginate_button previous disabled" aria-controls="sample_1" tabindex="0" id="sample_1_previous"><a href="#"><i class="fa fa-angle-left"></i></a></li><li class="paginate_button active" aria-controls="sample_1" tabindex="0"><a href="#">1</a></li><li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">2</a></li><li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">3</a></li><li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">4</a></li><li class="paginate_button " aria-controls="sample_1" tabindex="0"><a href="#">5</a></li><li class="paginate_button next" aria-controls="sample_1" tabindex="0" id="sample_1_next"><a href="#"><i class="fa fa-angle-right"></i></a></li></ul></div></div></div></div>
						</div>
					</div>
						<!-- END PORTLET-->
	    			</div>
	    		</div>

			</div>
    		<!-- END PAGE CONTENT FIXED -->

    		<!-- Copyright BEGIN -->
			<!-- Copyright END -->

    	</div>
    </div>
<!-- END JAVASCRIPTS -->
</div>
{% endblock %}