﻿{% extends "Manager_Dashboard/layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-quick-sidebar-over-content">

	<!-- BEGIN MAIN LAYOUT -->
	<!-- HEADER BEGIN -->
	<!-- HEADER END -->

	<!-- PAGE CONTENT BEGIN -->
    <div class="container-fluid">
    	<div class="page-content page-content-popup">
    		<!-- BEGIN PAGE CONTENT FIXED -->
			<div class="page-content-fixed-header">
				<h2>گزارش همکاران</h2>

				<div class="content-header-menu">
    				<!-- BEGIN DROPDOWN AJAX MENU -->
    				<!-- END DROPDOWN AJAX MENU -->

    				<!-- BEGIN MENU TOGGLER -->
    				<button type="button" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="toggle-icon">
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </span>
	                </button>
    				<!-- END MENU TOGGLER -->
    			</div>
			</div>

			<!-- BEGIN SIDEBAR -->
			{% include 'Manager_Dashboard/sidebar.html' %}
			<!-- END SIDEBAR -->

			<div class="page-fixed-main-content">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;">
						<div class="visual">
							<i class="fa fa-comments"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۱۰۸
							</div>
							<div class="desc">
								 نطر جدید
							</div>
						</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light red-soft" href="javascript:;">
						<div class="visual">
							<i class="fa fa-shopping-cart"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۲۸٫۲۶۵٫۰۰۰
							</div>
							<div class="desc">
								 فروش امروز(تومان)
							</div>
						</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light green-soft" href="javascript:;">
						<div class="visual">
							<i class="fa fa-user"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۵۴۹
							</div>
							<div class="desc">
								کاربر جدید
							</div>
						</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light purple-soft" href="javascript:;">
						<div class="visual">
							<i class="fa fa-money"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۵۴٫۰۰۰٫۰۰۰
							</div>
							<div class="desc">
								 مانده حساب(تومان)
							</div>
						</div>
						</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 ">

					<div class="portlet light "style="    border: 1px solid #e1e1e1; !important;">
						<ul class="nav nav-tabs">

							</li>
							<li class="pull-right active">
								<a data-toggle="tab" href="#tab_1_4" aria-expanded="false">
اطلاعات گردش سازان برتر								  </a>
							</li>
							<li class="pull-right ">
								<a data-toggle="tab" href="#tab_1_5" aria-expanded="true">
								اطلاعات تامین کنندگان برتر
								</a>
							</li>
						</ul>
						<div class="portlet-title">
							<div class="caption caption-md">
								<i class="icon-bar-chart theme-font-color hide"></i>
								<span class="caption-subject theme-font-color bold uppercase">
								</span>
								<span class="caption-helper hide">weekly stats...</span>
							</div>
							<div class="actions">
								<div class="btn-group btn-group-devided" data-toggle="buttons">
						<!-- BEGIN PORTLET-->
									<label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
									<input type="radio" name="options" class="toggle" id="option1">
									امروز
									</label>
									<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
									<input type="radio" name="options" class="toggle" id="option2">
									هفته
									</label>
									<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
									<input type="radio" name="options" class="toggle" id="option2">
									ماه
									</label>
								</div>
							</div>
						</div>

						<div class="portlet-body">
							<div class="row number-stats margin-bottom-30">
								<div class="col-md-6 col-sm-6 col-xs-6">
									<div class="stat-right">
										<div class="stat-chart">
											<!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
											<div id="sparkline_bar2"><canvas width="90" height="45" style="display: inline-block; width: 90px; height: 45px; vertical-align: top;"></canvas></div>
										</div>
										<div class="stat-number">
											<div class="title">
												 تعداد فروش کل
											</div>
											<div class="number">
												 719
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-6 col-xs-6">

										<div class="stat-left">
										<div class="stat-chart">
											<!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
											<div id="sparkline_bar"><canvas width="90" height="45" style="display: inline-block; width: 90px; height: 45px; vertical-align: top;"></canvas></div>
										</div>
										<div class="stat-number">
											<div class="title">
												 تعداد خدمات ارایه شده کل
											</div>
											<div class="number">
												 2460
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="table-scrollable table-scrollable-borderless">

								<table class="table table-hover table-light">
								<thead>
								<tr class="uppercase">
									<th class="text-right"colspan="2">
										 گردش سازان
									</th>
									<th class="text-right">
									تعداد ارایه خدمات

									</th>
									<th class="text-right">
									تعداد فروش
									</th>
									<th class="text-right">
										 درآمد (تومان)
									</th>
									<th class="text-right">
									  محبوبیت
									</th>
								</tr>
								</thead>
								<tbody><tr>
									<td class="fit">
										<img class="user-pic" src="{% static 'assets/admin/layout3/img/avatar4.jpg' %}">
									</td>
									<td>
										<a href="{% url 'Manager_Dashboard:coworker_details' %}" class="primary-link">
											دلفان آفرود
										</a>
									</td>
									<td>
										۱۴۷
									</td>
									<td>
										 45
									</td>
									<td>
										 ۱۲٫۲۱۲٫۵۰۰
									</td>
									<td>
										<span class="bold theme-font-color">80%</span>
									</td>
								</tr>
								<tr>
									<td class="fit">
										<img class="user-pic" src="{% static 'assets/admin/layout3/img/avatar5.jpg' %}">
									</td>
									<td>
										<a href="javascript:;" class="primary-link">
											دلفان آفرود
										</a>
									</td>
									<td>
										۱۴۷
									</td>
									<td>
										 12
									</td>
									<td>
										 ۱۲٫۲۱۲٫۵۰۰
									</td>
									<td>
										<span class="bold theme-font-color">67%</span>
									</td>
								</tr>
								<tr>
									<td class="fit">
										<img class="user-pic" src="{% static 'assets/admin/layout3/img/avatar6.jpg' %}">
									</td>
									<td>
										<a href="javascript:;" class="primary-link">
											دلفان آفرود
										</a>
									</td>
									<td>
										 ۱۴۷
									</td>
									<td>
										 450
									</td>
									<td>
										 ۱۲٫۲۱۲٫۵۰۰
									</td>
									<td>
										<span class="bold theme-font-color">98%</span>
									</td>
								</tr>
								<tr>
									<td class="fit">
										<img class="user-pic" src="{% static 'assets/admin/layout3/img/avatar7.jpg' %}">
									</td>
									<td>
										<a href="javascript:;" class="primary-link">
											دلفان آفرود
										</a>
									</td>
									<td>
										 ۱۴۷
									</td>
									<td>
										 50
									</td>
									<td>
										 ۱۲٫۲۱۲٫۵۰۰
									</td>
									<td>
										<span class="bold theme-font-color">58%</span>
									</td>
								</tr>
								</tbody></table>
							</div>
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
				</div>
				<div class="row">
					<div class="col-md-12" >
						<div class="tabbable tabbable-custom tabbable-noborder" style="    border: 1px solid #e1e1e1; !important;">
						<ul class="nav nav-tabs">

							</li>
							<li class="pull-right active">
								<a data-toggle="tab" href="#tab_1_4" aria-expanded="false">
								گردش سازان
								  </a>
							</li>
							<li class="pull-right ">
								<a data-toggle="tab" href="#tab_1_5" aria-expanded="true">
								تامین کننده
								</a>
							</li>
						</ul>
						<div class="tab-content">

							<div id="tab_1_4" class="tab-pane active">
								<div class="row">
									<div class="col-md-12">
										<form action="#" class="alert alert-success alert-borderless">
											<div class="input-group">
												<div class="input-cont">
													<input type="text" placeholder=" در این قسمت نام گردش ساز مورد نظرتان را جستجو کنید  " class="form-control">
												</div>
												<span class="input-group-btn">
												<button type="button" class="btn green-haze">
												جستجو
												  &nbsp; <i class="m-icon-swapright m-icon-white"></i>
												</button>
												</span>
											</div>
										</form>
									</div>
								</div>
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-advance table-hover">
									<thead>
									<tr>
										<th class="text-right">
											<i class=" fa fa-briefcase "></i>
											گردش ساز
										</th>
										<th class="text-right">
											<i class="fa fa-exclamation-circle"></i>
											آخرین خدمت ارایه شده
										</th>
										<th class="text-right">
											<i class="fa fa-money"></i>
											قیمت (تومان)
										</th>
										<th class="text-right">
											<i class="fa fa-shopping-cart"></i>
											تعداد فروش
										</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>






									</tbody>
									</table>
								</div>
								<div class="margin-top-20">
									<ul class="pagination">
										<li>
											<a href="javascript:;">
											قبلی
											  </a>
										</li>
										<li>
											<a href="javascript:;">
											1 </a>
										</li>
										<li>
											<a href="javascript:;">
											2 </a>
										</li>
										<li class="active">
											<a href="javascript:;">
											3 </a>
										</li>
										<li>
											<a href="javascript:;">
											4 </a>
										</li>
										<li>
											<a href="javascript:;">
											5 </a>
										</li>
										<li>
											<a href="javascript:;">
											بعدی
											  </a>
										</li>
									</ul>
								</div>
							</div>
							<!--end tab-pane-->
							<!--end tab-pane-->
							<div id="tab_1_5" class="tab-pane ">
								<div class="row">
									<div class="col-md-12">
										<form action="#" class="alert alert-info alert-borderless">
											<div class="input-group">
												<div class="input-cont">
													<input type="text" placeholder="	در این قسمت نام تامین کننده مورد نظرتان را جستجو کنید	" class="form-control">
												</div>
												<span class="input-group-btn">
												<button type="button" class="btn green-haze">
												جستجو
												  &nbsp; <i class="m-icon-swapright m-icon-white"></i>
												</button>
												</span>
											</div>
										</form>
									</div>
								</div>
								<div class="table-responsive">
									<table class="table table-striped table-bordered table-advance table-hover">
									<thead>
									<tr>
										<th class="text-right">
											<i class=" fa fa-briefcase "></i>
											تامین کننده
										</th>
										<th class="text-right">
											<i class="fa fa-exclamation-circle"></i>
											آخرین خدمت ارایه شده
										</th>
										<th class="text-right">
											<i class="fa fa-money"></i>
											قیمت (تومان)
										</th>
										<th class="text-right">
											<i class="fa fa-shopping-cart"></i>
											تعداد فروش
										</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											شرکت عیاران
											  </a>
										</td>
										<td>
											<a href="javascript:;">
											 سفر دور دنیا
												</a>
										</td>
										<td>
											۸٫۵۸۰٫۰۰۰
										</td>
										<td>

											۳۲
										</td>
									</tr>






									</tbody>
									</table>
								</div>



								<div class="margin-top-20">
									<ul class="pagination">
										<li>
											<a href="javascript:;">
											قبلی
											  </a>
										</li>
										<li>
											<a href="javascript:;">
											1 </a>
										</li>
										<li>
											<a href="javascript:;">
											2 </a>
										</li>
										<li class="active">
											<a href="javascript:;">
											3 </a>
										</li>
										<li>
											<a href="javascript:;">
											4 </a>
										</li>
										<li>
											<a href="javascript:;">
											5 </a>
										</li>
										<li>
											<a href="javascript:;">
											بعدی
											  </a>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>

					</div>
				</div>


			</div>
    		<!-- END PAGE CONTENT FIXED -->

    		<!-- Copyright BEGIN -->
			<!-- Copyright END -->

    	</div>
    </div>
	<!-- PAGE CONTENT END -->
    <!-- END MAIN LAYOUT -->
<!-- END BODY -->
</div>
{% endblock %}