﻿{% extends "Manager_Dashboard/layout.html" %}
{% block content %}
<div class="page-quick-sidebar-over-content">

	<!-- BEGIN MAIN LAYOUT -->
	<!-- HEADER BEGIN -->
	<!-- HEADER END -->

	<!-- PAGE CONTENT BEGIN -->
    <div class="container-fluid">
    	<div class="page-content page-content-popup">
    		<!-- BEGIN PAGE CONTENT FIXED -->
			<div class="page-content-fixed-header">
				<h2>گزارش مالی</h2>

				<div class="content-header-menu">
    				<!-- BEGIN DROPDOWN AJAX MENU -->
    				<!-- END DROPDOWN AJAX MENU -->

    				<!-- BEGIN MENU TOGGLER -->
    				<button type="button" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="toggle-icon">
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </span>
	                </button>
    				<!-- END MENU TOGGLER -->
    			</div>
			</div>

			<!-- BEGIN SIDEBAR -->
			{% include 'Manager_Dashboard/sidebar.html' %}
			<!-- END SIDEBAR -->

			<div class="page-fixed-main-content">
				<!-- 4 element dashboard-->
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;">
						<div class="visual">
							<i class="fa fa-comments"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۱۰۸
							</div>
							<div class="desc">
								 نطر جدید
							</div>
						</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light red-soft" href="javascript:;">
						<div class="visual">
							<i class="fa fa-shopping-cart"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۲۸٫۲۶۵٫۰۰۰
							</div>
							<div class="desc">
								 فروش امروز(تومان)
							</div>
						</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light green-soft" href="javascript:;">
						<div class="visual">
							<i class="fa fa-money"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۱۲٫۲۱۳٫۵۴۳
							</div>
							<div class="desc">
								سود هفتگی(تومان)
							</div>
						</div>
						</a>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<a class="dashboard-stat dashboard-stat-light purple-soft" href="javascript:;">
						<div class="visual">
							<i class="fa fa-money"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۵۴٫۰۰۰٫۰۰۰
							</div>
							<div class="desc">
								 مانده حساب(تومان)
							</div>
						</div>
						</a>
					</div>
				</div>
				<!-- payment-->
				<div class="row">
	    			<div class="col-md-12">
	    				<!-- BEGIN Portlet PORTLET-->
<div class="portlet light" style="    border: 1px solid #e1e1e1; !important;">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-basket-loaded font-green-sharp"></i>
									<span class="caption-subject font-green-sharp bold uppercase">
                                        جدول فروش
                                    </span>
									<span class="caption-helper">
                                        (هفتگی)
                                    </span>
								</div>
								<div class="tools">
									<a href="javascript:;" data-toggle="modal" class="fa fa-print" data-original-title="" title="چاپ">

                                    </a>
									<a href="javascript:;" data-toggle="modal" class="fa fa-eye" data-original-title="" title="نمایش همه">

                                    </a>
									<a href="MD_Advtable.html" data-toggle="modal" class="fa fa-search" data-original-title="" title="جستجو پیشرفته">

                                    </a>
									<a href="javascript:;" class="fa fa-refresh" data-original-title="" title="بروزرسانی">
									</a>

								</div>
							</div>
							<div class="portlet-body" style="height: auto;">
								<div class="tabbable-line">
									<ul class="nav nav-tabs">
										<li class="active pull-right">
											<a href="#overview_1_3_1" data-toggle="tab" aria-expanded="true">
											پرفروشترین تورها
											  </a>
										</li>
                                        <li class=" pull-right">
											<a href="#overview_1_3_2" data-toggle="tab" aria-expanded="false">
											پرفروشترین خدمات
											  </a>
										</li>

									</ul>
									<div class="tab-content">

                                        <div class="tab-pane active" id="overview_1_3_1">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															نام تور
														</p>
													</th>
													<th>
														<p class="text-right">
															گردش ساز
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														هزینه کل(تومان)
													</p>
													</th>

													<th>
													<p class="text-right">

														                                                                        تعداد سفارش
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														تور یزد
														  </a>
													</td>
													<td>
														 شرکت عیاران
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a >
														۶۳
														  </a>
													</td>
                                                     
												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور جشنواره تابستانه جزیره کیش
														  </a>
													</td>
													<td>
														 شرکت کیش ایران
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a >
														۴۵ </a>
													</td>
                                                      
												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور مرنجاب
														</a>
													</td>
													<td>
														 دلفان آفرود
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۳۸
														</a>
													</td>
                                                      
												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور شیراز
														</a>
													</td>
													<td>
														 شرکت گردشگری خالو
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a>
														۴۱
														  </a>
													</td>
                                                      
												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور شمال - آمل
														</a>
													</td>
													<td>
														 شرکت خزرجویان
													</td>
													<td>
														 ۵٫۶۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۱۱۲
														  </a>
													</td>
                                                      
												</tr>

												</tbody>
												</table>
											</div>
										</div>
                                        <div class="tab-pane " id="overview_1_3_2">
											<div class="table-responsive">
<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															نام خدمت
														</p>
													</th>
													<th>
														<p class="text-right">
														تامین کننده
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														هزینه کل(تومان)
													</p>
													</th>

													<th>
													<p class="text-right">

														                                                                        تعداد سفارش
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت هواپیما به کیش
														  </a>
													</td>
													<td>
														 ایران ایر IranAir
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a >
														۶۳
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت اتوبوس به اصفهان
														  </a>
													</td>
													<td>
														شرکت واحد اتوبوسرانی
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a >
														۴۵ </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت پارک آبی آزادگان
														</a>
													</td>
													<td>
														پارک آبی آزادگان
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۳۸
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														ماشین مرسدس بنز S500 + راننده
														</a>
													</td>
													<td>
														شرکت وی آی پی (VIP)
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a>
														۴۱
														  </a>
													</td>

												</tr>


												</tbody>
												</table>											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END PORTLET-->
	    			</div>
	    		</div>
				<!-- Transaction-->
				<div class="row">
	    			<div class="col-md-12">
	    				<!-- BEGIN Portlet PORTLET-->
 <div class="portlet light" style="    border: 1px solid #e1e1e1; !important;">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-bar-chart font-yellow-gold"></i>
									<span class="caption-subject font-yellow-gold bold uppercase">
جدول تراکنش های انجام شده
                                    </span>
									<span class="caption-helper">
                                        (هفتگی)
                                    </span>
								</div>
								<div class="tools">
									<a href="javascript:;" data-toggle="modal" class="fa fa-print" data-original-title="" title="چاپ">

                                    </a>
									<a href="javascript:;" data-toggle="modal" class="fa fa-eye" data-original-title="" title="نمایش همه">

                                    </a>
									<a href="MD_Advtable.html" data-toggle="modal" class="fa fa-search" data-original-title="" title="جستجو پیشرفته">

                                    </a>
									<a href="javascript:;" class="fa fa-refresh" data-original-title="" title="بروزرسانی">
									</a>

								</div>
							</div>
							<div class="portlet-body" style="height: auto;">
								<div class="tabbable-line">
									<ul class="nav nav-tabs">


										<li class="active pull-right">
											<a href="#overview_3_1" data-toggle="tab" aria-expanded="true">
																						تراکنش های امروز

											  </a>
										</li>
										<li class=" pull-right">
											<a href="#overview_3_3" data-toggle="tab" aria-expanded="false">
																							تراکنش های ماه

											</a>
										</li>
                                        <li class=" pull-right">
											<a href="#overview_3_2" data-toggle="tab" aria-expanded="false">
											تراکنش های سال
											  </a>
										</li>

									</ul>
									<div class="tab-content">
                                        <div class="tab-pane active" id="overview_3_1">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															مقصد تراکنش
														</p>
													</th>
													<th>
														<p class="text-right">
															دلیل تراکنش
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														هزینه تراکنش(تومان)
													</p>
													</th>
													<th>
													<p class="text-right">
														تاریخ
													</p>
													</th>

													<th>
													<p class="text-right">
														توضیحات
													</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														 شرکت عیاران
														  </a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a >
														توضیحات
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														 شرکت عیاران
														  </a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a >
														توضیحات
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														 شرکت عیاران
														</a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a>
														توضیحات
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														 شرکت عیاران
														</a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a>
														توضیحات
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														 شرکت عیاران
														</a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														 ۵٫۶۰۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a>
														توضیحات
														  </a>
													</td>

												</tr>

												</tbody>
												</table>
											</div>
										</div>
                                        <div class="tab-pane" id="overview_3_2">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															مقصد تراکنش
														</p>
													</th>
													<th>
														<p class="text-right">
															دلیل تراکنش
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														هزینه تراکنش(تومان)
													</p>
													</th>
													<th>
													<p class="text-right">
														تاریخ
													</p>
													</th>

													<th>
													<p class="text-right">
														توضیحات
													</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														دلفان آفرود
														  </a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a >
														توضیحات
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														دلفان آفرود
														  </a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a >
														توضیحات
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														دلفان آفرود
														</a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a>
														توضیحات
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														دلفان آفرود
														</a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a>
														توضیحات
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														دلفان آفرود
														</a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														 ۵٫۶۰۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a>
														توضیحات
														  </a>
													</td>

												</tr>

												</tbody>
												</table>
											</div>
										</div>
										<div class="tab-pane" id="overview_3_3">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															مقصد تراکنش
														</p>
													</th>
													<th>
														<p class="text-right">
															دلیل تراکنش
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														هزینه تراکنش(تومان)
													</p>
													</th>
													<th>
													<p class="text-right">
														تاریخ
													</p>
													</th>

													<th>
													<p class="text-right">
														توضیحات
													</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														کیش سازان جنوب
														  </a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a >
														توضیحات
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														کیش سازان جنوب
														  </a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a >
														توضیحات
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														کیش سازان جنوب
														</a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a>
														توضیحات
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														کیش سازان جنوب
														</a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a>
														توضیحات
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														کیش سازان جنوب
														</a>
													</td>
													<td>
														تصفیه حساب
													</td>
													<td>
														 ۵٫۶۰۰٫۰۰۰
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														<a>
														توضیحات
														  </a>
													</td>

												</tr>

												</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END PORTLET-->
	    			</div>
	    		</div>
				<!-- to be paid-->
				<div class="col-md-12" style="    border: 1px solid #e1e1e1; !important;">
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption font-red-haze">
								<i class="icon-wallet font-red-haze"></i>
								هزینه های قابل پرداخت
							</div>
							<div class="tools">
								<a href="javascript:;" data-toggle="modal" class="fa fa-print" data-original-title="" title="چاپ">

                                    </a>
									<a href="javascript:;" data-toggle="modal" class="fa fa-eye" data-original-title="" title="نمایش همه">

                                    </a>
									<a href="MD_Advtable.html" data-toggle="modal" class="fa fa-search" data-original-title="" title="جستجو پیشرفته">

                                    </a>
									<a href="javascript:;" class="fa fa-refresh" data-original-title="" title="بروزرسانی">
									</a>
							</div>
						</div>
						<div class="portlet-body">

								<div class="table-scrollable pull-right">
									<ul class="nav nav-tabs">


											<li class="active pull-right">
												<a href="#overview_9_1" data-toggle="tab" aria-expanded="true">
																							پرسنل سامانه

												  </a>
											</li>
											<li class=" pull-right">
												<a href="#overview_9_2" data-toggle="tab" aria-expanded="false">
																								گردش ساز

												</a>
											</li>
											<li class=" pull-right">
												<a href="#overview_9_3" data-toggle="tab" aria-expanded="false">
												تامین کننده
												  </a>
											</li>
										</ul>

									<div class="tab-pane " id="overview_9_1">

									<table class="table table-striped table-bordered table-advance table-hover">
									<thead>
									<tr>
										<th class="text-right">
											<i class="fa fa-briefcase"></i>
											در وجه
										</th>
										<th class="text-right hidden-xs">
											<i class="fa fa-bookmark"></i>
											دلیل پرداخت
										</th>
										<th class="text-right">
											<i class="fa fa-money"></i>
											هزینه(تومان)
										</th>
										<th class="text-right">
											<i class="fa fa-info-circle"></i>
											وضعیت
										</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<a href="javascript:;">
											خانم اشمیتیان
											</a>
										</td>
										<td class="hidden-xs">
											 پشتیبانی فنی
										</td>
										<td>
											 ۷۵۰٫۰۰۰
										</td>
										<td>
											<span class="label label-sm label-success label-mini">
											پرداخت شده
											  </span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											خانم اشمیتیان
											</a>
										</td>
										<td class="hidden-xs">
											 پشتیبانی فنی
										</td>
										<td>
											 ۷۵۰٫۰۰۰
										</td>
										<td>
											<span class="label label-sm label-warning label-mini">
												معلق
											</span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											خانم اشمیتیان
											</a>
										</td>
										<td class="hidden-xs">
											 پشتیبانی فنی
										</td>
										<td>
											 ۷۵۰٫۰۰۰
										</td>
										<td>
											<span class="label label-sm label-success label-mini">
											پرداخت شده
											  </span>
										</td>
									</tr>
									<tr>
										<td>
											<a href="javascript:;">
											خانم اشمیتیان
											</a>
										</td>
										<td class="hidden-xs">
											 پشتیبانی فنی
										</td>
										<td>
											 ۷۵۰٫۰۰۰
										</td>
										<td>
											<span class="label label-sm label-danger label-mini">
											پرداخت نشده
											  </span>
										</td>
									</tr>
									</tbody>
									</table>
								</div>


								 </div>

						</div>
					<!-- END SAMPLE TABLE PORTLET-->
				</div>
				</div>


			</div>
    		<!-- END PAGE CONTENT FIXED -->


    	</div>
    </div>
<!-- END JAVASCRIPTS -->
</div>
<!-- END BODY -->
{% endblock %}