﻿<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title> ورود داشبورد مدیریتی | سامانه سپاس ایران</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
{% load staticfiles %}
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="{% static 'assets/admin/pages/css/lock-rtl.css' %}" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="{% static 'assets/global/css/components-rtl.css' %}" id="style_components" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/plugins-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/layout/css/layout-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/layout/css/themes/light-rtl.css' %}" rel="stylesheet" type="text/css" id="style_color"/>
<link href="{% static 'assets/admin/layout/css/custom-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'static/app/content/basefont.css' %}" rel="stylesheet" type="text/css"/>

	<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body>
<div class="page-lock">
	<div class="page-logo">
		<a class="brand" href="#">
		داشبورد مدیریتی
		</a>
	</div>
	<div class="page-body">
		<div class="lock-head">
			 مدیر محترم لطفا گذرواژه خود را وارد کنید
		</div>
		<div class="lock-body">
			<div class="pull-left lock-avatar-block">
				<img src="{% static 'assets/admin/pages/media/profile/circle.jpg' %}" class="lock-avatar">
			</div>
			<form class="lock-form pull-left" action="." method="post">
                {% csrf_token %}
                {{ form.email.as_hidden }}
				
				<div class="form-group">
					{{ form.password }}
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-success uppercase">
						ورود
					</button>
				</div>
			</form>
		</div>
		<div class="lock-bottom">
		</div>
	</div>
	<div class="page-footer-custom">
		2015 © سامانه سپاس ایران طراحی و پیاده‌سازی توسط

		<a href="http://ayandehgroup.ir" title="Ayandeh" target="_blank">گروه آینده نگر</a>
	 		</p>	</div>
</div>
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.cokie.min.js' %}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="{% static 'assets/global/plugins/backstretch/jquery.backstretch.min.js' %}" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="{% static 'assets/global/scripts/metronic.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/admin/layout/scripts/layout.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/admin/layout/scripts/demo.js' %}" type="text/javascript"></script>
<script>
jQuery(document).ready(function() {    
Metronic.init(); // init metronic core components
Layout.init(); // init current layout
Demo.init();
});
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>