﻿{% extends "Manager_Dashboard/layout.html" %}
{% block content %}
<div class="page-quick-sidebar-over-content">

	<!-- BEGIN MAIN LAYOUT -->

	<!-- PAGE CONTENT BEGIN -->
    <div class="container-fluid">
    	<div class="page-content page-content-popup">
    		<!-- BEGIN PAGE CONTENT FIXED -->
			<div class="page-content-fixed-header">
				<h2>گزارش جستجو</h2>

				<div class="content-header-menu">
    				<!-- BEGIN DROPDOWN AJAX MENU -->
    				<!-- END DROPDOWN AJAX MENU -->

    				<!-- BEGIN MENU TOGGLER -->
    				<button type="button" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="toggle-icon">
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </span>
	                </button>
    				<!-- END MENU TOGGLER -->
    			</div>
			</div>

			<!-- BEGIN SIDEBAR -->
			{% include 'Manager_Dashboard/sidebar.html' %}
			<!-- END SIDEBAR -->

			<div class="page-fixed-main-content">
				<!-- 4 element dashboard-->
				<!-- payment-->
				<div class="row">
	    			<div class="col-md-12">
	    				<!-- BEGIN Portlet PORTLET-->
						<div class="portlet light" style="    border: 1px solid #e1e1e1; !important;">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-magnifier font-green-sharp"></i>
									<span class="caption-subject font-green-sharp bold uppercase">
جدول بیشترین جستجو های انجام شده
                                    </span>
									<span class="caption-helper">
                                        (هفتگی)
                                    </span>
								</div>
								<div class="tools">
									<a href="javascript:;" data-toggle="modal" class="fa fa-print" data-original-title="" title="چاپ">

                                    </a>
									<a href="javascript:;" data-toggle="modal" class="fa fa-eye" data-original-title="" title="نمایش همه">

                                    </a>
									<a href="MD_Advtable.html" data-toggle="modal" class="fa fa-search" data-original-title="" title="جستجو پیشرفته">

                                    </a>
									<a href="javascript:;" class="fa fa-refresh" data-original-title="" title="بروزرسانی">
									</a>

								</div>
							</div>
							<div class="portlet-body" style="height: auto;">
								<div class="tabbable-line">
									<ul class="nav nav-tabs">
										<li class="active pull-right">
											<a href="#overview_1_3_3" data-toggle="tab" aria-expanded="true">
											به طور کلی
											  </a>
										</li>
                                        <li class=" pull-right">
											<a href="#overview_1_3_1" data-toggle="tab" aria-expanded="false">
											تورها
											  </a>
										</li>
 										<li class=" pull-right">
											<a href="#overview_1_3_2" data-toggle="tab" aria-expanded="false">
											خدمات
											  </a>
										</li>
									</ul>
									<div class="tab-content">

                                        <div class="tab-pane " id="overview_1_3_1">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															نام تور
														</p>
													</th>
													<th>
														<p class="text-right">
															گردش ساز
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														قیمت
													</p>
													</th>

													<th>
													<p class="text-right">

														                                                                        تعداد جستجو
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														تور یزد
														  </a>
													</td>
													<td>
														 شرکت عیاران
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a >
														۶۳
														  </a>
													</td>
                                                     
												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور جشنواره تابستانه جزیره کیش
														  </a>
													</td>
													<td>
														 شرکت کیش ایران
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a >
														۴۵ </a>
													</td>
                                                      
												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور مرنجاب
														</a>
													</td>
													<td>
														 دلفان آفرود
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۳۸
														</a>
													</td>
                                                      
												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور شیراز
														</a>
													</td>
													<td>
														 شرکت گردشگری خالو
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a>
														۴۱
														  </a>
													</td>
                                                      
												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور شمال - آمل
														</a>
													</td>
													<td>
														 شرکت خزرجویان
													</td>
													<td>
														 ۵٫۶۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۱۱۲
														  </a>
													</td>
                                                      
												</tr>

												</tbody>
												</table>
											</div>
										</div>
                                        <div class="tab-pane " id="overview_1_3_2">
											<div class="table-responsive">
<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															نام خدمت
														</p>
													</th>
													<th>
														<p class="text-right">
														تامین کننده
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														قیمت
													</p>
													</th>

													<th>
													<p class="text-right">

														                                                                        تعداد جستجو
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت هواپیما به کیش
														  </a>
													</td>
													<td>
														 ایران ایر IranAir
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a >
														۶۳
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت اتوبوس به اصفهان
														  </a>
													</td>
													<td>
														شرکت واحد اتوبوسرانی
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a >
														۴۵ </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت پارک آبی آزادگان
														</a>
													</td>
													<td>
														پارک آبی آزادگان
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۳۸
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														ماشین مرسدس بنز S500 + راننده
														</a>
													</td>
													<td>
														شرکت وی آی پی (VIP)
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a>
														۴۱
														  </a>
													</td>

												</tr>


												</tbody>
												</table>											</div>
										</div>
							<!--be tore koli-->
										<div class="tab-pane active " id="overview_1_3_3">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															نام
														</p>
													</th>
													<th>
														<p class="text-right">
														ارایه دهنده
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														قیمت
													</p>
													</th>

													<th>
													<p class="text-right">

															  تعداد جستجو
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت هواپیما به کیش
														  </a>
													</td>
													<td>
														 ایران ایر IranAir
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a >
														۶۳
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت اتوبوس به اصفهان
														  </a>
													</td>
													<td>
														شرکت واحد اتوبوسرانی
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a >
														۴۵ </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت پارک آبی آزادگان
														</a>
													</td>
													<td>
														پارک آبی آزادگان
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۳۸
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														ماشین مرسدس بنز S500 + راننده
														</a>
													</td>
													<td>
														شرکت وی آی پی (VIP)
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a>
														۴۱
														  </a>
													</td>

												</tr>


												</tbody>
												</table>											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END PORTLET-->
	    			</div>
	    		</div>
				<!-- Transaction-->
				<div class="row">
	    			<div class="col-md-12">
	    				<!-- BEGIN Portlet PORTLET-->
						<div class="portlet light" style="    border: 1px solid #e1e1e1; !important;">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-eye font-yellow-gold"></i>
									<span class="caption-subject font-yellow-gold bold uppercase">
جدول پر بازدیدترین ها
                                    </span>
									<span class="caption-helper">
                                        (هفتگی)
                                    </span>
								</div>
								<div class="tools">
									<a href="javascript:;" data-toggle="modal" class="fa fa-print" data-original-title="" title="چاپ">

                                    </a>
									<a href="javascript:;" data-toggle="modal" class="fa fa-eye" data-original-title="" title="نمایش همه">

                                    </a>
									<a href="MD_Advtable.html" data-toggle="modal" class="fa fa-search" data-original-title="" title="جستجو پیشرفته">

                                    </a>
									<a href="javascript:;" class="fa fa-refresh" data-original-title="" title="بروزرسانی">
									</a>

								</div>
							</div>
							<div class="portlet-body" style="height: auto;">
								<div class="tabbable-line">
									<ul class="nav nav-tabs">
										<li class="active pull-right">
											<a href="#overview_6_3_3" data-toggle="tab" aria-expanded="true">
											به طور کلی
											  </a>
										</li>
                                        <li class=" pull-right">
											<a href="#overview_6_3_1" data-toggle="tab" aria-expanded="false">
											تورها
											  </a>
										</li>
 										<li class=" pull-right">
											<a href="#overview_6_3_2" data-toggle="tab" aria-expanded="false">
											خدمات
											  </a>
										</li>
									</ul>
									<div class="tab-content">

                                        <div class="tab-pane " id="overview_6_3_1">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															نام تور
														</p>
													</th>
													<th>
														<p class="text-right">
															گردش ساز
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														قیمت
													</p>
													</th>

													<th>
													<p class="text-right">

														تعداد بازدید
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														تور یزد
														  </a>
													</td>
													<td>
														 شرکت عیاران
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a >
														۶۳
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور جشنواره تابستانه جزیره کیش
														  </a>
													</td>
													<td>
														 شرکت کیش ایران
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a >
														۴۵ </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور مرنجاب
														</a>
													</td>
													<td>
														 دلفان آفرود
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۳۸
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور شیراز
														</a>
													</td>
													<td>
														 شرکت گردشگری خالو
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a>
														۴۱
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور شمال - آمل
														</a>
													</td>
													<td>
														 شرکت خزرجویان
													</td>
													<td>
														 ۵٫۶۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۱۱۲
														  </a>
													</td>

												</tr>

												</tbody>
												</table>
											</div>
										</div>
                                        <div class="tab-pane " id="overview_6_3_2">
											<div class="table-responsive">
<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															نام خدمت
														</p>
													</th>
													<th>
														<p class="text-right">
														تامین کننده
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														قیمت
													</p>
													</th>

													<th>
													<p class="text-right">

														تعداد بازدید
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت هواپیما به کیش
														  </a>
													</td>
													<td>
														 ایران ایر IranAir
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a >
														۶۳
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت اتوبوس به اصفهان
														  </a>
													</td>
													<td>
														شرکت واحد اتوبوسرانی
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a >
														۴۵ </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت پارک آبی آزادگان
														</a>
													</td>
													<td>
														پارک آبی آزادگان
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۳۸
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														ماشین مرسدس بنز S500 + راننده
														</a>
													</td>
													<td>
														شرکت وی آی پی (VIP)
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a>
														۴۱
														  </a>
													</td>

												</tr>


												</tbody>
												</table>											</div>
										</div>
							<!--be tore koli-->
										<div class="tab-pane active " id="overview_6_3_3">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															نام
														</p>
													</th>
													<th>
														<p class="text-right">
														ارایه دهنده
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														قیمت
													</p>
													</th>

													<th>
													<p class="text-right">

															  تعداد بازدید
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت هواپیما به کیش
														  </a>
													</td>
													<td>
														 ایران ایر IranAir
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a >
														۶۳
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت اتوبوس به اصفهان
														  </a>
													</td>
													<td>
														شرکت واحد اتوبوسرانی
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a >
														۴۵ </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت پارک آبی آزادگان
														</a>
													</td>
													<td>
														پارک آبی آزادگان
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۳۸
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														ماشین مرسدس بنز S500 + راننده
														</a>
													</td>
													<td>
														شرکت وی آی پی (VIP)
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a>
														۴۱
														  </a>
													</td>

												</tr>


												</tbody>
												</table>											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END PORTLET-->
	    			</div>
	    		</div>
				<!-- to be paid-->
				<div class="row">
	    			<div class="col-md-12">
	    				<!-- BEGIN Portlet PORTLET-->
						<div class="portlet light" style="    border: 1px solid #e1e1e1; !important;">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-heart font-red"></i>
									<span class="caption-subject font-red bold uppercase">
جدول محبوبترین ها
                                    </span>
									<span class="caption-helper">
                                        (هفتگی)
                                    </span>
								</div>
								<div class="tools">
									<a href="javascript:;" data-toggle="modal" class="fa fa-print" data-original-title="" title="چاپ">

                                    </a>
									<a href="javascript:;" data-toggle="modal" class="fa fa-eye" data-original-title="" title="نمایش همه">

                                    </a>
									<a href="MD_Advtable.html" data-toggle="modal" class="fa fa-search" data-original-title="" title="جستجو پیشرفته">

                                    </a>
									<a href="javascript:;" class="fa fa-refresh" data-original-title="" title="بروزرسانی">
									</a>

								</div>
							</div>
							<div class="portlet-body" style="height: auto;">
								<div class="tabbable-line">
									<ul class="nav nav-tabs">
										<li class="active pull-right">
											<a href="#overview_7_3_3" data-toggle="tab" aria-expanded="true">
											به طور کلی
											  </a>
										</li>
                                        <li class=" pull-right">
											<a href="#overview_7_3_1" data-toggle="tab" aria-expanded="false">
											تورها
											  </a>
										</li>
 										<li class=" pull-right">
											<a href="#overview_7_3_2" data-toggle="tab" aria-expanded="false">
											خدمات
											  </a>
										</li>
									</ul>
									<div class="tab-content">

                                        <div class="tab-pane " id="overview_7_3_1">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															نام تور
														</p>
													</th>
													<th>
														<p class="text-right">
															گردش ساز
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														قیمت
													</p>
													</th>

													<th>
													<p class="text-right">
														محبوبیت (از ۵ ستاره)
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														تور یزد
														  </a>
													</td>
													<td>
														 شرکت عیاران
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور جشنواره تابستانه جزیره کیش
														  </a>
													</td>
													<td>
														 شرکت کیش ایران
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور مرنجاب
														</a>
													</td>
													<td>
														 دلفان آفرود
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور شیراز
														</a>
													</td>
													<td>
														 شرکت گردشگری خالو
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور شمال - آمل
														</a>
													</td>
													<td>
														 شرکت خزرجویان
													</td>
													<td>
														 ۵٫۶۰۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>

												</tbody>
												</table>
											</div>
										</div>
                                        <div class="tab-pane " id="overview_7_3_2">
											<div class="table-responsive">
<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															نام خدمت
														</p>
													</th>
													<th>
														<p class="text-right">
														تامین کننده
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														قیمت
													</p>
													</th>

													<th>
													<p class="text-right">

														محبوبیت (از ۵ ستاره)
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت هواپیما به کیش
														  </a>
													</td>
													<td>
														 ایران ایر IranAir
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت اتوبوس به اصفهان
														  </a>
													</td>
													<td>
														شرکت واحد اتوبوسرانی
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت پارک آبی آزادگان
														</a>
													</td>
													<td>
														پارک آبی آزادگان
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														ماشین مرسدس بنز S500 + راننده
														</a>
													</td>
													<td>
														شرکت وی آی پی (VIP)
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>


												</tbody>
												</table>											</div>
										</div>
							<!--be tore koli-->
										<div class="tab-pane active " id="overview_7_3_3">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class="text-right">
															نام
														</p>
													</th>
													<th>
														<p class="text-right">
														ارایه دهنده
														</p>
													</th>
                                                    <th>
														<p class="text-right">
														قیمت
													</p>
													</th>

													<th>
													<p class="text-right">

														محبوبیت (از ۵ ستاره)
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت هواپیما به کیش
														  </a>
													</td>
													<td>
														 ایران ایر IranAir
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت اتوبوس به اصفهان
														  </a>
													</td>
													<td>
														شرکت واحد اتوبوسرانی
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت پارک آبی آزادگان
														</a>
													</td>
													<td>
														پارک آبی آزادگان
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														ماشین مرسدس بنز S500 + راننده
														</a>
													</td>
													<td>
														شرکت وی آی پی (VIP)
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a class="font-yellow-gold fa fa-heart">
														۳.۶
														  </a>
													</td>

												</tr>


												</tbody>
												</table>											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END PORTLET-->
	    			</div>
	    		</div>


			</div>
    		<!-- END PAGE CONTENT FIXED -->
    	</div>
    </div>
	<!-- PAGE CONTENT END -->
    <!-- END MAIN LAYOUT -->
</div>
{% endblock %}