﻿{% extends "Manager_Dashboard/layout.html" %}
{% block content %}
<div class="page-quick-sidebar-over-content">
	<!-- PAGE CONTENT BEGIN -->
    <div class="page-content">
    	<div class="container">
    		<!-- Center Wrap BEGIN -->
    		<div class="center-wrap">
    			<div class="center-align">
    				<div class="center-body">
			    		<div class="row">
			    			<div class="col-sm-6 margin-bottom-30">
			    				<a class="webapp-btn" href="{% url 'Manager_Dashboard:finance' %}">
			    					<h3>
										گزارش مالی
									</h3>
			    					<p>
									</p>
			    				</a>
			    			</div>
			    			<div class="col-sm-6 margin-bottom-30">
			    				<a class="webapp-btn" href="{% url 'Manager_Dashboard:coworker' %}">
			    					<h3>گزارش همکاران</h3>
			    					<p></p>
			    				</a>
			    			</div>
			    		</div>
			    		<div class="row">
			    			<div class="col-sm-6 sm-margin-bottom-30">
			    				<a class="webapp-btn" href="{% url 'Manager_Dashboard:search' %}">
			    					<h3>گزارش جستجو</h3>
			    					<p>

									</p>
			    				</a>
			    			</div>
			    			<div class="col-sm-6">
			    				<a class="webapp-btn" href="{% url 'Manager_Dashboard:users' %}">
			    					<h3>
										گزارش کاربران
									</h3>
			    					<p>

									</p>
			    				</a>
			    			</div>
			    		</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}