﻿<div class="page-sidebar-wrapper">
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
			<li class="{{ active.0 }}">
				<a href="{% url 'Manager_Dashboard:start' %}">
				<i class="icon-home"></i>
				<span class="title">
					خانه
				</span>
				</a>
			</li> 
			<li class="{{ active.1 }}">
				<a href="{% url 'Manager_Dashboard:finance' %}">
				<i class="icon-wallet"></i>
				<span class="title">
					گزارش مالی
				</span>
				</a>
			</li>
			<li class="{{ active.2 }}">
				<a href="{% url 'Manager_Dashboard:coworker' %}">
				<i class="icon-user"></i>
				<span class="title">
					گزارش همکاران
				</span>
				</a>
			</li>
			<li class="{{ active.3 }}">
				<a href="{% url 'Manager_Dashboard:users' %}">
				<i class="icon-users"></i>
				<span class="title">
					گزارش کاربران
				</span>
				</a>
			</li>
			<li class="{{ active.4 }}">
				<a href="{% url 'Manager_Dashboard:search' %}">
				<i class="icon-magnifier"></i>
				<span class="title">
					گزارش جستجو
				</span>
				</a>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
</div>