@font-face {
    font-family: 'WYekan';
    src: url('../fonts/WebYekan.eot');
    src: url('../fonts/WebYekan.eot?#iefix') format('embedded-opentype'), url('../fonts/WebYekan.woff') format('woff'), url('../fonts/WebYekan.ttf') format('truetype'), url('../fonts/WebYekan.svg#WebYekan') format('svg');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0600 â€“ 06 FF;
}

html {
    font-family: "WYekan", sans-serif !important;
    direction: rtl;
}

body {
    font-family: "WYekan", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 15px;
    line-height: 1.42857143;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "WYekan", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

#fancybox-wrap {
  position: absolute;
  top: 100px !important;
}

.fancybox-wrap22 {
  top: 22px !important;
}