/*############### search result #########*/
.boldnumber {
    font-size: 25px;
    margin-bottom: 0;
}

.days {
    display: block;
    margin-bottom: 5px;
}

.bg-white {
    color: #a9a9a9;
    background-color: white;
}

.bg-grey {
    color: #222222;
    background-color: #B6B6B6;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.excerpt {
    max-height: 160px;
!important;
    min-height: 160px;
!important;
    border-right: 1px solid rgb(213, 213, 213);
}

.excerpt-img {
    width: 100%;
    max-height: 160px;
!important;
    min-height: 160px;
!important;
}

.scrollspy-feature {
    position: relative;
    height: 243px;
    overflow: auto;
}

.thuumbnailpic {
    font-size: 30px;
}

.block-feature {
    border: 1px solid #E2DBDB;
    height: 265px;
}

.block-feature2 {
    border: 1px solid #E2DBDB;
    height: auto;
}

.irs-diapason {
    background-color: #428bca;
}

.rangedirection {
    direction: ltr;
!important;
}

.irs {
    direction: ltr
}

.itemsborder {
    border-right: 1px solid rgb(213, 213, 213);
    border-bottom: 1px solid rgb(213, 213, 213);
}

/*######### search result end ##########*/

/*######## tour details sidebar######*/
.top-news {
    color: #fff;
    margin: 8px 0;
}

.top-news em {
    font-size: 13px;
    margin-bottom: 8px;
    margin-bottom: 0;
    font-style: normal;
    display: block;
}

.top-news em i {
    font-size: 14px;
}

.top-news span {
    font-size: 18px;
    margin-bottom: 5px;
    display: block;
    text-align: right;
}

.top-news a {
    display: block;
    text-align: right;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
}

.top-news a .top-news-icon {
    left: 8px;
    bottom: 15px;
    opacity: 0.3;
    font-size: 35px;
    position: absolute;
    filter: alpha(opacity=30);
    /*For IE8*/
}

.top-news .btn + .btn {
    margin-right: 0;
}

/*######## tour details sidebar######*/
.nav-tabs > li > a {
    border-radius: 0;
}

/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{*/
/*border-bottom-color: grey;*/
/*background-color: #D3D3D3;*/
/*}*/
.navbar {
    margin-bottom: 0;
}

.dropdown-field {
    min-width: 220px;
}

.p5 {
    padding: 5px;
}

#lastnews {
    position: relative;
    height: 434px;
    overflow: auto;
}

.bg-dark {
    background-color: #575757;
}

.text-white {
    color: white;
}

.navbar-inverse {
    background-color: #616161;
    border-color: #616161;
}

a {
    text-decoration: none !important
}

.thumbnail-margin {
    margin-bottom: 15px;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }