﻿
    {% block link %}
    <title> | گزارش همکاران</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="../../../static/app/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="../../../static/app/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="../../../static/app/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="../../../static/app/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="../../../static/app/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
<link href="../../../static/app/assets/global/plugins/morris/morris.css" rel="stylesheet" type="text/css">
<!-- END PAGE LEVEL PLUGIN STYLES -->
<!-- BEGIN PAGE STYLES -->
<link href="../../../static/app/assets/admin/pages/css/tasks-rtl.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE STYLES -->
<!-- BEGIN THEME STYLES -->
<!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
<link href="../../../static/app/assets/global/css/components-rtl.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="../../../static/app/assets/global/css/plugins-rtl.css" rel="stylesheet" type="text/css"/>
<link href="../../../static/app/assets/admin/layout6/css/layout-rtl.css" rel="stylesheet" type="text/css"/>
<link href="../../../static/app/assets/admin/layout6/css/custom-rtl.css" rel="stylesheet" type="text/css"/>
<link href="../../../static/app/content/basefont.css" rel="stylesheet" type="text/css"/>


<link href="../../../static/app/assets/global/plugins/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css">
<link href="../../../static/app/assets/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../../../static/app/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<link href="../../../static/app/assets/admin/pages/css/profile-old-rtl.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME STYLES -->
<link href="../../../static/app/assets/global/css/plugins-rtl.css" rel="stylesheet" type="text/css"/>
<link href="../../../static/app/assets/admin/layout4/css/layout-rtl.css" rel="stylesheet" type="text/css"/>
<link id="style_color" href="../../../static/app/assets/admin/layout4/css/themes/light-rtl.css" rel="stylesheet" type="text/css"/>
<link href="../../../static/app/assets/admin/layout4/css/custom-rtl.css" rel="stylesheet" type="text/css"/>

	<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../../../static/app/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css"/>
<link href="../../../static/app/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->






<!-- END THEME STYLES -->
<link rel="shortcut icon" href="favicon.ico"/>

    {% endblock %}
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-quick-sidebar-over-content">

	<!-- BEGIN MAIN LAYOUT -->
	<!-- HEADER BEGIN -->
    <header class="page-header">
        <nav class="navbar" role="navigation">
            <div class="container-fluid">
                <div class="havbar-header">
                	<!-- BEGIN LOGO -->

                    <a id="index" class="navbar-brand" href="MD_start.html">
                        <img src="../../../static/app/assets/admin/layout6/img/logo.png" alt="Logo">
                    </a>
                	<!-- END LOGO -->

	                <!-- BEGIN TOPBAR ACTIONS -->
	                <div class="topbar-actions">
		                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
						<form class="search-form" action="extra_search.html" method="GET">
							<div class="input-group">
								<span class="input-group-btn">
								</span>
							</div>
						</form>
						<!-- END HEADER SEARCH BOX -->

	                	<!-- BEGIN GROUP NOTIFICATION -->
						<div class="btn-group-notification btn-group" id="header_notification_bar">
							<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								<span class="badge" style="color: #C70000 !important;">۴</span>
							</button>
							<ul class="dropdown-menu-v2">
								<li class="external">
									<h3><span class="bold">۴ خبر </span> دیده نشده</h3>									<!--<a href="#">view all</a>-->
								</li>
								<li>
									<ul class="dropdown-menu-list scroller" style="height: 250px; padding: 0;" data-handle-color="#637283">
										<li>
											<a href="javascript:;">
												<span class="details">
													<span class="label label-sm label-icon label-success">
														<i class="fa fa-plus"></i>
													</span>
 														یک گردشساز جدید ثبت نام کرده است
 												</span>
												<span class="time">۷ دقیقه پیش</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span class="details">
													<span class="label label-sm label-icon label-danger">
														<i class="fa fa-bolt"></i>
													</span>
														وضعیت تب پلاستیک (تامین کننده ) به صورت تعلیغ درآمد!
												</span>
												<span class="time">
													۲۱ دقیقه پیش
												</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span class="details">
													<span class="label label-sm label-icon label-warning">
														<i class="fa fa-bell-o"></i>
													</span>
														گزارش مالی هفتگی آماده است!
												</span>
												<span class="time">۳ ساعت پیش</span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span class="details">
													<span class="label label-sm label-icon label-info">
														<i class="fa fa-bullhorn"></i>
													</span>
														بیشترین تور جستجو شده - تور کیش (شرکت عیاران(گردشساز))
												</span>
												<span class="time">۲ روز پیش</span>
											</a>
										</li>

									</ul>
								</li>
							</ul>
						</div>
	                	<!-- END GROUP NOTIFICATION -->

	                	<!-- BEGIN USER PROFILE -->
		                <div class="btn-group-img btn-group">
							<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								<img src="../../../assets/admin/layout5/img/avatar1.jpg" alt="">
							</button>
							<ul class="dropdown-menu-v2" role="menu">
								<li class="active">
									<a href="profile.html">کار های من <span class="badge badge-danger">۷</span> </a>
									<!-- Modal -->


								</li>

								<li class="divider"></li>
								<li>
									<a href="MD_lock_screen.html">
										خروج
									</a>
								</li>
							</ul>
						</div>
						<!-- END USER PROFILE -->
					</div>
	                <!-- END TOPBAR ACTIONS -->
                </div>
            </div>
            <!--/container-->
        </nav>
    </header>
	<!-- HEADER END -->

	<!-- PAGE CONTENT BEGIN -->
    <div class="container-fluid">

    	<div class="page-content page-content-popup">
    		<!-- BEGIN PAGE CONTENT FIXED -->
			<div class="page-content-fixed-header">
				<h2>گزارش همکاران</h2>

				<div class="content-header-menu">
    				<!-- BEGIN DROPDOWN AJAX MENU -->
    				<!-- END DROPDOWN AJAX MENU -->

    				<!-- BEGIN MENU TOGGLER -->
    				<button type="button" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="toggle-icon">
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </span>
	                </button>
    				<!-- END MENU TOGGLER -->
    			</div>
			</div>

			<!-- BEGIN SIDEBAR -->
			<div class="page-sidebar-wrapper">
				<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
				<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
				<div class="page-sidebar navbar-collapse collapse">
					<!-- BEGIN SIDEBAR MENU -->
					<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
					<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
					<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
					<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
					<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
					<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
					<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
						<li>
							<a href="MD_start.html">
							<i class="icon-home"></i>
							<span class="title">
								خانه
							</span>
							</a>
						</li>
						<li>
							<a href="MD_Finance.html">
							<i class="icon-wallet"></i>
							<span class="title">
								گزارش مالی
							</span>
							</a>
						</li>
						<li class="active">
							<a href="MD_coworker.html">
							<i class="icon-user"></i>
							<span class="title">
								گزارش همکاران
							</span>
							</a>
						</li>
						<li>
							<a href="MD_Users.html">
							<i class="icon-users"></i>
							<span class="title">
								گزارش کاربران
							</span>
							</a>
						</li>
						<li>
							<a href="MD_Search.html">
							<i class="icon-magnifier"></i>
							<span class="title">
								گزارش جستجو
							</span>
							</a>
						</li>
					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>
			<!-- END SIDEBAR -->

			<div class="page-fixed-main-content">
				<div class="row">
					<div class="col-md-12">
<div class="page-content" style="    border: 1px solid #e1e1e1; !important;">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="row profile pull-right">
				<div class="col-md-12">
					<!--BEGIN TABS-->
					<div class="tabbable tabbable-custom tabbable-noborder" >
						<ul class="nav nav-tabs text-right">


						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab_1_1">
								<div class="row">

									<div class="col-md-3">
										<ul class="list-unstyled profile-nav">
											<li>
												<img src="../../../assets/admin/pages/media/profile/profile-img.png" class="img-responsive" alt="">

											</li>
											<li>
												<a href="javascript:;">
													معلق کردن
												  </a>
											</li>

										</ul>
										<div class="">
						<a class="dashboard-stat dashboard-stat-light red-intense" href="javascript:;">
						<div class="visual">
							<i class="fa fa-money"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۵۴٫۰۰۰٫۰۰۰
							</div>
							<div class="desc">
								طلب از سامانه
							</div>
						</div>
						</a>
					</div>
										<div class="col-md-6" style="    margin-right: 12% !important;">


									<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
										مشاهده مشخصات
									</button>

													  <!-- Modal -->
													  <div class="modal fade" id="myModal" role="dialog">

														  <!-- Modal content-->
														  <div class="modal-content">

															<div class="modal-body">
															  <div class="tab-pane active" id="tab_3">


								<div class="portlet box blue">
									<div class="portlet-title">
										<div class="caption">
											<i class="fa fa-list"></i>
											مشخصات
										</div>
									</div>
									<div class="portlet-body form">
										<!-- BEGIN FORM-->
										<form class="form-horizontal" role="form">
											<div class="form-body">
												<h3 class="form-section">
												مشخصات حقوقی
												</h3>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label class="control-label col-md-3">
																		نام :
															</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 محسن
																</p>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-3">

																نام خانوادگی :
															</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 دلفان آذری
																</p>
															</div>
														</div>
													</div>
													<div class="form-group">
															<label class="control-label col-md-3">
																	کد ملی :
																</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	۰۱۲۳۴۵۶۷۸۹
																</p>
															</div>
														</div>
													<div class="form-group">
															<label class="control-label col-md-3">
																<i class="fa fa-mobile"></i>
																موبایل :
															</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 ۰۹۱۲۳۴۵۶۷۸۹
																</p>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-3">
																<i class="fa fa-phone"></i>
																تلفن ثابت :
															</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 ۰۲۱-۲۳۴۵۶۷۸۹
																</p>
															</div>
														</div>
													<div class="form-group">
															<label class="control-label col-md-3">
																																	<i class="fa fa-building"></i>

																نام شرکت :
															</label>
															<div class="col-md-9">
																<p class="form-control-static">

																	  دلفان آفرود
																</p>
															</div>
														</div>
													<div class="form-group">
															<label class="control-label col-md-3">
																<i class="fa fa-globe"></i>
																وب سایت :
															</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 www.delfanoffroad.com
																</p>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-3">
																<i class="fa fa-envelope"></i>
																ایمیل :
															</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	info@delfanoffroad.com
																</p>
															</div>
														</div>
													<div class="form-group">
															<label class="control-label col-md-3">
																<i class="fa fa-map-marker"></i>
																آدرس :
															</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	 تهران، خ شریعتی،خ دولت، ۲۰۰ متر بعد از رستوران فارسی، کوچه معتقد، بن بست بامداد، پلاک ۲ ، واحد ۲
																</p>
															</div>
														</div>
													<div class="form-group">
															<label class="control-label col-md-3">
																<i class="fa fa-envelope-o"></i>
																کد پستی :
															</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	۹۰۸۷۶-۵۴۳۲۱
																</p>
															</div>
														</div>
													<div class="form-group">
															<label class="control-label col-md-3">
																شماره صنفی :
															</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	۱۲۳۴-۸۷۶۵
																</p>
															</div>
														</div>
													<div class="form-group">
															<label class="control-label col-md-3">

 																شماره عضویت :
															</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	DLF-۱۲۳۴
																</p>
															</div>
														</div>
													<div class="form-group">
															<label class="control-label col-md-3">
																<i class="fa fa-credit-card"></i>
																شماره حساب
															</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	۱۲۳۴-۵۶۷۸-۹۰۱۲-۳۴۵۶
																</p>
															</div>
														</div>
														<div class="form-group">
															<label class="control-label col-md-3">
																<i class="fa fa-bars"></i>
																توضیحات :
															</label>
															<div class="col-md-9">
																<p class="form-control-static">
																	با توجه به کیفیت کار این گردش ساز می توانیم آن را بیشتر در صفحه اول نشان دهیم
																</p>
															</div>
														</div>
													<!--/span-->


												</div>
											</div>
										</form>
										<!-- END FORM-->
									</div>
								</div>




							</div>
															</div>
															<div class="modal-footer pull-left">
															  <button type="button" class="btn btn-default" data-dismiss="modal">
																  بازگشت
															  </button>
															</div>
														  </div>




													  </div>
													</div>


									</div>

									<div class="col-md-9">
										<div class="row">
											<div class="col-md-8 profile-info">
												<h1>
													دلفان آفرود(گردش ساز)
												</h1>
												<p>
زندگی شهری با تمام تلاش خود برای گسترش رفاه حال انسان ها، هنوز نتوانسته حس آرامش طلبی انسان را نسبت به خود راضی نگه دارد و کمبود آرامش فکری و روانی در شهرنشینی همواره جای خالی خود را در زندگی روزانه همه ما نشان داده است.

انسان همواره به دنبال راه گریزی از این هیاهو و دغدغه بوده و یکی از بهترین وآسان ترین این راه ها، سفر کردن بوده است. از میان انواع سفر آنچه که بیش از همه حس آرامش را به آدمی بازمی گرداند، سفر به طبیعت و دیدن هر آنچه غیر از شهر و وابستگی هایش است. نگاه به سفر از دید یک نیاز برای زندگی امروز، بهانه ای شد برای آغاز فعالیت گروه دلفان آفرود از سال ۱۳۸۷، برای پایه گذاری و ترویج فرهنگ سفر در طبیعت، با شیوه ای نوین و با استفاده از خودروهای دودیفرانسیل. همه تلاش ما برای آشتی انسان با طبیعت و تشویق انسان ها به تماشای زیبایی های طبیعت است.

												</p>
<hr>
												<ul class="list-inline">
													<li>
														<i class="fa fa-map-marker"></i>
														تهران، خ شریعتی،خ دولت، ۲۰۰ متر بعد از رستوران فارسی، کوچه معتقد، بن بست بامداد، پلاک ۲ ، واحد ۲
													</li>

													<li>
														<i class="fa fa-user"></i>
														آقای دلفان آذری
													</li>
													<li>
														<i class="fa fa-globe"></i>
													<a href="https://www.delfanoffroad.com">
													www.delfanoffroad.com </a>
													</li>

												</ul>
											</div>
											<!--end col-md-8-->
											<div class="col-md-4">
												<div class="portlet sale-summary">
													<div class="portlet-title">
														<div class="caption">
															 خلاصه فعالیت های مالی
														</div>
														<div class="tools">
															<a class="reload" href="javascript:;" data-original-title="" title="">
															</a>
														</div>
													</div>
													<div class="portlet-body">
														<ul class="list-unstyled">
															<li>
																<span class="sale-info">
																	فروش هفتگی
																   <i class="fa fa-img-up"></i>
																</span>
																<span class="sale-num">
																23 </span>
															</li>
															<li>
																<span class="sale-info">
																فروش ماه
																  <i class="fa fa-img-down"></i>
																</span>
																<span class="sale-num">
																87 </span>
															</li>
															<li>
																<span class="sale-info">
																فروش کلی
																  </span>
																<span class="sale-num">
																2377 </span>
															</li>
															<li>
																<span class="sale-info">
																درآمد(تومان)
																  </span>
																<span class="sale-num">
																۳۸٫۸۵۰٫۰۰۰
																</span>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<!--end col-md-4-->
										</div>
										<!--end row-->
										<div class="tabbable tabbable-custom tabbable-custom-profile" style="    border: 1px solid #e1e1e1; !important;">
											<ul class="nav nav-tabs">
												<li class="active">
													<a href="#tab_1_11" data-toggle="tab">
													لیست تور ها
													  </a>
												</li>
												<li>
													<a href="#tab_1_22" data-toggle="tab">
													آخرین فعالیت ها
													  </a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab_1_11">
													<div class="portlet-body">
														<table class="table table-striped table-bordered table-advance table-hover">
														<thead>
														<tr>
															<th>
																<i class="fa fa-list-alt"></i>
																اسم تور
															</th>
															<th class="hidden-xs">
																<i class="fa fa-calendar"></i>
																تاریخ ارایه
															</th>
															<th>
																<i class="fa fa-money"></i>
																قیمت (تومان)
															</th>
															<th>
																<i class="fa fa-shopping-cart"></i>
																تعداد فروش
															</th>
															<th>
																<i class="fa fa-money"></i>
															درآمد کلی (تومان)
															</th>
														</tr>
														</thead>
														<tbody>

														<tr>
															<td>
																<a href="javascript:;">
																تور کویر مرنجاب
																</a>
															</td>
															<td class="hidden-xs">
																 ۱۳۹۴/۴/۱۳
															</td>
															<td>
																۱۷۵٫۵۰۰
															</td>
															<td>
																۱۰۰
															</td>
															<td>
																۱۷٫۹۸۰٫۰۰۰
															</td>
														</tr>
														<tr>
															<td>
																<a href="javascript:;">
																تور کویر مرنجاب
																</a>
															</td>
															<td class="hidden-xs">
																 ۱۳۹۴/۴/۱۳
															</td>
															<td>
																۱۷۵٫۵۰۰
															</td>
															<td>
																۱۰۰
															</td>
															<td>
																۱۷٫۹۸۰٫۰۰۰
															</td>
														</tr>
														<tr>
															<td>
																<a href="javascript:;">
																تور کویر مرنجاب
																</a>
															</td>
															<td class="hidden-xs">
																 ۱۳۹۴/۴/۱۳
															</td>
															<td>
																۱۷۵٫۵۰۰
															</td>
															<td>
																۱۰۰
															</td>
															<td>
																۱۷٫۹۸۰٫۰۰۰
															</td>
														</tr>
														<tr>
															<td>
																<a href="javascript:;">
																تور کویر مرنجاب
																</a>
															</td>
															<td class="hidden-xs">
																 ۱۳۹۴/۴/۱۳
															</td>
															<td>
																۱۷۵٫۵۰۰
															</td>
															<td>
																۱۰۰
															</td>
															<td>
																۱۷٫۹۸۰٫۰۰۰
															</td>
														</tr>
														<tr>
															<td>
																<a href="javascript:;">
																تور کویر مرنجاب
																</a>
															</td>
															<td class="hidden-xs">
																 ۱۳۹۴/۴/۱۳
															</td>
															<td>
																۱۷۵٫۵۰۰
															</td>
															<td>
																۱۰۰
															</td>
															<td>
																۱۷٫۹۸۰٫۰۰۰
															</td>
														</tr>
														<tr>
															<td>
																<a href="javascript:;">
																تور کویر مرنجاب
																</a>
															</td>
															<td class="hidden-xs">
																 ۱۳۹۴/۴/۱۳
															</td>
															<td>
																۱۷۵٫۵۰۰
															</td>
															<td>
																۱۰۰
															</td>
															<td>
																۱۷٫۹۸۰٫۰۰۰
															</td>
														</tr>




														</tbody>
														</table>
													</div>
												</div>
												<!--tab-pane-->
												<div class="tab-pane" id="tab_1_22">
													<div class="tab-pane active" id="tab_1_1_1">
														<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 290px;"><div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1" data-initialized="1" style="overflow: hidden; width: auto; height: 290px;">
															<ul class="feeds">

																<li>
																	<a href="javascript:;">
																	<div class="col1">
																		<div class="cont">
																			<div class="cont-col1">
																				<div class="label label-success">
																					<i class="fa fa-bell-o"></i>
																				</div>
																			</div>
																			<div class="cont-col2">
																				<div class="desc">
																					 ۳۲ کاربر جدید از  خدمات این گردش ساز دیدن کردند.
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col2">
																		<p class="date">

																			  ۳۰ دقیقه پیش
																		</p>
																	</div>
																	</a>
																</li>
																<li>
																	<a href="javascript:;">
																	<div class="col1">
																		<div class="cont">
																			<div class="cont-col1">
																				<div class="label label-success">
																					<i class="fa fa-bell-o"></i>
																				</div>
																			</div>
																			<div class="cont-col2">
																				<div class="desc">
																					 ۳۲ کاربر جدید از  خدمات این گردش ساز دیدن کردند.
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col2">
																		<p class="date">

																			  ۳۰ دقیقه پیش
																		</p>
																	</div>
																	</a>
																</li>
																<li>
																	<a href="javascript:;">
																	<div class="col1">
																		<div class="cont">
																			<div class="cont-col1">
																				<div class="label label-success">
																					<i class="fa fa-bell-o"></i>
																				</div>
																			</div>
																			<div class="cont-col2">
																				<div class="desc">
																					 ۳۲ کاربر جدید از  خدمات این گردش ساز دیدن کردند.
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col2">
																		<p class="date">

																			  ۳۰ دقیقه پیش
																		</p>
																	</div>
																	</a>
																</li>
																<li>
																	<a href="javascript:;">
																	<div class="col1">
																		<div class="cont">
																			<div class="cont-col1">
																				<div class="label label-success">
																					<i class="fa fa-bell-o"></i>
																				</div>
																			</div>
																			<div class="cont-col2">
																				<div class="desc">
																					 ۳۲ کاربر جدید از  خدمات این گردش ساز دیدن کردند.
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col2">
																		<p class="date">

																			  ۳۰ دقیقه پیش
																		</p>
																	</div>
																	</a>
																</li>
																<li>
																	<a href="javascript:;">
																	<div class="col1">
																		<div class="cont">
																			<div class="cont-col1">
																				<div class="label label-success">
																					<i class="fa fa-bell-o"></i>
																				</div>
																			</div>
																			<div class="cont-col2">
																				<div class="desc">
																					 ۳۲ کاربر جدید از  خدمات این گردش ساز دیدن کردند.
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col2">
																		<p class="date">

																			  ۳۰ دقیقه پیش
																		</p>
																	</div>
																	</a>
																</li>
																<li>
																	<a href="javascript:;">
																	<div class="col1">
																		<div class="cont">
																			<div class="cont-col1">
																				<div class="label label-success">
																					<i class="fa fa-bell-o"></i>
																				</div>
																			</div>
																			<div class="cont-col2">
																				<div class="desc">
																					 ۳۲ کاربر جدید از  خدمات این گردش ساز دیدن کردند.
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col2">
																		<p class="date">

																			  ۳۰ دقیقه پیش
																		</p>
																	</div>
																	</a>
																</li>
																<li>
																	<a href="javascript:;">
																	<div class="col1">
																		<div class="cont">
																			<div class="cont-col1">
																				<div class="label label-success">
																					<i class="fa fa-bell-o"></i>
																				</div>
																			</div>
																			<div class="cont-col2">
																				<div class="desc">
																					 ۳۲ کاربر جدید از  خدمات این گردش ساز دیدن کردند.
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col2">
																		<p class="date">

																			  ۳۰ دقیقه پیش
																		</p>
																	</div>
																	</a>
																</li>
																<li>
																	<a href="javascript:;">
																	<div class="col1">
																		<div class="cont">
																			<div class="cont-col1">
																				<div class="label label-success">
																					<i class="fa fa-bell-o"></i>
																				</div>
																			</div>
																			<div class="cont-col2">
																				<div class="desc">
																					 ۳۲ کاربر جدید از  خدمات این گردش ساز دیدن کردند.
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col2">
																		<p class="date">

																			  ۳۰ دقیقه پیش
																		</p>
																	</div>
																	</a>
																</li>
															</ul>
														</div><div class="slimScrollBar" style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; left: 1px; background: rgb(187, 187, 187);"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; left: 1px; background: rgb(234, 234, 234);"></div></div>
													</div>
												</div>
												<!--tab-pane-->
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--tab_1_2-->
							<!--end tab-pane-->
							<div class="tab-pane" id="tab_1_4">
								<div class="row">
									<div class="col-md-12">

									</div>
								</div>
								<!--end add-portfolio-->
								<div class="row portfolio-block">
									<div class="col-md-5">
										<div class="portfolio-text">
											<img src="../../../assets/admin/pages/media/profile/logo_metronic.jpg" alt="">
											<div class="portfolio-text-info">
												<h4>Metronic - Responsive Template</h4>
												<p>
													 Lorem ipsum dolor sit consectetuer adipiscing elit.
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-5 portfolio-stat">
										<div class="portfolio-info">
											 Today Sold <span>
											187 </span>
										</div>
										<div class="portfolio-info">
											 Total Sold <span>
											1789 </span>
										</div>
										<div class="portfolio-info">
											 Earns <span>
											$37.240 </span>
										</div>
									</div>
									<div class="col-md-2">
										<div class="portfolio-btn">
											<a href="javascript:;" class="btn bigicn-only">
											<span>
											Manage </span>
											</a>
										</div>
									</div>
								</div>
								<!--end row-->
								<div class="row portfolio-block">
									<div class="col-md-5 col-sm-12 portfolio-text">
										<img src="../../../assets/admin/pages/media/profile/logo_azteca.jpg" alt="">
										<div class="portfolio-text-info">
											<h4>Metronic - Responsive Template</h4>
											<p>
												 Lorem ipsum dolor sit consectetuer adipiscing elit.
											</p>
										</div>
									</div>
									<div class="col-md-5 portfolio-stat">
										<div class="portfolio-info">
											 Today Sold <span>
											24 </span>
										</div>
										<div class="portfolio-info">
											 Total Sold <span>
											660 </span>
										</div>
										<div class="portfolio-info">
											 Earns <span>
											$7.060 </span>
										</div>
									</div>
									<div class="col-md-2 col-sm-12 portfolio-btn">
										<a href="javascript:;" class="btn bigicn-only">
										<span>
										Manage </span>
										</a>
									</div>
								</div>
								<!--end row-->
								<div class="row portfolio-block">
									<div class="col-md-5 portfolio-text">
										<img src="../../../assets/admin/pages/media/profile/logo_conquer.jpg" alt="">
										<div class="portfolio-text-info">
											<h4>Metronic - Responsive Template</h4>
											<p>
												 Lorem ipsum dolor sit consectetuer adipiscing elit.
											</p>
										</div>
									</div>
									<div class="col-md-5 portfolio-stat">
										<div class="portfolio-info">
											 Today Sold <span>
											24 </span>
										</div>
										<div class="portfolio-info">
											 Total Sold <span>
											975 </span>
										</div>
										<div class="portfolio-info">
											 Earns <span>
											$21.700 </span>
										</div>
									</div>
									<div class="col-md-2 portfolio-btn">
										<a href="javascript:;" class="btn bigicn-only">
										<span>
										Manage </span>
										</a>
									</div>
								</div>
								<!--end row-->
							</div>
							<!--end tab-pane-->
							</div>
							<!--end tab-pane-->
						</div>
					</div>
					<!--END TABS-->
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>


					</div>
				</div>


			</div>
    		<!-- END PAGE CONTENT FIXED -->

    		<!-- Copyright BEGIN -->
			<p class="copyright-v2">2015 © سامانه سپاس ایران طراحی و پیاده‌سازی توسط
	 			<a href="http://ayandehgroup.ir" title="Ayandeh" target="_blank">گروه آینده نگر</a>
	 		</p>
			<!-- Copyright END -->

    	</div>
    </div>
	<!-- PAGE CONTENT END -->
    <!-- END MAIN LAYOUT -->
    <a href="#index" class="go2top"><i class="icon-arrow-up"></i></a>

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<script src="../../../static/app/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../../../static/app/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript" ></script>
<script src="../../../static/app/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript" ></script>
<script src="../../../static/app/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript" ></script>
<script src="../../../static/app/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript" ></script>
<script src="../../../static/app/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../../../static/app/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../../static/app/assets/admin/layout6/scripts/layout.js" type="text/javascript"></script>
<script src="../../../static/app/assets/admin/layout6/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="../../../static/app/assets/admin/layout6/scripts/index.js" type="text/javascript"></script>
<script src="../../../static/app/assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
<link href="../../../static/app/content/basefont.css" rel="stylesheet" type="text/css"/>
<!--
<!--&ndash;&gt;-->
<!---->
	<script src="../../../static/app/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="../../../static/app/assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="../../../static/app/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../../../static/app/assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../../static/app/assets/admin/layout4/scripts/layout.js" type="text/javascript"></script>
<script src="../../../static/app/assets/admin/layout4/scripts/demo.js" type="text/javascript"></script>
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../../../static/app/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="../../../static/app/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->




<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {    
   	Metronic.init(); // init metronic core componets
   	Layout.init(); // init layout
    Index.init(); // init index page
    QuickSidebar.init(); // init quick sidebar
    Tasks.initDashboardWidget(); // init tash dashboard widget
});
</script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>