<!--newversion-->
{% extends "app/base.html" %}
{% load staticfiles %}
<!--{% block title%}-->
<title>
    {{shopping}}

    </title>
        <!--{% endblock %}-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
        {% block css-files %}
<link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{% static 'assets/global/plugins/select2/select2.css' %}"/>
<link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/components-rtl.css' %}" id="style_components" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/plugins-rtl.css' %}" rel="stylesheet" type="text/css"/>
<!--<link href="{% static 'assets/admin/layout4/css/layout-rtl.css' %}" rel="stylesheet" type="text/css"/>-->
<!--<link id="style_color" href="{% static 'assets/admin/layout4/css/themes/light-rtl.css' %}" rel="stylesheet" type="text/css"/>-->
<!--<link href="{% static 'assets/admin/layout4/css/custom-rtl.css' %}" rel="stylesheet" type="text/css"/>-->

<!--<link rel="shortcut icon" href="favicon.ico"/>-->
        {% endblock %}

{% block content %}
{#       <div class="page-header-fixed page-sidebar-closed-hide-logo ">#}
{#<!-- BEGIN CONTAINER -->#}
{#<div class="page-container">#}
{#	<!-- END SIDEBAR -->#}
{#	<!-- BEGIN CONTENT -->#}
{#			<!-- BEGIN PAGE CONTENT-->#}
{#			<div class="row">#}
{#				<div class="col-md-12">#}
{#					<div class="portlet box blue" id="form_wizard_1">#}
{#						<div class="portlet-title">#}
{#							<div class="caption">#}
{#								<i class="fa fa-gift"></i>#}
{#                                فرم خرید#}
{#                                <span class="step-title">#}
{#								<!--مرحله اول-->#}
{#                                </span>#}
{#							</div>#}
{#							<div class="tools hidden-xs">#}
{#								<a href="javascript:;" class="collapse">#}
{#								</a>#}
{#								<a href="#portlet-config" data-toggle="modal" class="config">#}
{#								</a>#}
{#								<a href="javascript:;" class="reload">#}
{#								</a>#}
{#								<a href="javascript:;" class="remove">#}
{#								</a>#}
{#							</div>#}
{#						</div>#}
{#						<div class="portlet-body form">#}

        <br><br><br><br><br>
    <div class="alert alert-success" role="alert">
لغو خرید با موفقیت انجام شد
    </div>



<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
</div>
{% endblock %}
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
{% block more-js-files %}
<script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{% static 'assets/global/plugins/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.cokie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="{% static 'assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/global/plugins/jquery-validation/js/additional-methods.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="{% static 'assets/global/plugins/select2/select2.min.js' %}"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'assets/global/scripts/metronic.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/admin/layout4/scripts/layout.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/admin/layout4/scripts/demo.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/admin/pages/scripts/form-wizard.js' %}"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {
   // initiate layout and plugins
   Metronic.init(); // init metronic core components
Layout.init(); // init current layout
Demo.init(); // init demo features
   FormWizard.init();
});
</script>
 {% endblock %}


