<!--newversion-->
{% extends "app/base.html" %}
{% load staticfiles %}
<!--{% block title%}-->
<title>
    {{shopping}}

    </title>
        <!--{% endblock %}-->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
        {% block css-files %}
<link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="{% static 'assets/global/plugins/select2/select2.css' %}"/>
<link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/components-rtl.css' %}" id="style_components" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/plugins-rtl.css' %}" rel="stylesheet" type="text/css"/>
<!--<link href="{% static 'assets/admin/layout4/css/layout-rtl.css' %}" rel="stylesheet" type="text/css"/>-->
<!--<link id="style_color" href="{% static 'assets/admin/layout4/css/themes/light-rtl.css' %}" rel="stylesheet" type="text/css"/>-->
<!--<link href="{% static 'assets/admin/layout4/css/custom-rtl.css' %}" rel="stylesheet" type="text/css"/>-->

<!--<link rel="shortcut icon" href="favicon.ico"/>-->
        {% endblock %}

{% block content %}
       <div class="page-header-fixed page-sidebar-closed-hide-logo ">
<!-- BEGIN CONTAINER -->
<div class="page-container">
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
			<!-- BEGIN PAGE CONTENT-->
{#			<div class="row">#}
{#				<div class="col-md-12">#}
{#					<div class="portlet box blue" id="form_wizard_1">#}
{#						<div class="portlet-title">#}
{#							<div class="caption">#}
{#								<i class="fa fa-gift"></i>#}
{#                                فرم خرید#}
{#                                <span class="step-title">#}
{#								<!--مرحله اول-->#}
{#                                </span>#}
{#							</div>#}
{#							<div class="tools hidden-xs">#}
{#								<a href="javascript:;" class="collapse">#}
{#								</a>#}
{#								<a href="#portlet-config" data-toggle="modal" class="config">#}
{#								</a>#}
{#								<a href="javascript:;" class="reload">#}
{#								</a>#}
{#								<a href="javascript:;" class="remove">#}
{#								</a>#}
{#							</div>#}
{#						</div>#}
{#						<div class="portlet-body form">#}
{#							<form action="#" class="form-horizontal" id="submit_form" method="POST">#}
{#								<div class="form-wizard">#}
{#									<div class="form-body">#}
{#										<ul class="nav nav-pills nav-justified steps">#}
{#											<li>#}
{#												<a href="#tab1" data-toggle="tab" class="step">#}
{#												<span class="number">#}
{#												1 </span>#}
{#												<span class="desc">#}
{#												<i class="fa fa-check"></i> فاکتور ابتدائی </span>#}
{#												</a>#}
{#											</li>#}
{#											<li>#}
{#												<a href="#tab2" data-toggle="tab" class="step">#}
{#												<span class="number">#}
{#												2 </span>#}
{#												<span class="desc">#}
{#												<i class="fa fa-check"></i> فرم مشخصات افراد ثبت نام شده. </span>#}
{#												</a>#}
{#											</li>#}
{#											<li>#}
{#												<a href="#tab3" data-toggle="tab" class="step active">#}
{#												<span class="number">#}
{#												3 </span>#}
{#												<span class="desc">#}
{#												<i class="fa fa-check"></i> پرداخت </span>#}
{#												</a>#}
{#											</li>#}
{#											<li>#}
{#												<a href="#tab4" data-toggle="tab" class="step">#}
{#												<span class="number">#}
{#												4 </span>#}
{#												<span class="desc">#}
{#												<i class="fa fa-check"></i> فاکتور نهایی </span>#}
{#												</a>#}
{#											</li>#}
{#										</ul>#}
{#										<div id="bar" class="progress progress-striped" role="progressbar">#}
{#											<div class="progress-bar progress-bar-success">#}
{#											</div>#}
{#										</div>#}
{#										<div class="tab-content">#}
{#											<div class="alert alert-danger display-none">#}
{#												<button class="close" data-dismiss="alert"></button>#}
{#												خطا در ورود اطلاعات#}
{#											</div>#}
{#											<div class="alert alert-success display-none">#}
{#												<button class="close" data-dismiss="alert"></button>#}
{#									از خرید شما متشکریم#}
{#											</div>#}
{#											<div class="tab-pane active" id="tab1">#}
{#                                                <div class="table-responsive">#}
{#																<table class="table table-hover table-bordered">#}
{#																<thead>#}
{#																<tr>#}
{#																	<th>#}
{#																		 شرح خرید#}
{#																	</th>#}
{##}
{#																	<th>#}
{#																	قیمت#}
{#																	</th>#}
{##}
{#																	<th>#}
{#																		تعداد#}
{#																	</th>#}
{#																	<th>#}
{#																	ارزش افزوده#}
{#																	</th>#}
{#																	<th>#}
{#																		 درصد ارزش افزوده#}
{#																	</th>#}
{#																	<th>#}
{#																		درصد تخفیف#}
{#																	</th>#}
{#																	<th>#}
{#																		 قیمت نهایی#}
{#																	</th>#}
{#																</tr>#}
{#																</thead>#}
{#																<tbody>#}
{#																<tr>#}
{#																	<td>#}
{#																		<a href="javascript:;">#}
{#																		محصول1#}
{#                                                                        </a>#}
{#																	</td>#}
{##}
{#																	<td id="cost">#}
{#																		 345.50#}
{#																	</td>#}
{##}
{#																	<td id="count">#}
{#																		 <!--<div class="col-md-9">-->#}
{#											<!--<div id="spinner1">-->#}
{#												<div class="input-group input-small">#}
{#													<input type="text" class="spinner-input form-control" maxlength="2" readonly="">#}
{#													<div class="spinner-buttons input-group-btn btn-group-vertical">#}
{#														<button type="button" class="btn spinner-up btn-xs blue">#}
{#														<i class="fa fa-angle-up"></i>#}
{#														</button>#}
{#														<button type="button" class="btn spinner-down btn-xs blue">#}
{#														<i class="fa fa-angle-down"></i>#}
{#														</button>#}
{#													</div>#}
{#												</div>#}
{#																	</td>#}
{#																	<td id="tax">#}
{#																		 2.00#}
{#																	</td>#}
{#																	<td>#}
{#																		 4%#}
{#																	</td>#}
{#																	<td id="discount">#}
{#																		 0.00#}
{#																	</td>#}
{#																	<td id="finalcost">#}
{#																		 691.00#}
{#																	</td>#}
{#																</tr>#}
{#																<tr>#}
{#																	<td>#}
{#																		<a href="javascript:;">#}
{#																	محصول2#}
{#                                                                        </a>#}
{#																	</td>#}
{##}
{#																	<td>#}
{#																		 345.50#}
{#																	</td>#}
{##}
{#																	<td>#}
{#																		 	<div class="input-group input-small">#}
{#													<input type="text" class="spinner-input form-control" maxlength="2" readonly="">#}
{#													<div class="spinner-buttons input-group-btn btn-group-vertical">#}
{#														<button type="button" class="btn spinner-up btn-xs blue">#}
{#														<i class="fa fa-angle-up"></i>#}
{#														</button>#}
{#														<button type="button" class="btn spinner-down btn-xs blue">#}
{#														<i class="fa fa-angle-down"></i>#}
{#														</button>#}
{#                                                        													</div>#}
{#												</div>#}
{#																	</td>#}
{#																	<td>#}
{#																		 2.00#}
{#																	</td>#}
{#																	<td>#}
{#																		 4%#}
{#																	</td>#}
{#																	<td>#}
{#																		 0.00#}
{#																	</td>#}
{#																	<td>#}
{#																		 691.00#}
{#																	</td>#}
{#																</tr>#}
{#																<tr>#}
{#																	<td>#}
{#																		<a href="javascript:;">#}
{#																		محصول3#}
{#																		  </a>#}
{#																	</td>#}
{##}
{#																	<td>#}
{#																		 345.50#}
{#																	</td>#}
{##}
{#																	<td>#}
{#																		 	<div class="input-group input-small">#}
{#													<input type="text" class="spinner-input form-control" maxlength="2" readonly="">#}
{#													<div class="spinner-buttons input-group-btn btn-group-vertical">#}
{#														<button type="button" class="btn spinner-up btn-xs blue">#}
{#														<i class="fa fa-angle-up"></i>#}
{#														</button>#}
{#														<button type="button" class="btn spinner-down btn-xs blue">#}
{#														<i class="fa fa-angle-down"></i>#}
{#														</button>#}
{#                                                    </div>#}
{#												</div>#}
{#																	</td>#}
{#																	<td>#}
{#																		 2.00#}
{#																	</td>#}
{#																	<td>#}
{#																		 4%#}
{#																	</td>#}
{#																	<td>#}
{#																		 0.00#}
{#																	</td>#}
{#																	<td>#}
{#																		 691.00#}
{#																	</td>#}
{#																</tr>#}
{#																<tr>#}
{#																	<td>#}
{#																		<a href="javascript:;">#}
{#																		محصول4#}
{#                                                                        </a>#}
{#																	</td>#}
{##}
{#																	<td>#}
{#																		 345.50#}
{#																	</td>#}
{##}
{#																	<td>#}
{#																		 	<div class="input-group input-small">#}
{#													<input type="text" class="spinner-input form-control" maxlength="2" readonly="">#}
{#													<div class="spinner-buttons input-group-btn btn-group-vertical">#}
{#														<button type="button" class="btn spinner-up btn-xs blue">#}
{#														<i class="fa fa-angle-up"></i>#}
{#														</button>#}
{#														<button type="button" class="btn spinner-down btn-xs blue">#}
{#														<i class="fa fa-angle-down"></i>#}
{#														</button>#}
{#                                                        </div>#}
{#                                                                            </div>#}
{#																	</td>#}
{#																	<td>#}
{#																		 2.00#}
{#																	</td>#}
{#																	<td>#}
{#																		 4%#}
{#																	</td>#}
{#																	<td>#}
{#																		 0.00#}
{#																	</td>#}
{#																	<td>#}
{#																		 691.00#}
{#																	</td>#}
{#																</tr>#}
{#																</tbody>#}
{#																</table>#}
{#															</div>#}
{#                                            </div>#}
{#											<div class="tab-pane" id="tab2">#}
{#												<h3 class="block">مشخصات افرادی که برای آنها بلیط تهیه شده را وارد نمایید</h3>#}
{#                                 <form action="#">#}
{#							<table id="user" class="table table-bordered table-striped">#}
{#							<tbody>#}
{#							<tr>#}
{#								<td style="width:15%">#}
{#								<span>#}
{#									 	 نام#}
{#                                    </span>#}
{#								</td>#}
{#							 <td style="width:50%">#}
{#									<a href="javascript:;" id="usernam" data-type="text" data-pk="1" data-original-title="کد ملی">#}
{#									<!--superuser-->#}
{#                                    </a>#}
{#                                      <input type="text" name="usrnam" class="form-control">#}
{#								</td>#}
{#							<tr>#}
{#								<td>#}
{#									 نام خانوادگی#}
{#								</td>#}
{#								 <td style="width:50%">#}
{#									<a href="javascript:;" id="usernam" data-type="text" data-pk="1" data-original-title="کد ملی">#}
{#									<!--superuser-->#}
{#                                    </a>#}
{#                                      <input type="text" name="usrnam" class="form-control">#}
{#								</td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td>#}
{#									 جنسیت#}
{#								</td>#}
{#								 <td style="width:50%">#}
{#									<a href="javascript:;" id="username" data-type="text" data-pk="1" data-original-title="کد ملی">#}
{#									<!--superuser-->#}
{#                                    </a>#}
{#                                      <input type="text" name="usrnam" class="form-control">#}
{#								</td>#}
{#							</tr>#}
{#							<tr>#}
{#								<td>#}
{#									 کدملی#}
{#								</td>#}
{#                                <td style="width:50%">#}
{#									<a href="javascript:;" id="username" data-type="text" data-pk="1" data-original-title="کد ملی">#}
{#									<!--superuser-->#}
{#                                    </a>#}
{#                                      <input type="text" name="usrname" class="form-control">#}
{#								</td>#}
{##}
{#							</tr>#}
{#							<tr>#}
{#								<td>#}
{#									 سن#}
{#                                    <!--<div class="popover editable-container editable-popup fade in top" role="tooltip" id="popover717960" style="top: -7px; left: 703.0439453125px; display: block;"><div class="arrow" style="left: 50%;"></div><h3 class="popover-title">Select sex</h3><div class="popover-content"> <div><div class="editableform-loading" style="display: none;"></div><form class="form-inline editableform" style=""><div class="form-group"><div><div class="editable-input"><select class="form-control"><option value="">not selected</option><option value="1">مرد</option><option value="2">زن</option></select></div><div class="editable-buttons"><button type="submit" class="btn blue editable-submit"><i class="fa fa-check"></i></button><button type="button" class="btn default editable-cancel"><i class="fa fa-times"></i></button></div></div><div class="editable-error-block help-block" style="display: none;"></div></div></form></div></div></div>-->#}
{#								</td>#}
{#								<td>#}
{##}
{##}
{#												<div class="input-group input-small">#}
{#													<input type="text" class="spinner-input form-control" maxlength="2" readonly="">#}
{#													<div class="spinner-buttons input-group-btn btn-group-vertical">#}
{#														<button type="button" class="btn spinner-up btn-xs blue">#}
{#														<i class="fa fa-angle-up"></i>#}
{#														</button>#}
{#														<button type="button" class="btn spinner-down btn-xs blue">#}
{#														<i class="fa fa-angle-down"></i>#}
{#														</button>#}
{#													</div>#}
{#												</div>#}
{##}
{##}
{#																	</td>#}
{##}
{##}
{#							</tr>#}
{##}
{#							<tr>#}
{#								<td>#}
{#									 تاریخ تولد#}
{#								</td>#}
{#								<td>#}
{#									<a href="javascript:;" id="dob" data-type="combodate" data-value="1984-05-15" data-format="YYYY-MM-DD" data-viewformat="DD/MM/YYYY" data-template="D / MMM / YYYY" data-pk="1" data-original-title="تاریخ تولد">#}
{#									</a>#}
{#								</td>#}
{##}
{#							</tr>#}
{##}
{#							</tbody>#}
{#							</table>#}
{#    </form>#}
{#											</div>#}
{#											<div class="tab-pane" id="tab3">#}
{#												<h3 class="block">مشخصات کارت شتاب خود را وارد کنید</h3>#}
{#												<div class="form-group">#}
{#													<label class="control-label col-md-3">نام دارنده ی کارت <span class="required">#}
{#													* </span>#}
{#													</label>#}
{#													<div class="col-md-4">#}
{#														<input type="text" class="form-control" name="card_name"/>#}
{#														<span class="help-block">#}
{#														</span>#}
{#													</div>#}
{#												</div>#}
{#												<div class="form-group">#}
{#													<label class="control-label col-md-3">شماره کارت <span class="required">#}
{#													* </span>#}
{#													</label>#}
{#													<div class="col-md-4">#}
{#														<input type="text" class="form-control" name="card_number"/>#}
{#														<span class="help-block">#}
{#														</span>#}
{#													</div>#}
{#												</div>#}
{#												<div class="form-group">#}
{#													<label class="control-label col-md-3">CVV2 <span class="required">#}
{#													* </span>#}
{#													</label>#}
{#													<div class="col-md-4">#}
{#														<input type="text" placeholder="" class="form-control" name="card_cvc"/>#}
{#														<span class="help-block">#}
{#														</span>#}
{#													</div>#}
{#												</div>#}
{#												<div class="form-group">#}
{#													<label class="control-label col-md-3">تاریخ انقضا <span class="required">#}
{#													* </span>#}
{#													</label>#}
{#													<div class="col-md-4">#}
{#														<input type="text" placeholder="MM/YYYY" maxlength="7" class="form-control" name="card_expiry_date"/>#}
{#													</div>#}
{#												</div>#}
{#												<div class="form-group">#}
{#													<label class="control-label col-md-3">نوع پرداخت <span class="required">#}
{#													* </span>#}
{#													</label>#}
{#													<div class="col-md-4">#}
{#														<div class="checkbox-list">#}
{#															<label>#}
{#															<input type="checkbox" name="payment[]" value="1" data-title="Auto-Pay with this Credit Card."/> نقد </label>#}
{#															<label>#}
{#															<input type="checkbox" name="payment[]" value="2" data-title="Email me monthly billing."/> قسطی </label>#}
{#														</div>#}
{#														<div id="form_payment_error">#}
{#														</div>#}
{#													</div>#}
{#												</div>#}
{#											</div>#}

											<div class="tab-pane" id="tab4">
                                                <div class="col-md-6 col-sm-12">
												<div class="portlet yellow-crusta box">
													<div class="portlet-title">
														<div class="caption">
															<i class="fa fa-cogs"></i>
                                                          جزیات خرید
														</div>
														<!--<div class="actions">-->
															<!--<a href="javascript:;" class="btn btn-default btn-sm">-->
															<!--<i class="fa fa-pencil"></i>-->
                                                                <!--ویرایش-->
                                                            <!--</a>-->
														<!--</div>-->
													</div>
													<div class="portlet-body">
														<div class="row static-info">
															<div class="col-md-5 name">
																سفارش:
															</div>
															<div class="col-md-7 value">
																 {{ factor.id }}
                                                                <span class="label label-info label-sm">
																<!--Email confirmation was sent-->
                                                            </span>
															</div>
														</div>
														<div class="row static-info">
															<div class="col-md-5 name">
																 تاریخ سفارش
																و

                                                               زمان:
															</div>
															<div class="col-md-7 value">
																{{ factor.date }}
															</div>
														</div>
														<div class="row static-info">
															<div class="col-md-5 name">
																وضعیت سفارش
															</div>
															<div class="col-md-7 value">
																<span class="label label-success">
																پرداخت شده.
                                                                </span>
															</div>
														</div>
														<div class="row static-info">
															<div class="col-md-5 name">
																 قیمت نهایی
															</div>
															<div class="col-md-7 value">
																 {{ factor.final_cost }}
															</div>
														</div>
														<div class="row static-info">
															<div class="col-md-5 name">
															اطلاعات پرداخت
															</div>
															<div class="col-md-7 value">
																کارت اعتباری
															</div>
														</div>
													</div>
												</div>
											</div>
                                                <div class="col-md-6 col-sm-12">
												<div class="portlet blue-hoki box">
													<div class="portlet-title">
														<div class="caption">
															<i class="fa fa-cogs"></i>
                                                اطلاعات مشتری
														</div>
														<!--<div class="actions">-->
															<!--<a href="javascript:;" class="btn btn-default btn-sm">-->
															<!--<i class="fa fa-pencil"></i>-->
                                     <!--ویرایش-->
                                                            <!--</a>-->
														<!--</div>-->
													</div>
													<div class="portlet-body">
														<div class="row static-info">
															<div class="col-md-5 name">
																 نام خریدار
															</div>
															<div class="col-md-7 value">
																{{ factor.user.get_full_name }}
															</div>
														</div>
														<div class="row static-info">
															<div class="col-md-5 name">
																آدرس الکترونیکی:
															</div>
															<div class="col-md-7 value">
																 {{ factor.user.email }}
															</div>
														</div>
														<div class="row static-info">
															<div class="col-md-5 name">
															آدرس
															</div>
															<div class="col-md-7 value">
                                                                {{ factor.user.add_info.address }}
															</div>
														</div>
														<div class="row static-info">
															<div class="col-md-5 name">
																تلفن
                                                                <br>
                                                                فکس
															</div>
															<div class="col-md-7 value">
																 {{ factor.user.add_info.phone }}
                                                                <br>
                                                                {{ factor.user.add_info.cell }}
															</div>
														</div>
													</div>
												</div>
											</div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                    <div class="table-responsive">
																<table class="table table-hover table-bordered">
																<thead>
																<tr>
																	<th>
																		 شرح خرید
																	</th>

																	<th>
																	قیمت
																	</th>

																	<th>
																		تعداد
																	</th>
																	<th>
																	ارزش افزوده
																	</th>
																	<th>
																		 درصد ارزش افزوده
																	</th>
																	<th>
																		درصد تخفیف
																	</th>
																	<th>
																		 قیمت نهایی
																	</th>
																</tr>
																</thead>
																<tbody>
																<tr>
																	<td>
																		<a href="javascript:;">
																		{{ factor.product }}
                                                                        </a>
																	</td>

																	<td>
																		 {{ factor.cost }}
																	</td>

																	<td>
																		 {{ factor.count }}
																	</td>
																	<td>
																		 {{ tax_cost }}
																	</td>
																	<td>
                                                                        {{ tax  }}%
																	</td>
																	<td>
																		 {{ factor.discount }}
																	</td>
																	<td>
																		 {{ factor.final_cost }}
																	</td>
																</tr>

																</tbody>
																</table>
															</div>
                                                    </div>
												<div class="col-lg-6">

                                                    <div class="well">
									<address>
									<strong>
                                        سپاس ایران
									</strong><br>
									خیابان ولیعصر
                                        <br>
									کوچه فرهادی پلاک3<br>
									<abbr title="Phone">
                                        تلفن
									</abbr> (021) 88122130 </address>
									<address>
									<strong>Full Name</strong><br>
									<a href="mailto:#">
									sepasiran@gmail.com </a>
									</address>
								</div>

												</div>
												<!--<div class="col-md-6">-->
													<div class="col-lg-6">
													<div class="well">
														<div class="row static-info align-reverse">
															<div class="col-md-8 name">
																قیمت کل
															</div>
															<div class="col-md-3 value">
																 {{ factor.final_cost }}
															</div>
														</div>
														<div class="row static-info align-reverse">
															<div class="col-md-8 name">
																تخفیف
															</div>
															<div class="col-md-3 value">
																 {{ factor.discount }}
															</div>
														</div>

														<div class="row static-info align-reverse">


														</div>

														<div class="row static-info align-reverse">
															<div class="col-md-8 name">
																قیمت نهایی
															</div>
															<div class="col-md-3 value">
																 {{ factor.final_cost }}
															</div>
														</div>
													</div>
												</div>


  </div>
											</div>
										</div>
									</div>
									<div class="form-actions">
										<div class="row">
											<div class="col-md-offset-3 col-md-9">
												<a href="javascript:window.print();" class="btn blue button-next">
												پرینت
                                                    <i class="m-icon-swapright m-icon-white"></i>
												</a>
												<a href="{% url 'app:home' %}" class="btn green button-submit">
												بازگشت به صفحه ی اصلی
                                                    <i class="m-icon-swapright m-icon-white"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- END PAGE CONTENT-->
	<!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
</div>
{% endblock %}
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
{% block more-js-files %}
<script src="{% static 'assets/global/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="{% static 'assets/global/plugins/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/jquery.cokie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="{% static 'assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/global/plugins/jquery-validation/js/additional-methods.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="{% static 'assets/global/plugins/select2/select2.min.js' %}"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="{% static 'assets/global/scripts/metronic.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/admin/layout4/scripts/layout.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/admin/layout4/scripts/demo.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/admin/pages/scripts/form-wizard.js' %}"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {       
   // initiate layout and plugins
   Metronic.init(); // init metronic core components
Layout.init(); // init current layout
Demo.init(); // init demo features
   FormWizard.init();
});
</script>
 {% endblock %}

<!--<script>-->
<!--var count = document.getElementByID("count");-->
<!--var tax = document.getElementByID("tax");-->
    <!--var cost = document.getElementByID("cost");-->
    <!--var finalcost = document.getElementByID("finalcost");-->
    <!--var discount = document.getElementByID("discount");-->
    <!--finalcost.innerHTML = count.getValue() * cost.getValue()+count.getValue() * tax.getValue()-count.getValue() * discount.getValue();-->
<!--</script>-->

<!-- END BODY -->
