﻿{% extends "Profile/layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							 Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE HEADER-->
			<!-- BEGIN PAGE HEAD -->
			<div class="page-head">
				<!-- BEGIN PAGE TITLE -->
                <br>
                <br>
                <br>
				<div class="page-title">
					<h3>درباره ما
                        <small>


                        </small></h3>
				</div>
				<!-- END PAGE TITLE -->
				<!-- BEGIN PAGE TOOLBAR -->
				
				<!-- END PAGE TOOLBAR -->
			</div>
			<!-- END PAGE HEAD -->
			<!-- BEGIN PAGE BREADCRUMB -->
			<!--<ul class="page-breadcrumb breadcrumb">-->
				<!--<li>-->
					<!--<a href="index.html">خانه-->
                    <!--</a>-->
					<!--<i class="fa fa-circle"></i>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="#">صفحات دیگر-->
                    <!--</a>-->
					<!--<i class="fa fa-circle"></i>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="#">درباره ما-->
                    <!--</a>-->
				<!--</li>-->
			<!--</ul>-->
			<!-- END PAGE BREADCRUMB -->
			<!-- END PAGE HEADER-->
			<!-- BEGIN PAGE CONTENT-->
			<div class="portlet light">
				<div class="portlet-body">
					<div class="row margin-bottom-30">
						<div class="col-md-6">
							<p>

                                <h3>
							انجمن صنفی دفاتر خدمات مسافرت هوایی و جهانگردی ایران
                                </h3>
                              <!--Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.-->
							</p>
							<ul class="list-unstyled margin-top-10 margin-bottom-10">
								<li>
                                    <P>
                                    ماموریت اصلی پروژه‌ی سپاس ایران: با توجه به ظرفیت های بالای گردشگری در ایران و جهان و همچنین وجود ظرفیت های آزاد آژانس های گردشکری(بیش از 2000 آژانس گردشگری در ایران داریم که دارای ظرفیت خالی است.) هدف انجمن ایجاد بازار رقابتی برای فروش ظرفیت های خالی و همچنین ایجاد یک فضای الکترونیکی برای فعالان بازار گردشگری است تا آنها بدون دغدغه و درگیری با پیچیدگی‌های فنی و قانونی، وارد عرصه‌ی تجارت الکترونیک شوند. بنابراین هدف اصلی این سامانه، ارائه‌ی زیرساخت‌های فنی و اطلاعاتی به گردش سازان و گردشگران و همچنین شرکت های دیگر تامین کننده می باشد تا با استفاده از آن، بازار خود را از فضای سنتی به فضای آنلاین گسترش دهند این سامانه به منظور افزایش گردشگری و سهولت استفاده گردشگران و ترغیب هرچه بیشتر آنها برای سفر تولید می شود و سعی بر  ایجاد یک بازار رقابتی برای گردش سازان به طوری که تمامی شرکت ها علاقه پیوستن به انجمن و سامانه سپاس ایران را پیدا کنند .هدف مورد نظردیگر این است که با توجه به اینکه اماکن خدماتی و تفریحی زیادی به طور گسسته در سطح کشور وجود دارد باید امکانات و بستری فراهم شود که مراکز خدماتی از جمله هتل ها رستوران ها و مراکز تفریحی نیز بتوانند خدمات خود را چه به صورت تنها چه از طریق اجماع با تور های تعریف شده گردشگری در معرض دید گردشگران قرار دهند تا گردشگران بتوانند با مقدار بودجه و با توجه به سلیقه خود و میزان انتظاراتشان از این امکانات بهره مند شوند که این بهرمندی نیز از طریق خرید از سایت صورت خواهد گرفت. همچنین با امکان ارتقاء از طریق درج : خدمات ارزش افزوده همراه ایرانگردی (خادمان)  و استقرار بر  :  شبکه اجتماعی گردشگران و همکاران وفادار (شادان) سعی در همگانی شدن این سامانه دارد.

								</P>
                                </li>
							</ul>
							<!-- Blockquotes -->
							<!--<blockquote class="hero">-->
								<!--<p>-->
									 <!--Lorem ipsum dolor sit amet, consectetuer sed diam nonummy nibh euismod tincidunt.-->
								<!--</p>-->
								<!--<small>Bob Nilson</small>-->
							<!--</blockquote>-->
						</div>
						<div class="col-md-6">
							<img src="{% static 'images/sh2.JPG' %}"/>
						</div>
					</div>
					<!--/row-->
					<!-- Meer Our Team -->
					<div class="row thumbnails">
						<div class="col-md-3">
							<div class="meet-our-team">
								<h3>
                                    اصغر رحمانی
                                    <small>
                                        رییس انجمن صنفی دفاتر خدماتی و گردشگری
                                    </small></h3>
								<img src="{% static 'assets/admin/pages/media/pages/2.jpg' %}" alt="" class="img-responsive"/>
								<div class="team-info">
									<p>

									</p>
									<!--<ul class="social-icons pull-right">-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="twitter" class="twitter">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="facebook" class="facebook">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="linkedin" class="linkedin">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="Goole Plus" class="googleplus">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="skype" class="skype">-->
											<!--</a>-->
										<!--</li>-->
									<!--</ul>-->
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="meet-our-team">
								<h3>
سمانه ترشیزی
                                    <small>
مدیر پروژه سپاس ایران
                                    </small></h3>
								<img src="{% static 'assets/admin/pages/media/pages/3.jpg' %}" alt="" class="img-responsive"/>
								<div class="team-info">
									<p>

									</p>
									<!--<ul class="social-icons pull-right">-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="twitter" class="twitter">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="facebook" class="facebook">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="linkedin" class="linkedin">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="Goole Plus" class="googleplus">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="skype" class="skype">-->
											<!--</a>-->
										<!--</li>-->
									<!--</ul>-->
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="meet-our-team">
								<h3>
                                    عباسعلی ترشیزی
                                    <small>
                                        مدیرعامل انجمن دفاتر خدماتی و گردشگری
                                    </small></h3>
								<img src="{% static 'assets/admin/pages/media/pages/2.jpg' %}" alt="" class="img-responsive"/>
								<div class="team-info">
									<p>

									</p>
									<!--<ul class="social-icons pull-right">-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="twitter" class="twitter">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="facebook" class="facebook">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="linkedin" class="linkedin">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="Goole Plus" class="googleplus">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="skype" class="skype">-->
											<!--</a>-->
										<!--</li>-->
									<!--</ul>-->
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="meet-our-team">
								<h3>
سمانه موسوی
                                    <small>
                                       سرپرست پروژه
                                    </small></h3>
								<img src="{% static 'assets/admin/pages/media/pages/3.jpg' %}" alt="" class="img-responsive"/>
								<div class="team-info">
									<p>

									</p>
									<!--<ul class="social-icons pull-right">-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="twitter" class="twitter">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="facebook" class="facebook">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="linkedin" class="linkedin">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="Goole Plus" class="googleplus">-->
											<!--</a>-->
										<!--</li>-->
										<!--<li>-->
											<!--<a href="javascript:;" data-original-title="skype" class="skype">-->
											<!--</a>-->
										<!--</li>-->
									<!--</ul>-->
								</div>
							</div>
						</div>
					</div>
                    </div>
					<div class="row thumbnails">
						<div class="col-md-3">
							<!--<div class="meet-our-team">-->
								<!--<h3>-->
                                    <!--مدیریت سامانه سپاس ایران-->
                                    <!--<small></small></h3>-->
								<!--<img src="{% static 'assets/admin/pages/media/pages/2.jpg' %}" alt="" class="img-responsive"/>-->

<!--</div>-->
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="page-footer-inner">

        طراحی توسط گروه طراحان آینده نگر
            <!--<href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="tarahan ayandeh negar" target="_blank">Purchase !</a>&ndash;&gt;-->
	<!--</div>-->
	<div class="scroll-to-top">
		<i class="icon-arrow-up"></i>
	</div>
</div>
    </div>
                            </div>
                            </div>
                        </div>
            </div>
{% endblock %}