﻿<!DOCTYPE html>
<html lang="fa">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'content/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'content/bootstrap-rtl.css' %}">
        <link rel="stylesheet" href="{% static 'content/yamm.css' %}">
        <link rel="stylesheet" href="{% static 'content/basefont.css' %}">
        <link rel="stylesheet" href="{% static 'content/myBootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'scripts/fancybox/jquery.fancybox-1.3.4.css' %}" media="screen" /> 
        
    {% block css-files %}
    {% endblock %}
    {% block more-css-files %}
    {% endblock %}
</head>

<body>
    <script src="{% static 'scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'scripts/jquery-migrate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.js' %}"></script>
    <script src="{% static 'scripts/jquery.maskedinput.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/bootstrap.js' %}"></script>
    <!-- Fancy box is a jqueryui based iframe box opener which opens a modal and handles a box from seprate page via ajax -->
    <script src="{% static 'scripts/list.js' %}"></script>
    <!-- list.js is a comprehensive client side result filtering and sorting tool which is easy to implement and also works on existing templated tables
    info and tutorial at: http://www.listjs.com/docs -->
    <script type="text/javascript" src="{% static 'scripts/fancybox/jquery.fancybox-1.3.4.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
{% block header %}
    {% include 'app/header.html' %}
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}
    {% include 'app/footer.html' %}
{% endblock %}
    {% block js-files %}
    {% endblock %}
    {% block more-js-files %}
    {% endblock %}
</body>
</html>
