﻿<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-lg-3">
            <h4 class="text-white">
                درباره ی ما
            </h4>

            <p class="text-white text-justify">
                گروه سپاس ایران با هدف تجمیع خدمات گردشگری با همکاری انجمن صنفی گردشگری ایران و تعامل با برگزار
                کنندگان تور ها و خدمات ، سعی بر تسهیل خدمات سفر الکترونیکی دارد.
            </p>
        </div>
        <div class="col-lg-4">
            <h4 class="text-white">
                تماس با ما
            </h4>

            <form action="{{contact_form_url}}" method="post">
                {% csrf_token %}

                <label class="label label-warning">
                    موضوع پیام
                </label>
                {{ contact_form.subject }}
                <br><label class="label label-success">
                ایمیل شما
            </label>

                {{ contact_form.sender }}
                <br><label class="label label-primary">
                متن پیام
            </label>
                {{ contact_form.message }}
                <br>
                <button type="submit" class="form-control btn btn-danger">
                    <span class="glyphicon glyphicon-ok"></span>
                    ارسال
                </button>
            </form>
            <br>
        </div>
        <div class="col-lg-4">
            <h4 class="text-white">
                ما را دنبال کنید
            </h4>

            <p class="label label-info"
                    >
                در شبکه های اجتماعی سپاس ایران را دنبال کنید
            </p><br><br>
            <a href="#">
                <span class="fa fa-facebook-square fa-4x text-primary"></span>
            </a>

            <a href="#">
                <span class="fa fa-twitter-square fa-4x text-primary">

            </span>
            </a>

            <a href="#">
                <span class="fa fa-google-plus-square fa-4x text-danger"></span>
            </a>
            {% if request.contact_form.subject.errors %}
    <ol>
    {% for error in request.contact_form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
{% if sender %}
    <h3>{{ sender }} بابت عضویت شما متشکریم</h3>
{% endif %}

        </div>

    </div>
</div>
