﻿<header>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse yamm navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid"
                                class="navbar-toggle"><span
                                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                        </button>
                        <a href="#" class="navbar-brand">
                            <span class="fa fa-empire fa-2x"></span>
                        </a>
                    </div>
                    <div id="navbar-collapse-grid" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <!-- Grid 12 Menu -->
                            <li class="dropdown dropdown-toggle yamm-fw">
                                <a href="{% url 'app:home' %}">
                                    <span class="glyphicon glyphicon-home"></span>
                                    <label>
                                        خانه
                                    </label>
                                </a>
                            </li>
                            <li class="dropdown dropdown-toggle yamm-fw">
                                <a href="#" data-toggle="dropdown" data-hover="dropdown">
                                    <span class="glyphicon glyphicon-briefcase"></span>
                                    <label>
                                        تور ها
                                    </label>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active in">
                                                        <a href="#internal" id="internal-tab" role="tab"
                                                            data-toggle="tab"
                                                            aria-controls="internal" aria-expanded="true">
                                                            <label>
                                                                تورهای داخلی
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#external" id="external-tab" role="tab"
                                                            data-toggle="tab"
                                                            aria-controls="external" aria-expanded="true">
                                                            <label>
                                                                تورهای خارجی
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#special" id="special-tab" role="tab" data-toggle="tab"
                                                            aria-controls="special" aria-expanded="true">
                                                            <label>
                                                                تورهای ویژه
                                                            </label>
                                                        </a>
                                                    </li>

                                                    <li role="presentation">
                                                        <a href="#lastseconds" role="tab" id="lastseconds-tab"
                                                            data-toggle="tab"
                                                            aria-controls="lastseconds" aria-expanded="false">
                                                            <label>
                                                                تورهای لحظه آخری
                                                            </label> </a>
                                                    </li>
                                                    <li role="presentation"><a href="#lowcost" role="tab"
                                                                                id="lowcost-tab"
                                                                                data-toggle="tab"
                                                                                aria-controls="lowcost"
                                                                                aria-expanded="false">

                                                        <label>
                                                            تورهای ارزان
                                                        </label> </a>
                                                    </li>
                                                    <li role="presentation"><a href="#gallery" role="tab"
                                                                                id="gallery-tab"
                                                                                data-toggle="tab"
                                                                                aria-controls="gallery"
                                                                                aria-expanded="false">

                                                        <label>
                                                            گالری
                                                        </label> </a>
                                                    </li>

                                                </ul>
                                                <div id="myTabContent" class="tab-content">
                                                    <br>

                                                    <div role="tabpanel" class="active in tab-pane fade" id="internal"
                                                            aria-labelledby="internal-tab">
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-body">
                                                                        <label class="text-primary">
                                                                            تفریح و گردش
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-body">
                                                                        <label class="text-success">
                                                                            جنگل و دشت
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-danger">
                                                                    <div class="panel-body">
                                                                        <label class="text-danger">
                                                                            کویر و کوه نوردی
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-warning">
                                                                    <div class="panel-body">
                                                                        <label class="text-warning">
                                                                            آموزشی
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="external"
                                                            aria-labelledby="external-tab">
                                                        <br>
                                                        <img class="center-block"
                                                                src="../../static/app/images/weathertour-blue.png">
                                                        </img>
                                                        <h4 class="text-center">
                                                            خارجی
                                                        </h4>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="special"
                                                            aria-labelledby="special-tab">
                                                        <br>
                                                        <img class="center-block"
                                                                src="../../static/app/images/moneytour-blue.png">
                                                        <h4 class="text-center">
                                                            خارجی
                                                        </h4>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="lastseconds"
                                                            aria-labelledby="lastseconds-tab">
                                                        <p> akhari</p>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="lowcost"
                                                            aria-labelledby="lowcost-tab">
                                                        <p> arzan</p>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="gallery"
                                                            aria-labelledby="gallery-tab">
                                                        <p> gallery</p>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </li>
                            <!--With Offsets
                            -->
                            <li class="dropdown dropdown-toggle yamm-fw">
                                <a href="#" data-toggle="dropdown" data-hover="dropdown">
                                    <span class="glyphicon glyphicon-plane"></span>
                                    <label>
                                        حمل و نقل
                                    </label>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <ul id="myTabs2" class="nav nav-tabs" role="tablist">
                                                    <li role="presentation">
                                                        <a href="#internalfly" id="internalfly-tab" role="tab"
                                                            data-toggle="tab"
                                                            aria-controls="internalfly" aria-expanded="true">
                                                            <label>
                                                                پرواز داخلی
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#externalfly" id="externalfly-tab" role="tab"
                                                            data-toggle="tab"
                                                            aria-controls="externalfly" aria-expanded="true">
                                                            <label>
                                                                پرواز خارجی
                                                            </label>
                                                        </a>
                                                    </li>
                                                    <li role="presentation">
                                                        <a href="#trainplan" id="trainplan-tab" role="tab"
                                                            data-toggle="tab"
                                                            aria-controls="trainplan" aria-expanded="true">
                                                            <label>
                                                                قطار
                                                            </label>
                                                        </a>
                                                    </li>

                                                    <li role="presentation">
                                                        <a href="#busplan" role="tab" id="busplan-tab"
                                                            data-toggle="tab"
                                                            aria-controls="busplan" aria-expanded="false">
                                                            <label>
                                                                اتوبوس

                                                            </label> </a>
                                                    </li>

                                                </ul>
                                                <div id="myTabContent2" class="tab-content">
                                                    <br>

                                                    <div role="tabpanel" class="active in tab-pane fade"
                                                            id="internalfly"
                                                            aria-labelledby="internalfly-tab">
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-body">
                                                                        <label class="text-primary">
                                                                            پرواز عادی
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-body">
                                                                        <label class="text-success">
                                                                            پرواز ویژه
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-danger">
                                                                    <div class="panel-body">
                                                                        <label class="text-danger">
                                                                            پرواز چارتری
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-warning">
                                                                    <div class="panel-body">
                                                                        <label class="text-warning">
                                                                            پرواز لحظه آخری
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="externalfly"
                                                            aria-labelledby="external-tab">
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-body">
                                                                        <label class="text-primary">
                                                                            پرواز عادی
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-body">
                                                                        <label class="text-success">
                                                                            پرواز ویژه
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-danger">
                                                                    <div class="panel-body">
                                                                        <label class="text-danger">
                                                                            پرواز چارتری
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-warning">
                                                                    <div class="panel-body">
                                                                        <label class="text-warning">
                                                                            پرواز لحظه آخری
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="trainplan"
                                                            aria-labelledby="trainplan-tab">
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-body">
                                                                        <label class="text-primary">
                                                                            قطار سریع السیر
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-body">
                                                                        <label class="text-success">
                                                                            قطار درجه 1
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-danger">
                                                                    <div class="panel-body">
                                                                        <label class="text-danger">
                                                                            قطار درجه 2
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div role="tabpanel" class="tab-pane fade" id="busplan"
                                                            aria-labelledby="busplan-tab">
                                                        <div class="row">
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-primary">
                                                                    <div class="panel-body">
                                                                        <label class="text-primary">
                                                                            اتوبوس عادی
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3">
                                                                <div class="panel panel-success">
                                                                    <div class="panel-body">
                                                                        <label class="text-success">
                                                                            اتوبوس VIP
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </li>
                            <!--With Offsets
                            -->
                            <li class="dropdown dropdown-toggle yamm-fw">
                                <a href="#" data-toggle="dropdown" data-hover="dropdown">
                                    <span class="glyphicon glyphicon-bed"></span>
                                    <label>
                                        اقامت
                                    </label>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="container-fluid">
                                        <div class="row">
                                            هتل و اپارتمان
                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">

                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!--With Offsets
                            -->
                            <li class="dropdown dropdown-toggle yamm-fw">
                                <a href="#" data-toggle="dropdown" data-hover="dropdown">
                                    <span class="glyphicon glyphicon-sunglasses"></span>
                                    <label>
                                        خدمات
                                    </label>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="container-fluid">
                                        <div class="row">
                                            کرایه اتومبیل
                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">

                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!--With Offsets
                            -->
                            <li class="dropdown dropdown-toggle yamm-fw">
                                <a href="#" data-toggle="dropdown" data-hover="dropdown">
                                    <span class="glyphicon glyphicon-cutlery"></span>
                                    <label>
                                        تغذیه
                                    </label>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="container-fluid">
                                        <div class="row">
                                            رستورانها
                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">

                                        </div>
                                        <div class="row">

                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control " placeholder="جستجو کنید ...">
                                    </div>
                                    <button type="submit" class="btn btn-warning">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </form>
                            </li>
                            <li class="">
                                {% if user.is_anonymous %}
                                    <a class="iframe" href="{% url 'login' %}"><label>ورود/عضویت</label></a>
                                    {% else %}
                                        <a href="
                                            {% if user.is_staff %}
                                                {% if user.is_admin %}
                                                    {% url 'Manager_Dashboard:start' %}
                                                {% else %}
                                                    {% url 'Co_Panel:Co_Panel' %}
                                                {% endif %}
                                            {% else %}
                                                {% url 'Profile:home' %}
                                           {% endif %}
                                           "> <label>خوش آمدید، {{ user.get_full_name }}</label></a>
                                {% endif %}
                            </li>
                            <li class="">
                                {% if not user.is_anonymous %}
                                    <a href="{% url 'logout' %}"><label>خروج</label></a>
                                {% endif %}
                            </li>
                            <!--With Offsets
                            -->

                            <!--With Offsets
                            -->

                        </ul>
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown dropdown-toggle yamm-fw">
                               <a class="iframe" href="{% url 'Manager_Dashboard:start' %}"><label>ورود مدیریت</label></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>

    </div>
</header>
<script>
        $("a.iframe").fancybox({
            'transitionIn'  :   'elastic', //Used for animation, delete if not needed
            'transitionOut' :   'elastic', //Used for animation, delete if not needed
            'speedIn'       :   600,  //Used for animation, delete if not needed
            'speedOut'      :   200, //Used for animation, delete if not needed
            'overlayShow': true, //Used for animation, delete if not needed
            'showCloseButton' : false,
            'width'         :   650, //Set your width
            'height'        :   800, //Set your height
        });
</script>