﻿{% extends "app/base.html" %}
{% load staticfiles %}
{% block css-files %}
    <link rel="stylesheet" href="{% static 'content/fullwidthslider.css' %}">

        <link type="text/css" rel="stylesheet" href="{% static 'content/typeaheadjs.css' %}">

{% endblock %}
{% block js-files %}
    <script type="text/javascript" src="{% static 'scripts/jssor.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/jssor.slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/fullwidthslider.js' %}"></script>
    <script src="{% static 'scripts/bootstrap-hover-tabs.js' %}"></script>
    <script src="{% static 'scripts/bootstrap-hover-dropdown.js' %}"></script>
        <script src="{% static 'scripts/typeahead.bundle.js' %}"></script>
    <script src="{% static 'scripts/handlebars-v3.0.3.js' %}"></script>
    <script src="{% static 'scripts/search-product.js' %}"></script>

{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div id="slider1_container" style="position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
                    <!-- Loading Screen -->
                    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
                top: 0px; left: 0px; width: 100%; height: 100%;">
                        </div>
                        <div style="position: absolute; display: block; background: url({% static 'images/img/loading.gif' %}) no-repeat center center;
                                top: 0px; left: 0px; width: 100%; height: 100%;">
                        </div>
                    </div>
                    <!-- Slides Container -->
                    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px;
            height: 500px; overflow: hidden;">
                        <div>
                            <img u="image" src="{% static 'images/hometemplate/main-slider-1.png' %}"/>

                            <div u="caption" t="NO" t3="RTT|2" r3="137.5%" du3="3000" d3="500"
                                 style="position: absolute; width: 445px; height: 300px; top: 100px; left: 600px;">
                                <img src="{% static 'images/img/new-site/c-phone.png' %}"
                                     style="position: absolute; width: 445px; height: 300px; top: 0px; left: 0px;"/>
                                <img u="caption" t="CLIP|LR" du="4000" t2="NO"
                                     src="{% static 'images/img/new-site/c-jssor-slider.png' %}"
                                     style="position: absolute; width: 102px; height: 78px; top: 70px; left: 130px;"/>
                                <img u="caption" t="ZMF|10" t2="NO"
                                     src="{% static 'images/img/new-site/c-text.png' %}"
                                     style="position: absolute; width: 80px; height: 53px; top: 153px; left: 163px;"/>
                                <img u="caption" t="RTT|10" t2="NO"
                                     src="{% static 'images/img/new-site/c-fruit.png' %}"
                                     style="position: absolute; width: 140px; height: 90px; top: 60px; left: 220px;"/>
                                <img u="caption" t="T" du="4000" t2="NO"
                                     src="{% static 'images/img/new-site/c-navigator.png' %}"
                                     style="position: absolute; width: 200px; height: 155px; top: 57px; left: 121px;"/>
                            </div>
                            <div u="caption" t="RTT|2" r="-75%" du="1600" d="2500" t2="NO"
                                 style="position: absolute; width: 470px; height: 220px; top: 120px; left: 650px;">
                                <img src="{% static 'images/img/new-site/c-phone-horizontal.png' %}"
                                     style="position: absolute; width: 470px; height: 220px; top: 0px; left: 0px;"/>
                                <img u="caption" t3="MCLIP|L" du3="2000"
                                     src="{% static 'images/img/new-site/c-slide-1.jpg' %}"
                                     style="position: absolute; width: 379px; height: 213px; top: 4px; left: 45px;"/>
                                <img u="caption" t="MCLIP|R" du="2000" t2="NO"
                                     src="{% static 'images/img/new-site/c-slide-3.jpg' %}"
                                     style="position: absolute; width: 379px; height: 213px; top: 4px; left: 45px;"/>
                                <img u="caption" t="RTTL|BR" x="500%" y="500%" du="1000" d="-3000" r="-30%" t3="L"
                                     x3="70%"
                                     du3="1600" src="{% static 'images/img/new-site/c-finger-pointing.png' %}"
                                     style="position: absolute; width: 257px; height: 300px; top: 80px; left: 200px;"/>
                                <img src="{% static 'images/img/new-site/c-navigator-horizontal.png' %}"
                                     style="position: absolute; width: 379px; height: 213px; top: 4px; left: 45px;"/>
                            </div>

                            <div style="position: absolute; width: 480px; height: 120px; top: 400px; left: 30px; padding: 5px;
                    text-align: left; line-height: 36px; font-size: 30px;
                        color: #FFFFFF;">
                                <a href="#">
                                    تو فکر یه مسافرت خوب هستی؟
                                </a>
                            </div>
                        </div>
                        <div>
                            <img u="image" src="{% static 'images/hometemplate/main-slider-2.png' %}"/>


                            <div style="position: absolute; width: 480px; height: 120px; top: 400px; left: 30px; padding: 5px;
                    text-align: left; line-height: 36px; font-size: 30px;
                        color: #FFFFFF;">
                                لذت یک سفر با خدمات ویژه هواپیمایی
                            </div>
                        </div>
                        <div>
                            <img u="image" src="{% static 'images/img/1920/blue.jpg' %}"/>


                            <div style="position: absolute; width: 480px; height: 120px; top: 400px; left: 30px; padding: 5px;
                    text-align: left; line-height: 36px; font-size: 30px;
                        color: #FFFFFF;">
                                متن نمونه برای اسلایدر
                            </div>
                        </div>
                    </div>

                    <!--#region Bullet Navigator Skin Begin -->
                    <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->
                    <!-- bullet navigator container -->
                    <div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
                        <!-- bullet navigator item prototype -->
                        <div u="prototype"></div>
                    </div>
                    <!--#endregion Bullet Navigator Skin End -->

                    <!--#region Arrow Navigator Skin Begin -->
                    <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->

                    <!-- Arrow Left -->
        <span u="arrowleft" class="jssora21l" style="top: 123px; left: 8px;">
        </span>
                    <!-- Arrow Right -->
        <span u="arrowright" class="jssora21r" style="top: 123px; right: 8px;">
        </span>
                    <!--#endregion Arrow Navigator Skin End -->
                    <a style="display: none" href="http://www.jssor.com">Bootstrap Slider</a>
                </div>
            </div>
            <div class="panel panel-default col-lg-5"
                 style="position: absolute; top: 100px; left: auto;right: 100px;height: 55%">
                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                                  data-toggle="tab">
                            تور
                        </a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                            حمل و نقل
                        </a>
                        </li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                                                   data-toggle="tab">
                            اقامت
                        </a>
                        </li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab"
                                                   data-toggle="tab">
                            خدمات
                        </a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <br>

                            <form action="{% url 'app:search_result' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="btn-group col-lg-8">
                                        <label>
                                            مبدا
                                        </label>
                                        {{ search_form.origin_city }}
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <span class="glyphicon glyphicon-time text-success"></span>
                                            <label>
                                                تاریخ رفت
                                            </label>
                                            {#                                        <input id="observer1" aria-label="تاریخ رفت" type="text"#}
                                            {#                                               class="observer form-control text-primary"/>#}
                                            {{ search_form.start_date }}

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="btn-group col-lg-8">
                                        <label>
                                            مقصد
                                        </label>
                                        {{ search_form.city }}
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <span class="glyphicon glyphicon-time text-danger"></span>
                                            <label>
                                                تاریخ برگشت
                                            </label>
                                            {#                                        <input id="observer2" aria-label="تاریخ رفت" type="text"#}
                                            {#                                               class="observer form-control text-primary"/>#}
                                            {{ search_form.end_date }}

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    {#                                <div class="btn-group col-lg-8">#}
                                    {#                                    <div class="col-lg-3">#}
                                    {#                                        <label>#}
                                    {#                                            بزرگسال#}
                                    {#                                        </label>#}
                                    {#                                        <input class="form-control p5" type="number">#}
                                    {#                                    </div>#}
                                    {#                                    <div class="col-lg-3">#}
                                    {#                                        <label>#}
                                    {#                                            خردسال#}
                                    {#                                        </label>#}
                                    {#                                        <input class="form-control p5" type="number">#}
                                    {#                                    </div>#}
                                    {#                                    <div class="col-lg-3">#}
                                    {#                                        <label>#}
                                    {#                                            مسن#}
                                    {#                                        </label>#}
                                    {#                                        <input class="form-control p5" type="number">#}
                                    {#                                    </div>#}
                                    {#                                </div>#}

                                    <div class="col-lg-4">
                                        <br>
                                        <a href="{% url 'app:search_result' %}">
                                            <input value="                                            جستجو"
                                                   type="submit" class="btn btn-primary btn-lg center-block">
                                            {#                                            <span class="glyphicon glyphicon-search"></span>#}

                                            </input>
                                        </a>


                                    </div>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            حمل و نقل
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">اقامت</div>
                        <div role="tabpanel" class="tab-pane" id="settings">
                            خدمات
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid bg-grey">
            <div class="container">
                <div class="row">


                    <h3>
                        تورهای
                <span class="text-warning">

جدید
                </span></h3>
                    <hr>
                    <div class=" col-lg-12 panel panel-danger ">
                        <br>
                        {% for tour in lasttours %}
                            <div class="col-lg-3 ">
                                <a href="/home/tour-details/{{ tour.id }}">
                                    {#                                    todo: correct url#}
                                    <img class="img-responsive excerpt-img"
                                         src="{{ tour.images.image.url }}"
                                         alt="{{ tour.images.caption }}">

                                    <div class="col-lg-3 label label-default">
                                        <p class="boldnumber">{{ tour.duration }}</p>
                                <span class="days">
                                    روز
                                </span>
                                    </div>
                                    <div class="col-lg-9 label {% cycle 'label-success' 'label-danger' 'label-primary' %}">
                                        <h4>
                                            {{ tour.destination_city }}
                                        </h4>
                                    </div>
                                    <div>
                                        <div class="panel panel-body panel-default bg-grey">
                                            <p class="text-center"><br>
                                                {{ tour.name }}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <h3>
                            تورهای
                                        <span class="text-primary">
پر بازدید
                                        </span>
                        </h3>
                        <hr>
                        <div class="row">
                            {% for mvtour in most_visited %}
                                {% if forloop.counter > 3 %}
                                    <br>
                                {% endif %}
                                <div class="col-lg-4 thumbnail-margin ">
                                    <a href="/home/tour-details/{{ mvtour.id }}">
                                        {#                                        todo correct link thumbnail#}
                                        <img class="img-responsive excerpt-img"
                                             src="{{ mvtour.images.image.url }}"
                                             alt="{{ mvtour.images.caption }}">


                                        <div class="col-lg-3 label label-default">
                                            <p class="boldnumber">{{ mvtour.duration }}</p>
                            <span class="days">
                                روز
                            </span>
                                        </div>
                                        <div class="col-lg-9 label {% cycle 'label-success' 'label-danger' 'label-primary' 'label-info' %}">
                                            <h4>
                                                {{ mvtour.destination_city }}
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                    <div class="col-lg-4">
                        <h3>
                            آخرین
                                        <span class="text-danger">
                اخبار
                                        </span>
                        </h3>
                        <hr>
                        <div class="panel" id="lastnews" data-spy="scroll" data-target="" data-offset="0">
                            <table class="table table-hover">
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            افزایش ظرفیت تور شمال!
                                        </h5>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            افزایش ظرفیت تور شمال!
                                        </h5>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            افزایش ظرفیت تور شمال!
                                        </h5>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            افزایش ظرفیت تور شمال!
                                        </h5>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            افزایش ظرفیت تور شمال!
                                        </h5>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            افزایش ظرفیت تور شمال!
                                        </h5>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            افزایش ظرفیت تور شمال!
                                        </h5>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            افزایش ظرفیت تور شمال!
                                        </h5>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            افزایش ظرفیت تور شمال!
                                        </h5>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            افزایش ظرفیت تور شمال!
                                        </h5>
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            هر روز یک برنامه تفریحی
                                        </h5>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            هر روز یک برنامه تفریحی
                                        </h5>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            هر روز یک برنامه تفریحی
                                        </h5>
                                    </td>

                                </tr>

                                <tr>
                                    <td>
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </td>
                                    <td>
                                        <h5 class="text-default">
                                            حمل و نقل رایگان فرودگاهی
                                        </h5>
                                    </td>

                                </tr>

                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>
{% endblock %}
