﻿{% extends "app/base.html" %}
{% load staticfiles %}

{% block css-files %}
    <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block js-files %}
    <a href="#index" class="go2top"><i class="icon-arrow-up"></i></a>
    <script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'scripts/jquery.blockui.min.js' %}"></script>
    <script src="{% static 'assets/global/plugins/jquery.cokie.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js' %}"></script>
    <script src="{% static 'assets/global/scripts/metronic.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/admin/layout4/scripts/layout.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function() {    
   	    Metronic.init();
   	    Layout.init();
        });
    </script>
{% endblock %}