{% extends "app/metro-layout.html" %}
{% load month_filter %}
{% load staticfiles %}
{% block more-css-files %}
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{% static 'assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css' %}" rel="stylesheet">
    <link href="{% static 'assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.Metronic-rtl.css' %}"
          rel="stylesheet">
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" href="{% static 'assets/global/plugins/bootstrap-select/bootstrap-select-rtl.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/global/plugins/select2/select2.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/global/plugins/jquery-multi-select/css/multi-select-rtl.css' %}"/>
    <!-- BEGIN THEME STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="{% static 'assets/global/css/plugins-rtl.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/admin/layout4/css/layout-rtl.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/admin/layout4/css/custom-rtl.css' %}" rel="stylesheet" type="text/css">


{% endblock %}
{% block more-js-files %}
    <script src="{% static 'scripts/excanvas.min.js' %}"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'assets/global/plugins/ion.rangeslider/js/ion-rangeSlider/ion.rangeSlider.min.js' %}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'assets/admin/pages/scripts/components-ion-sliders.js' %}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/global/plugins/select2/select2.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js' %}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'assets/admin/pages/scripts/components-dropdowns.js' %}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            ComponentsIonSliders.init();
            ComponentsDropdowns.init();
        });

    </script>
    <script src="{% static 'scripts/underscore.js' %}"></script>
    <script src="{% static 'scripts/search-result.js' %}"></script>
    <script id="entry-template" type="text/template">
       <% _.each(tour, function(tour) { %>
            <div class="col-lg-6 thumbnail-margin">
                <div class="col-lg-2 label label-default">
                    <p class="boldnumber"><%= tour.duration %></p>
            <span class="days">
                روز
            </span>
                </div>
                <div class="col-lg-4 label label-primary">
                    <h4>
                        <%= tour.destination_city %>


                    </h4>
                </div>
                <div class="col-lg-6 label label-default">
                    <h4>
                        <%= tour.departure_day %>
                        <%= tour.departure_month %>
                        تا
                        <%= tour.arrival_day %>
                        <%= tour.arrival_month %>
                    </h4>
                </div>
                <div class="col-lg-6 bg-white excerpt">
                    <br>
                    <strong>
                        <%= tour.name %>                            </strong>

                    <p class="text-justify">
                        <%= tour.description %>
                    </p>
                </div>
                <div class="col-lg-6 bg-grey nopadding ">
                    <img class="img-responsive excerpt-img" src= <%= tour.image %> >
                </div>
                <div class="col-lg-6 nopadding itemsborder">
                    <div class="scrollspy-feature" data-spy="scroll" data-target="" data-offset="0">
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    <i class="glyphicon glyphicon-plus"></i>
                                </td>
                                <td>
                                    <p>
                                        مقصد:
                                        <%= tour.destination_city %>
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <i class="glyphicon glyphicon-plus"></i>
                                </td>
                                <td>
                                    <p>
                                        زمان:
                                        <%= tour.duration %>
                                        روز

                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <i class="glyphicon glyphicon-plus"></i>
                                </td>
                                <td>
                                    <p>
                                        حمل و نقل: با
                                        <%= tour.transport_type %>
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <i class="glyphicon glyphicon-plus"></i>
                                </td>
                                <td>
                                    <p>
                                        قیمت:
                                        <%= tour.price %>
                                        تومان
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <i class="glyphicon glyphicon-plus"></i>
                                </td>
                                <td>
                                    <p>
                                        قیمت:
                                        <%= tour.price %>
                                        تومان
                                    </p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <i class="glyphicon glyphicon-plus"></i>
                                </td>
                                <td>
                                    <p>
                                        قیمت:
                                        <%= tour.price %>
                                        تومان
                                    </p>
                                </td>

                            </tr>


                        </table>
                    </div>
                    <br>

                </div>
                <div class="col-lg-6 bg-white block-feature">
                    <br>

                    <div data-example-id="togglable-tabs">
                        <ul id="myTabs" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#weather" id="weather-tab" role="tab" data-toggle="tab"
                                   aria-controls="weather" aria-expanded="true">
                                    <span class="glyphicon glyphicon-cloud thuumbnailpic"></span>
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#price" role="tab" id="price-tab" data-toggle="tab"
                                   aria-controls="price" aria-expanded="false">
                                    <span class="glyphicon glyphicon-usd thuumbnailpic"></span>
                                </a>
                            </li>
                            <li role="presentation"><a href="#gallery" role="tab" id="gallery-tab"
                                                       data-toggle="tab"
                                                       aria-controls="gallery" aria-expanded="false">
                                <span class="glyphicon glyphicon-camera thuumbnailpic"></span>
                            </a>
                            </li>

                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="active in tab-pane fade" id="weather"
                                 aria-labelledby="weather-tab">
                                <br>
                                <img class="center-block" src="{% static 'images/weathertour-blue.png' %}">
                                </img>
                                <h4 class="text-center">
                                    بارانی 35 درجه سانتیگراد
                                </h4>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="price"
                                 aria-labelledby="price-tab">
                                <br>
                                <img class="center-block" src="{% static 'images/moneytour-blue.png' %}">
                                <h4 class="text-center">
                                    <%= tour.price %>
                                    تومان
                                </h4>
                            </div>
                            <div role="tabpane2" class="tab-pane fade" id="gallery"
                                 aria-labelledby="gallery-tab">
                                <br>

                                <div class="col-lg-6">
                                    <img class="thumbnail img-responsive"
                                         src="{% static 'images/sh2.JPG' %}">
                                </div>
                                <div class="col-lg-6">
                                    <img class="thumbnail img-responsive"
                                         src="{% static 'images/sh2.JPG' %}">
                                </div>
                                <div class="col-lg-6">
                                    <img class="thumbnail img-responsive"
                                         src="{% static 'images/sh2.JPG' %}">
                                </div>
                                <div class="col-lg-6">
                                    <img class="thumbnail img-responsive"
                                         src="{% static 'images/sh2.JPG' %}">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
      <%  }) %>
    </script>
{% endblock %}

{% block content %}
    <br>
    <br>
    <div class="container-fluid">


        <div class="row">
            <aside class="col-lg-3">
                <br>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">جستجوی پیشرفته</h3>
                    </div>
                    <div class="panel-body">
                        <div role="form">
                            <div class="form-group form-md-checkboxes">
                                <label class="control-label"> نوع تور</label>

                                {#                                <div class="md-checkbox-list">#}
                                {#                                    <div class="md-checkbox">#}
                                {#                                        <input type="checkbox" id="checkbox1" class="md-check">#}
                                {#                                        <label for="checkbox1">#}
                                {#                                            <span></span>#}
                                {#                                            <span class="check"></span>#}
                                {#                                            <span class="box"></span>#}
                                {#                                            داخلی#}
                                {#                                        </label>#}
                                {#                                    </div>#}
                                {#                                    <div class="md-checkbox">#}
                                {#                                        <input type="checkbox" id="checkbox2" class="md-check" checked>#}
                                {#                                        <label for="checkbox2">#}
                                {#                                            <span></span>#}
                                {#                                            <span class="check"></span>#}
                                {#                                            <span class="box"></span>#}
                                {#                                            خارجی#}
                                {#                                        </label>#}
                                {#                                    </div>#}
                                {#                                    <div class="md-checkbox">#}
                                {#                                        <input type="checkbox" id="checkbox3" class="md-check">#}
                                {#                                        <label for="checkbox3">#}
                                {#                                            <button id="tabiat" class="box"> طبیعت گردی</button>#}
                                {##}
                                {#                                        </label>#}
                                {#                                    </div>#}
                                {#                                    <div class="md-checkbox">#}
                                {#                                        <input type="checkbox" id="checkbox4" class="md-check">#}
                                {#                                        <label for="checkbox4">#}
                                {#                                            <span></span>#}
                                {#                                            <span class="check"></span>#}
                                {#                                            <span class="box"></span>#}
                                {#                                            کویر نوردی#}
                                {#                                        </label>#}
                                {#                                    </div>#}
                                {#                                    <div class="md-checkbox">#}
                                {#                                        <input type="checkbox" id="checkbox5" class="md-check">#}
                                {#                                        <label for="checkbox5">#}
                                {#                                            <span></span>#}
                                {#                                            <span class="check"></span>#}
                                {#                                            <span class="box"></span>#}
                                {#                                            کوه نوردی#}
                                {#                                        </label>#}
                                {#                                    </div>#}
                                {##}
                                {#                                </div>#}
                            </div>
                            <label class="control-label">تاریخ سفر</label>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                    <input type="text" class="form-control observer" id="fromDate"
                                           placeholder="زمان رفت">
                                </div>
                                <br>

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                    <input type="text" class="form-control observer" id="toDate"
                                           placeholder="زمان برگشت ">
                                </div>
                            </div>

                            <label class="control-label">هزینه</label>

                            <input class="rangedirection" id="range_2" type="text" name="range_2" value="500000;20000000"
                                   data-type="double" data-step="100000" data-postfix="  تومان" data-from="300000"
                                   data-to="3000000"
                                   data-hasgrid="true"/>
                            <br>

                            <div class="form-group">
                                <label class="control-label">
                                    کشور مبدا
                                    </label>
                                <div>
                                     <select name="" id="originCountry" class="form-control select2"
                                            data-defaultValue="AL">
                                        <option value="IR">ایران</option>
                                        <option value="AM">ارمنستان</option>
                                        <option value="LB">لبنان</option>
                                        <option value="TM">ترکمنستان</option>

                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">
                                    شهر مبدا
                                </label>

                                <div>
                                    <select name="" id="originCity" class="form-control select2"
                                            data-defaultValue="TEH">
                                        <option value="TEH">تهران</option>
                                           <option value="KRN">کرمان</option>
                                            <option value="SHR">شیراز</option>
                                            <option value="MSH">مشهد</option>
                                            <option> لواسان</option>
                                            <option> تهران</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="control-label">
                                    کشور مقصد
                                </label>
                                <div>
                                    <select name="" id="destinationCountry" class="form-control select2"
                                            data-defaultValue="AL">
                                        <option value="IR">ایران</option>
                                        <option value="AM">ارمنستان</option>
                                        <option value="LB">لبنان</option>
                                        <option value="TM">ترکمنستان</option>
                                    </select>
                                </div>
                            </div>
                                                        <div class="form-group">
                                <label class="control-label">
                                    شهر مقصد
                                </label>
                                <div>
                                    <select name="" id="destinationCity" class="form-control select2"
                                            data-defaultValue="SHR">
                                        <option value="TEH">تهران</option>
                                        <option value="KRN">کرمان</option>
                                        <option value="SHR">شیراز</option>
                                        <option value="MSH">مشهد</option>
                                        <option value="KRMNSH">کرمانشاه</option>
                                        <option value="LAH">لاهیجان</option>
                                        <option value="RSHT">رشت</option>
                                    </select>
                                </div>
                            </div>
                            <button id="search-filter" class="btn btn btn-primary btn-lg center-block">جستجو</button>
                        </div>
                    </div>

                </div>
            </aside>
            <section class="col-lg-9">
                <br>

                <div class="row" id="existing">
                    {% for tour in searched_tours %}
                        <div class="col-lg-6">
                            <div class="col-lg-2 label label-default">
                                <p class="boldnumber">{{ tour.duration }}</p>
            <span class="days">
                روز
            </span>
                            </div>
                            <div class="col-lg-4 label label-primary">
                                <h4>
                                    {{ tour.destination_city }}


                                </h4>
                            </div>
                            <div class="col-lg-6 label label-default">
                                <h4>
                                    {{ tour.departure.day }}
                                    {{ tour.departure.month|month_filter }}
                                    تا
                                    {{ tour.arrival.day }}
                                    {{ tour.departure.month|month_filter }}
                                </h4>
                            </div>
                            <div class="col-lg-6 bg-white excerpt">
                                <br>
                                <strong>
                                    {{ tour.name }}                            </strong>

                                <p class="text-justify">
                                    {{ tour.description }}
                                </p>
                            </div>
                            <div class="col-lg-6 bg-grey nopadding ">
                                <img class="img-responsive excerpt-img" src="{{ tour.images.image.url }}">
                            </div>
                            <div class="col-lg-6 nopadding itemsborder">
                                <div class="scrollspy-feature" data-spy="scroll" data-target="" data-offset="0">
                                    <table class="table table-hover">
                                        <tr>
                                            <td>
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </td>
                                            <td>
                                                <p>
                                                    مقصد:
                                                    {{ tour.destination_city }}
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </td>
                                            <td>
                                                <p>
                                                    زمان:
                                                    {{ tour.duration }}
                                                    روز

                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </td>
                                            <td>
                                                <p>
                                                    حمل و نقل: با
                                                    {{ tour.get_transport_type_display }}
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </td>
                                            <td>
                                                <p>
                                                    قیمت:
                                                    {{ tour.price }}
                                                    تومان
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </td>
                                            <td>
                                                <p>
                                                    قیمت:
                                                    {{ tour.price }}
                                                    تومان
                                                </p>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </td>
                                            <td>
                                                <p>
                                                    قیمت:
                                                    {{ tour.price }}
                                                    تومان
                                                </p>
                                            </td>

                                        </tr>


                                    </table>
                                </div>
                                <br>

                            </div>
                            <div class="col-lg-6 bg-white block-feature">
                                <br>

                                <div data-example-id="togglable-tabs">
                                    <ul id="myTabs" class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#weather" id="weather-tab" role="tab" data-toggle="tab"
                                               aria-controls="weather" aria-expanded="true">
                                                <span class="glyphicon glyphicon-cloud thuumbnailpic"></span>
                                            </a>
                                        </li>
                                        <li role="presentation">
                                            <a href="#price" role="tab" id="price-tab" data-toggle="tab"
                                               aria-controls="price" aria-expanded="false">
                                                <span class="glyphicon glyphicon-usd thuumbnailpic"></span>
                                            </a>
                                        </li>
                                        <li role="presentation"><a href="#gallery" role="tab" id="gallery-tab"
                                                                   data-toggle="tab"
                                                                   aria-controls="gallery" aria-expanded="false">
                                            <span class="glyphicon glyphicon-camera thuumbnailpic"></span>
                                        </a>
                                        </li>

                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="active in tab-pane fade" id="weather"
                                             aria-labelledby="weather-tab">
                                            <br>
                                            <img class="center-block" src="{% static 'images/weathertour-blue.png' %}">
                                            </img>
                                            <h4 class="text-center">
                                                بارانی 35 درجه سانتیگراد
                                            </h4>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="price"
                                             aria-labelledby="price-tab">
                                            <br>
                                            <img class="center-block" src="{% static 'images/moneytour-blue.png' %}">
                                            <h4 class="text-center">
                                                {{ tour.price }}
                                                تومان
                                            </h4>
                                        </div>
                                        <div role="tabpane2" class="tab-pane fade" id="gallery"
                                             aria-labelledby="gallery-tab">
                                            <br>

                                            <div class="col-lg-6">
                                                <img class="thumbnail img-responsive"
                                                     src="{% static 'images/sh2.JPG' %}">
                                            </div>
                                            <div class="col-lg-6">
                                                <img class="thumbnail img-responsive"
                                                     src="{% static 'images/sh2.JPG' %}">
                                            </div>
                                            <div class="col-lg-6">
                                                <img class="thumbnail img-responsive"
                                                     src="{% static 'images/sh2.JPG' %}">
                                            </div>
                                            <div class="col-lg-6">
                                                <img class="thumbnail img-responsive"
                                                     src="{% static 'images/sh2.JPG' %}">
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>


            </section>
        </div>
    </div>
{% endblock %}