﻿{% extends "app/base.html" %}
{% load staticfiles %}
{% load month_filter %}
{% block css-files %}

    <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/global/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet">
    <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css' %}"
          rel="stylesheet">
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{% static 'assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css' %}" rel="stylesheet">
    <link href="{% static 'assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.Metronic-rtl.css' %}"
          rel="stylesheet">
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" href="{% static 'assets/global/plugins/bootstrap-select/bootstrap-select-rtl.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/global/plugins/select2/select2.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/global/plugins/jquery-multi-select/css/multi-select-rtl.css' %}"/>
    <!-- BEGIN THEME STYLES -->
    <!-- BEGIN THEME STYLES -->
    {#    <link href="{% static 'assets/global/css/components-rtl.css' %}" rel="stylesheet">#}
    <link href="{% static 'assets/admin/pages/css/blog-rtl.css' %}" rel="stylesheet">
    <link href="{% static 'assets/global/css/plugins-rtl.css' %}" rel="stylesheet">
    <link href="{% static 'assets/admin/layout4/css/layout-rtl.css' %}" rel="stylesheet">
    {#    <link href="{% static 'assets/admin/layout4/css/themes/light-rtl.css' %}" rel="stylesheet">#}
    <link href="{% static 'assets/admin/layout4/css/custom-rtl.css' %}" rel="stylesheet">
    <!-- END THEME STYLES -->
    <link rel="stylesheet" href="{% static 'content/callout.css' %}">
    <link rel="stylesheet" href="{% static 'content/jss.css' %}">
{% endblock %}
{% block js-files %}
    <script type="text/javascript" src="{% static 'scripts/jssor.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/jssor.slider.js' %}"></script>
    <script src="{% static 'scripts/gallerySlider.js' %}"></script>
    <script src="{% static 'scripts/respond.js' %}"></script>
    <script src="{% static 'scripts/excanvas.min.js' %}"></script>
    <script src="{% static 'scripts/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/jquery-migrate.min.js' %}" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="{% static 'assets/global/plugins/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'scripts/jquery.blockui.min.js' %}"></script>
    <script src="{% static 'scripts/jquery.cokie.min.js' %}"></script>
    <script src="{% static 'assets/global/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"
            type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="{% static 'assets/global/plugins/ion.rangeslider/js/ion-rangeSlider/ion.rangeSlider.min.js' %}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'assets/global/scripts/metronic.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/admin/layout4/scripts/layout.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/admin/layout4/scripts/demo.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/admin/pages/scripts/components-ion-sliders.js' %}"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/global/plugins/select2/select2.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js' %}"></script>

    <script src="{% static 'assets/global/plugins/jquery.pulsate.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/jquery-bootpag/jquery.bootpag.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'assets/global/plugins/holder.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{% static 'assets/admin/pages/scripts/components-dropdowns.js' %}"></script>
    <script src="{% static 'assets/admin/pages/scripts/ui-general.js' %}" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            // initiate layout and plugins
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features  // set current page
            ComponentsIonSliders.init();
            ComponentsDropdowns.init();
        });

    </script>
{% endblock %}

{% block content %}
    <br><br>
    <br>
    <div class="container-fluid">

        <div class="row">
            <aside class="col-lg-4">
                <div>
                    <div class="col-lg-2 label label-default">
                        <p class="boldnumber">{{ tour.duration }}</p>
            <span class="days">
                روز
            </span>
                    </div>
                    <div class="col-lg-10 label label-primary">
                        <h4>
                            {{ tour.departure.day }}
                            {{ tour.departure.month|month_filter }}
                            تا
                            {{ tour.arrival.day }}
                            {{ tour.departure.month|month_filter }}
                        </h4>
                    </div>
                    <div class="col-lg-12 panel-default panel panel-body bg-grey">
                        <!--<br>-->
                        <strong>
                            {{ tour.name }}
                        </strong>

                        <p class="text-justify">
                            {{ tour.description }}
                        </p>

                        <div class="bs-callout bs-callout-primary bg-white">
                            <h4 class="block">
                                ویژه ی علاقمندان به تورهای
                                {% for cat in tour.categury.all %}
                                    {{ cat.name }}
                                {% endfor %}
                            </h4>

                            <p>
                                مقصد:
                                {{ tour.destination_city }}
                            </p>

                            <p>
                                زمان:
                                {{ tour.duration }}
                                روز

                            </p>

                            <p>
                                حمل و نقل: با
                                {{ tour.get_transport_type_display }}
                            </p>

                            <p>
                                قیمت:
                                {{ tour.price }}
                                تومان
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-inline blog-tags">
                                    <li>
                                        <i class="fa fa-tags"></i>
                                        <a href="javascript:;">
                                            تفریحی </a>
                                        <a href="javascript:;">
                                            گردشی </a>
                                        <a href="javascript:;">
                                            آلپ </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6 blog-tag-data-inner">
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-calendar"></i>
                                        <a href="javascript:;">
                                            تاریخ رفت:
                                            {{ tour.departure.day }}
                                            {{ tour.departure.month|month_filter }}
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-calendar"></i>
                                        <a href="javascript:;">
                                            تاریخ برگشت:
                                            {{ tour.arrival.day }}
                                            {{ tour.departure.month|month_filter }}
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-comments"></i>
                                        {#                                        todo comment correct#}
                                        <a href="javascript:;">

                                            4 نظر </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--<p class="text-justify">-->
                        <!--لذت تنفس در هوای پاک را از دست ندهید، فاصله گرفتن از محیط شهری و هوای آلوده به توصیه ی پزشکان تاثیر-->
                        <!--زیادی بر روح و روان انسان می گذارد و باعث ایجاد شادی و نشاط در انسان می گردد.-->
                        <!--</p>-->
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <p class="text-white ">
                                        نام تور
                                    </p>
                                </td>
                                <td class="text-left">
                                    <p class="text-primary ">
                                        {{ tour.name }}                                    </p>
                                </td>
                            </tr>


                            <tr>
                                <td>
                                    <p class="text-white ">
                                        ظرفیت
                                    </p>
                                </td>
                                <td class="text-left">
                                    <p class="text-primary ">
                                        {{ tour.mojoodi }}                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="text-white ">
                                        آژانس مسافرتی
                                    </p>
                                </td>
                                <td class="text-left">
                                    <p class="text-primary">
                                        {{ tour.provider.leg_info.company_name }}                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="text-white ">
                                        نوع تور
                                    </p>
                                </td>
                                <td class="text-left">
                                    <p class="text-primary ">
                                        {% for cat in tour.categury.all %}
                                            {{ cat.name }}
                                        {% endfor %}                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {#                                    todo rating#}
                                    <p class="text-white">
                                        امتیاز
                                    </p>
                                </td>
                                <td class="rating-td">
                                    <input id="rate-product" type="number" class="rating" min=0 max=10 step=0.1
                                           data-size="xs" data-rtl="true">

                                </td>

                            </tr>
                            <tr>
                                <td>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                        <a href="{% url 'payment:payment' 1 %}">
                            <button class="btn btn-primary center-block">
                                خرید
                            </button>
                        </a>
                    </div>
                </div>
                <h3>دسترسی سریع</h3>
                {#                <p>{{ tour.id }}</p>#}
                <div class="top-news">
                    <a href="#" class="btn btn-danger">
										<span>
										صفحه ی خرید سریع
                                        </span>
                        <em>تاریخ رفت: 2 روز دیگر</em>
                        <i class="fa fa-briefcase top-news-icon"></i>
                    </a>
                    <a href="#" class="btn btn-success">
										<span>
										پربازدیدترین سفرها </span>
                        <em>به روز شده: 2 دقیقه ی قبل</em>
                        <i class="fa fa-bolt top-news-icon"></i>
                    </a>
                    <a href="#" class="btn btn-primary">
										<span>
										کاهش قیمت ارز در ایران </span>
                        <em>تاریخ انتشار: 2 ساعت قبل</em>
                        <i class="fa fa-newspaper-o top-news-icon"></i>
                    </a>
                    <a href="#" class="btn btn-info">
										<span>
										مراجعه به سایت تامین کننده </span>
                        <i class="fa fa-globe top-news-icon"></i>
                    </a>
                </div>
            </aside>

            <section class="col-lg-8">
                <div>
                    <div class="col-lg-12 label label-default">
                        <h4>
                            {{ tour.destination_city }}                        </h4>
                    </div>
                    <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 960px;
                    height: 480px; background: #191919; overflow: hidden;">

                        <!-- Loading Screen -->
                        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
                            </div>
                            <div style="position: absolute; display: block; background: url({% static 'images/img/loading.gif' %}) no-repeat center center;
                                    top: 0px; left: 0px;width: 100%;height:100%;">
                            </div>
                        </div>

                        <!-- Slides Container -->
                        <div u="slides"
                             style="cursor: move; position: absolute; left: 240px; top: 0px; width: 720px; height: 480px; overflow: hidden;">
                            <div>
                                {#                                todo images#}
                                <img u="image" src="{% static 'images/img/travel/01.jpg' %}"/>
                                <img u="thumb" src="{% static 'images/img/travel/thumb-01.jpg' %}"/>
                            </div>
                            <div>
                                <img u="image" src="{% static 'images/img/travel/02.jpg' %}"/>
                                <img u="thumb" src="{% static 'images/img/travel/thumb-02.jpg' %}"/>
                            </div>
                            <div>
                                <img u="image" src="{% static 'images/img/travel/03.jpg' %}"/>
                                <img u="thumb" src="{% static 'images/img/travel/thumb-03.jpg' %}"/>
                            </div>
                            <div>
                                <img u="image" src="{% static 'images/img/travel/04.jpg' %}"/>
                                <img u="thumb" src="{% static 'images/img/travel/thumb-04.jpg' %}"/>
                            </div>
                            <div>
                                <img u="image" src="{% static 'images/img/travel/05.jpg' %}"/>
                                <img u="thumb" src="{% static 'images/img/travel/thumb-05.jpg' %}"/>
                            </div>
                            <div>
                                <img u="image" src="{% static 'images/img/travel/06.jpg' %}"/>
                                <img u="thumb" src="{% static 'images/img/travel/thumb-06.jpg' %}"/>
                            </div>
                            {#                            <div>#}
                            {#                                <img u="image" src="{% static 'images/img/travel/07.jpg' %}"/>#}
                            {#                                <img u="thumb" src="{% static 'images/img/travel/thumb-07.jpg' %}"/>#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                <img u="image" src="{% static 'images/img/travel/08.jpg' %}"/>#}
                            {#                                <img u="thumb" src="{% static 'images/img/travel/thumb-08.jpg' %}"/>#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                <img u="image" src="{% static 'images/img/travel/09.jpg' %}"/>#}
                            {#                                <img u="thumb" src="{% static 'images/img/travel/thumb-09.jpg' %}"/>#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                <img u="image" src="{% static 'images/img/travel/10.jpg' %}"/>#}
                            {#                                <img u="thumb" src="{% static 'images/img/travel/thumb-10.jpg' %}"/>#}
                            {#                            </div>#}
                            {##}
                            {#                            <div>#}
                            {#                                <img u="image" src="{% static 'images/img/travel/11.jpg' %}"/>#}
                            {#                                <img u="thumb" src="{% static 'images/img/travel/thumb-11.jpg' %}"/>#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                <img u="image" src="{% static 'images/img/travel/12.jpg' %}"/>#}
                            {#                                <img u="thumb" src="{% static 'images/img/travel/thumb-12.jpg' %}"/>#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                <img u="image" src="{% static 'images/img/travel/13.jpg' %}"/>#}
                            {#                                <img u="thumb" src="{% static 'images/img/travel/thumb-13.jpg' %}"/>#}
                            {#                            </div>#}
                            {#                            <div>#}
                            {#                                <img u="image" src="{% static 'images/img/travel/14.jpg' %}"/>#}
                            {#                                <img u="thumb" src="{% static 'images/img/travel/thumb-14.jpg' %}"/>#}
                            {#                            </div>#}
                        </div>

                        <!-- Arrow Left -->
        <span u="arrowleft" class="jssora05l" style="top: 158px; left: 248px;">
        </span>
                        <!-- Arrow Right -->
        <span u="arrowright" class="jssora05r" style="top: 158px; right: 8px">
        </span>
                        <!--#endregion Arrow Navigator Skin End -->
                        <!--#region Thumbnail Navigator Skin Begin -->
                        <!-- Help: http://www.jssor.com/development/slider-with-thumbnail-navigator-jquery.html -->


                        <!-- thumbnail navigator container -->
                        <div u="thumbnavigator" class="jssort02" style="left: 0px; bottom: 0px;">
                            <!-- Thumbnail Item Skin Begin -->
                            <div u="slides" style="cursor: default;">
                                <div u="prototype" class="p">
                                    <div class=w>
                                        <div u="thumbnailtemplate" class="t"></div>
                                    </div>
                                    <div class=c></div>
                                </div>
                            </div>
                            <!-- Thumbnail Item Skin End -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <br>

                        <div id="disqus_thread">
                            <script type="text/javascript">
                                /* * * CONFIGURATION VARIABLES * * */
                                var disqus_shortname = 'sepasiran';

                                /* * * DON'T EDIT BELOW THIS LINE * * */
                                (function () {
                                    var dsq = document.createElement('script');
                                    dsq.type = 'text/javascript';
                                    dsq.async = true;
                                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>

    <div class="">
        <section class="container-fluid">

            <div class="col-lg-12">

            </div>
            <div class=" col-lg-12 panel panel-danger ">
                <br>
                {#                todo tour similar#}
                {#                {% for tour in tour %}#}
                <div class="col-lg-3 ">
                    <a href="/home/tour-details/{{ tour.id }}">
                        <img class="img-responsive excerpt-img" src="{% static 'images/img/travel/01.jpg' %}"
                             alt="">

                        <div class="col-lg-2 label label-default">
                            <p class="boldnumber">3</p>
                                                <span class="days">
                                                    روز
                                                </span>
                        </div>
                        <div class="col-lg-10 label label-success">
                            <h4>
                                یزد
                            </h4>
                        </div>
                        <div>
                            <div class="panel panel-body panel-default bg-grey">
                                <p class="text-center"><br>
                                    تور کویر نوردی یزد را امتحان کنید!

                                </p>
                            </div>
                        </div>
                    </a>
                </div>

                {#                {% endfor %}#}


            </div>
        </section>
    </div>
{% endblock %}
