﻿{% extends "Profile/layout.html" %}
{% block header %}
{% endblock %}
{% block footer %}
{% endblock %}
{% load staticfiles %}
{% block content %}
<div class="page-404-3">
    <div class="page-inner">
	    <img src="{% static 'assets/admin/pages/media/pages/earth-rtl.jpg' %}" class="img-responsive" alt="">
    </div>
    <div class="container error-404">
	    <h1>404</h1>
	    <h2>
     صفحه ای که به دنبال آن می گردید وجود ندارد
        </h2>
	    <p>
		    لطفا به صفحه ی قبلی برگشته و دوباره امتحان کنید
	    </p>
	    <p>
		    <a href="index.html">
		    بازگشت به صفحه اصلی
            </a>
		    <br>
	    </p>
    </div>
</div>
{% endblock %}