﻿{% extends "Profile/layout.html" %}
{% block header %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block content %}
<div class="page-500-full-page">
    <div class="row">
	    <div class="col-md-12 page-500">
		    <div class=" number">
			     500
		    </div>
		    <div class=" details">
			    <h2>
                    خطا در سرور
                </h2>
                <h4>
			    <p>
			    کارکنان از خطای رخداده مطلع شده و در حال بررسی آن هستند
                    <br/>
                    <br/><br/>
			    </p>
                    </h4>
		    </div>
	    </div>
    </div>
</div>
{% endblock %}