﻿{% extends "Profile/layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-content page-content-popup">
	<!-- BEGIN PAGE CONTENT-->
	<div class="row profile">
		<div class="col-md-12">
			<!-- BEGIN PROFILE SIDEBAR -->
			{% include 'Profile/sidebar.html' %}
			<!-- END BEGIN PROFILE SIDEBAR -->
			<!-- BEGIN PROFILE CONTENT -->
			<div class="profile-content">
				<div class="row">
                    
					<div class="col-md-6">
						<!-- BEGIN PORTLET -->
						<div class="portlet light block-feature2">
							<div class="portlet-title">
								<div class="caption caption-md">
									<i class="icon-bar-chart theme-font hide"></i>
									<span class="caption-subject font-blue-madison bold uppercase">سفرهای شما</span>
									<span class="caption-helper hide"></span>
								</div>
								<div class="actions">
									<div class="btn-group btn-group-devided" data-toggle="buttons">
										<label class="btn btn-transparent grey-salsa btn-circle btn-sm active">
										<input type="radio" name="options" class="toggle" id="option1">در کل</label>
										<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
										<input type="radio" name="options" class="toggle" id="option2">این ماه</label>
										<label class="btn btn-transparent grey-salsa btn-circle btn-sm">
										<input type="radio" name="options" class="toggle" id="option2">این هفته</label>
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-scrollable table-scrollable-borderless">
									<table class="table table-hover table-light">
									<thead>
									<tr class="uppercase">
										<th>
												نام
										</th>
										<th>
												هزینه
										</th>
										<th>
												زمان اجرا
										</th>
										<th>
												مکان
										</th>
										<th>
												درخواست پشتیبانی
										</th>
									</tr>
									</thead>
                                        {% for factor in user_factors %}
                                            {% for service in factor.services %}
                                                {% if service.is_retail %}
									                <tr>
										                <td>
											                <a href="javascript:;" class="primary-link">{{ service.name}}</a>
										                </td>
										                <td>
												                {{ service.price }}
										                </td>
										                <td>
												                {{ service.start_date }}
										                </td>
										                <td>
												                {{ service.location }}
										                </td>
										                <td>
											                <a class="bold theme-font" href="{% url 'Profile:support' %}/{{ factor.factor_id }}">درخواست پشتیبانی</a>
										                </td>
									                </tr>       
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}     
									</table>
								</div>
							</div>
						</div>
						<!-- END PORTLET -->
					</div>
                    <div class="col-md-6">
						<!-- BEGIN PORTLET -->
						<div class="portlet light block-feature2">
							<div class="portlet-title">
								<div class="caption caption-md">
									<i class="icon-bar-chart theme-font hide"></i>
									<span class="caption-subject font-blue-madison bold uppercase">پشتیبانی</span>
								</div>
								<div class="inputs">
									<div class="portlet-input input-inline input-small ">
										<div class="input-icon right">
											<i class="icon-magnifier"></i>
											<input type="text" class="form-control form-control-solid" placeholder="جستجو...">
										</div>
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<div class="scroller" style="height: 305px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
									<div class="general-item-list">
                                        {% for answer in answers %}
										<div class="item">
											<div class="item-head">
												<div class="item-details">
                                                    <img src="/media/{{ answer.ticket.owner.avatar }}" class="col-md-2 img-responsive" alt="">
													<a href="" class="item-name primary-link">{{ answer.ticket.owner.l_name }}</a>
													<span class="item-label">{{ answer.date }}</span>
												</div>
											</div>
											<div class="item-body">
													{{ answer.content }}
											</div>
										</div>
                                        {% endfor %}
									</div>
								</div>
							</div>
						</div>
						<!-- END PORTLET -->
					</div>
				</div>
			</div>
			<!-- END PROFILE CONTENT -->
		</div>
	</div>
	<!-- END PAGE CONTENT-->
<!-- END PAGE CONTENT FIXED -->
</div>
{% endblock %}