﻿{% extends "app/metro-layout.html" %}
{% load staticfiles %}

{% block more-css-files %}
<link href="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/pages/css/profile-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/components-rtl.css' %}" id="style_components" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/plugins-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/layout4/css/layout-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/layout4/css/custom-rtl.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block more-js-files %}
    <a href="#index" class="go2top"><i class="icon-arrow-up"></i></a>
    <script src="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/jquery.sparkline.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/admin/pages/scripts/profile.js' %}" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            Profile.init();
        });
    </script>
{% endblock %}
