﻿{% extends "Profile/layout.html" %}
{% block more-css-files %}
{% load staticfiles %}
<link href="{% static 'assets/admin/pages/css/login-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/components-rtl.css' %}" id="style_components" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/plugins-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/layout/css/layout-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/layout/css/themes/light-rtl.css' %}" rel="stylesheet" type="text/css" id="style_color"/>
<link href="{% static 'assets/admin/layout/css/custom-rtl.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block more-js-files %}
<script src="{% static 'assets/global/plugins/jquery-validation/js/jquery.validate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/global/scripts/metronic.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/admin/layout/scripts/layout.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/admin/pages/scripts/login.js' %}" type="text/javascript"></script>
<script>
$(document).ready(function() {     
Login.init();
});
</script>
{% endblock %}
{% block header %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block content %}
<div class="login">
    <div class="content">
	    <!-- BEGIN LOGIN FORM -->
	    <form class="login-form" action="." method="post">
            {% csrf_token %}
		    <h3 class="form-title">ورود</h3>
		    <div class="alert alert-danger display-hide">
			    <button class="close" data-close="alert"></button>
		    </div>
		    <div class="form-group">
			    {{ form.email }}
		    </div>
		    <div class="form-group">
			    {{ form.password }}
		    </div>
		    <div class="form-actions">
			    <button type="submit" class="btn btn-success uppercase">ورود</button>
			    <label class="rememberme check">
			    <input type="checkbox" name="remember" value="1"/>یادآوری </label>
			    <a href="javascript:;" id="forget-password" class="forget-password">فراموشی رمز عبور</a>
		    </div>
		    <div class="login-options">
			    <h4>ورود به کمک شبکه های اجتماعی</h4>
			    <ul class="social-icons">
				    <li>
					    <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
				    </li>
				    <li>
					    <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
				    </li>
				    <li>
					    <a class="social-icon-color googleplus" data-original-title="Google Plus" href="javascript:;"></a>
				    </li>
				    <li>
					    <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
				    </li>
			    </ul>
		    </div>
		    <div class="create-account">
			    <p>
				    <a href="javascript:;" id="register-btn" class="uppercase">ساختن یک حساب جدید</a>
			    </p>
		    </div>
	    </form>
	    <!-- END LOGIN FORM -->
	    <!-- BEGIN FORGOT PASSWORD FORM -->
	    <form class="forget-form" action="index.html" method="post">
		    <h3>فراموشی رمز عبور</h3>
		    <p>
			     آدرس ایمیل خود را برای بازیابی رمز عبور وارد کنید
		    </p>
		    <div class="form-group">
			    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="ایمیل" name="email"/>
		    </div>
		    <div class="form-actions">
			    <button type="button" id="back-btn" class="btn btn-default">بازگشت</button>
			    <button type="submit" class="btn btn-success uppercase pull-right">تایید</button>
		    </div>
	    </form>
	    <!-- END FORGOT PASSWORD FORM -->
	    <!-- BEGIN REGISTRATION FORM -->
	    <form class="register-form" action="." method="post">
            {% csrf_token %}
		    <h3>ثبت نام</h3>
		    <p class="hint">
			     اطلاعات شخصی خود را در فرم زیر وارد کنید:
		    </p>
		    <div class="form-group">
			    {{ new_user_form.fname }}
		    </div>
            <div class="form-group">
			    {{ new_user_form.lname }}
		    </div>
            <div class="form-group">
			    {{ new_user_form.gender }}
            </div>
            <div class="form-group">
			    {{ new_user_form.date_of_birth }}
		    </div>
            <p class="hint">
                لطفا اطلاعات حساب کاربری خود را در فرم زیر وارد کنید:
            </p>
		    <div class="form-group">
			    {{ new_user_form.email }}
		    </div>
		    <div class="form-group">
			    {{ new_user_form.password }}
		    </div>
		    <div class="form-group">
			    {{ new_user_form.password2 }}
		    </div>
		    <div class="form-group margin-top-20 margin-bottom-20">
			    <label class="check">
			    <input type="checkbox" name="tnc"/> بنده با <a href="javascript:;">
			    شرایط خدمت </a>
			    و <a href="javascript:;">
			    نامه ی حریم خصوصی </a>
                    این سایت موافقم
			    </label>
			    <div id="register_tnc_error">
			    </div>
		    </div>
            <div class="form-group margin-top-20 margin-bottom-20">
                <label class="check">
			        {{ new_user_form.is_staff }} بنده مشمول <a href="javascript:;">
			        شرایط همکاری </a>
                    این سایت بوده
                    و متعاقبا درخواست همکاری با این سامانه را دارم 
			    </label>
		    </div>
		    <div class="form-actions">
			    <button type="button" id="register-back-btn" class="btn btn-default">بازگشت</button>
			    <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">تایید</button>
		    </div>
	    </form>
	    <!-- END REGISTRATION FORM -->
    </div>
</div>
{% endblock %}