﻿{% extends "Profile/layout.html" %}
{% block content %}
<div class="page-content page-content-popup">
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN PROFILE SIDEBAR -->
                        {% include 'Profile/sidebar.html' %}
						<!-- END BEGIN PROFILE SIDEBAR -->
						<!-- BEGIN PROFILE CONTENT -->
						<div class="profile-content">
							<div class="row">
								<div class="col-md-7">
									<div class="portlet light block-feature2">
										<div class="portlet-title tabbable-line flip">
											<div class="caption caption-md">
												<i class="icon-globe theme-font hide"></i>
												<span class="caption-subject font-blue-madison bold uppercase">حساب کاریری</span>
											</div>
											<ul class="nav nav-tabs flip">
												<li class="active pull-right">
													<a href="#tab_1_1" data-toggle="tab">اطلاعات شخصی</a>
												</li>
                                                <li class="pull-right">
													<a href="#tab_1_2" data-toggle="tab">اطلاعات حساب کاربری</a>
												</li>
												<li class="pull-right">
													<a href="#tab_1_3" data-toggle="tab">سفر های خارجی</a>
												</li>
												<li class="pull-right">
													<a href="#tab_1_4" data-toggle="tab">اطلاعات حقوقی</a>
												</li>
                                                {% if user.is_staff_member %}
												<li class="pull-right">
													<a href="#tab_1_5" data-toggle="tab">عضویت همکاری</a>
												</li>
                                                {% endif %}
											</ul>
										</div>
										<div class="portlet-body">
											<div class="tab-content">
												<!-- PERSONAL INFO TAB -->
												<div class="tab-pane active" id="tab_1_1">
                                                    <p class="bold uppercase">
                                                        اطلاعات اصلی
                                                    </p>
                                                    <br/>
                                                    <form role="form" action="." method="post">
                                                        {% csrf_token %}
                                                        {% for field in info_form %}
														<div class="form-group">
															<label class="control-label">{{ field.label }}</label>
                                                            {{ field }}
														</div>
                                                        {% endfor %}
														{% include 'Profile/submit_block.html' %}
													</form>
                                                    <br/>
                                                    <br/>
                                                    <p class="bold uppercase">
                                                        اطلاعات فرعی
                                                    </p>
                                                    <br/>
													<form role="form" action="." method="post">
                                                        {% csrf_token %}
                                                        {% for field in add_info_form %}
														<div class="form-group">
															<label class="control-label">{{ field.label }}</label>
                                                            {{ field }} 
														</div>
                                                        {% endfor %}
														{% include 'Profile/submit_block.html' %}
													</form>
                                                </div>
                                                <div class="tab-pane" id="tab_1_2">
                                                    <p class="bold uppercase">
                                                        تغییر رمز عبور
                                                    </p>
                                                    <br/>
                                                    <form role="form" action="." method="post">
														{% csrf_token %}
                                                        {% for field in pass_change_form %}
														<div class="form-group">
															<label class="control-label">{{ field.label }}</label>
                                                            {{ field }} 
														</div>
                                                        {% endfor %}
														{% include 'Profile/submit_block.html' %}
													</form>
                                                    <br/>
                                                    <br/>
                                                    <p class="bold uppercase">
                                                        مشخصات حساب بانکی
                                                    </p>
                                                    <br/>
                                                    <form role="form" action="." method="post">
														{% csrf_token %}
                                                        {% for field in bank_form %}
														<div class="form-group">
															<label class="control-label">{{ field.label }}</label>
                                                            {{ field }} 
														</div>
                                                        {% endfor %}
														{% include 'Profile/submit_block.html' %}
													</form>
												</div>
												<!-- END PERSONAL INFO TAB -->
                                                <div class="tab-pane" id="tab_1_3">
													<form role="form" action="." method="post">
                                                        {% csrf_token %}
                                                        {% for field in foreign_info_form %}
														<div class="form-group">
															<label class="control-label">{{ field.label }}</label>
                                                            {{ field }} 
														</div>
                                                        {% endfor %}
														{% include 'Profile/submit_block.html' %}
													</form>
												</div>
												<!-- CHANGE PASSWORD TAB -->
												<div class="tab-pane" id="tab_1_4">
													<form role="form" action="." method="post">
														{% csrf_token %}
                                                        {% for field in legal_form %}
														<div class="form-group">
															<label class="control-label">{{ field.label }}</label>
                                                            {{ field }} 
														</div>
                                                        {% endfor %}
														{% include 'Profile/submit_block.html' %}
													</form>
												</div>
												<!-- END CHANGE PASSWORD TAB -->
												<!-- PRIVACY SETTINGS TAB -->
												<div class="tab-pane" id="tab_1_5">
													<form role="form" action="." method="post">
														<table class="table table-light table-hover">
														    <tr>
															    <td>
																     حوزه ی کاری شما چیست؟
															    </td>
															    <td>
																    <label class="uniform-inline">
																    <input type="radio" name="is_agency" value="True"/>
																    گردشساز </label>
																    <label class="uniform-inline">
																    <input type="radio" name="is_agency" value="False" checked/>
																    تامین کننده </label>
															    </td>
														    </tr>
														    <tr>
															    <td>
																    زمینه ی کاری شما چیست؟ 
                                                                </td>
															    <td>
															        {{ staff_form.work_base }}
														        </td>
														    </tr>
														    <tr>
															    <td>
																     مشخصات جواز کسب و کار خود را وارد کنید
															    </td>
															    <td>
															        {{ staff_form.licence }}
														        </td>
														    </tr>
                                                            <tr>
															    <td>
																    آیا با توافق نامه ی همکاری ما موافقید؟ 
                                                                </td>
															    <td>
																    <label class="uniform-inline">
																    <input name="Accept" type="checkbox" value=""/> بلی </label>
															    </td>
														    </tr>
                                                            <tr>
															    <td>
																    آیا شرکت شما دارای یک پایگاه داده ی مجتمع است؟ 
                                                                </td>
															    <td>
																    <label class="uniform-inline">
																    <input type="checkbox" value=""/> بلی </label>
															    </td>
														    </tr>
                                                            <tr>
															    <td>
																    در صورتی که شرکت شما دارای پایگاه داده ی مجتمع است لطفا اطلاعات آن را در فرم زیر وارد کنید
                                                                </td>
															    <td>

															    </td>
														    </tr>
                                                            {% csrf_token %}
                                                            {% for field in db_form %}
                                                            <tr>
															    <td>
																    {{ field.label }}
                                                                </td>
															    <td>
                                                                    {{ field }} 
															    </td>
														    </tr>
                                                            {% endfor %}
														</table>
														{% include 'Profile/submit_block.html' %}
													</form>
												</div>
												<!-- END PRIVACY SETTINGS TAB -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END PROFILE CONTENT -->
					</div>
				</div>
				<!-- END PROFILE CONTENT -->

			

    	</div>
{% endblock %}