﻿<div class="profile-sidebar" style="width: 250px;">
	<!-- PORTLET MAIN -->
	<div class="portlet light profile-sidebar-portlet block-feature2">
		<!-- SIDEBAR USERPIC -->
        {% load staticfiles %}
		<div class="profile-userpic" style="height:265px;">
			<img src="/media/{{ user.avatar }}" class="img-responsive" alt="">
		</div>
		<!-- END SIDEBAR USERPIC -->
		<!-- SIDEBAR USER TITLE -->
		<div class="profile-usertitle">
			<div class="profile-usertitle-name">
					{{ user.f_name }}
			</div>
			<div class="profile-usertitle-job">
					{{ user.l_name }}
			</div>
		</div>
		<!-- END SIDEBAR USER TITLE -->
		<!-- SIDEBAR BUTTONS -->
								
		<!-- END SIDEBAR BUTTONS -->
		<!-- SIDEBAR MENU -->
		<div class="profile-usermenu">
			<ul class="nav">
				<li class="{{ active.0 }}">
					<a href="{% url 'Profile:home' %}">
					<i class="icon-home"></i>
					نمای کلی </a>
				</li>
				<li class="{{ active.1 }}">
					<a href="{% url 'Profile:settings' %}">
					<i class="icon-settings"></i>
					تنظیمات </a>
				</li>
                {% if active.2 == 'active' %}
				<li class="{{ active.2 }}">
					<a href="{% url 'Profile:support' %}">
					<i class="icon-info"></i>
					پشتیبانی </a>
				</li>
                {% endif %}
			</ul>
		</div>
		<!-- END MENU -->
	</div>
	<!-- END PORTLET MAIN -->
	<!-- PORTLET MAIN -->
	<div class="portlet light block-feature2">
		<!-- STAT -->
		<div class="row list-separated profile-stat">
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="uppercase profile-stat-title">
						{{ services_bought }}
				</div>
				<div class="uppercase profile-stat-text">
						خدمت خریداری شده
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-6">
				<div class="uppercase profile-stat-title">
						{{ tours_registered }}
				</div>
				<div class="uppercase profile-stat-text">
						سفر ثبت نام کرده
				</div>
			</div>
		</div>
		<!-- END STAT -->
		<div>
			<h4 class="profile-desc-title">درباره ی من</h4>
			<span class="profile-desc-text"> {{ about_user }} </span>
			<div class="margin-top-20 profile-desc-link">
				<i class="fa fa-twitter"></i>
				<a href="http://www.twitter.com/گردشگر/">@گردشگر</a>
			</div>
			<div class="margin-top-20 profile-desc-link">
				<i class="fa fa-facebook"></i>
				<a href="http://www.facebook.com/گردشگر/">گردشگر</a>
			</div>
		</div>
	</div>
	<!-- END PORTLET MAIN -->
</div>