﻿{% extends "Profile/layout.html" %}
{% block content %}
<div class="page-content page-content-popup">
    		<!-- BEGIN PAGE CONTENT FIXED -->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN PROFILE SIDEBAR -->
						{% include 'Profile/sidebar.html' %}
						<!-- END BEGIN PROFILE SIDEBAR -->
						<!-- BEGIN PROFILE CONTENT -->
						<div class="profile-content">
							<div class="row">
								<div class="col-md-7">
									<div class="portlet light block-feature2">
										<div class="portlet-title tabbable-line">
											<div class="caption caption-md">
												<i class="icon-globe theme-font hide"></i>
												<span class="caption-subject font-blue-madison bold uppercase">پشتیبانی</span>
											</div>
											<ul class="nav nav-tabs flip">
												<li class="active pull-right">
													<a href="#tab_1_1" data-toggle="tab">سوالات معمول پرسیده شده</a>
												</li>
												<li class="pull-right">
													<a href="#tab_1_2" data-toggle="tab">گذاشتن درخواست یا پاسخ درباره ی فاکتور</a>
												</li>
											</ul>
										</div>
										<div class="portlet-body">
											<div class="tab-content">
												<!-- GENERAL QUESTION TAB -->
												<div class="tab-pane active" id="tab_1_1">
                                                        {% for FAQ in faq %}
														<div class="panel panel-default">
															<div class="panel-heading">
																<h4 class="panel-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">
																{{ FAQ.question }}
                                                                </a>
                                                                </h4>
															</div>
															<div id="accordion1_3" class="panel-collapse collapse">
																<div class="panel-body">
																	 {{ FAQ.answer }}
                                                                </div>
															</div>
														</div>
                                                        {% endfor %}
													</div>
												</div>
												<!-- END GENERAL QUESTION TAB -->
												<!-- MEMBERSHIP TAB -->
												<div class="tab-pane" id="tab_1_2">
													<div id="accordion2" class="panel-group">
														<form action="." method="post">
														<table class="table table-light table-hover">
                                                        {% if not user.is_staff_member %}
														<tr>
															<td>
																 حوزه ی سوال:
															</td>
															<td>
																{{ ticket_form.topic }}
															</td>
														</tr>
                                                        {% endif %}
														<tr>
															<td>
                                                                {% if user.is_staff_member %}
                                                                متن پاسخ: 
                                                                {% else %}
                                                                متن درخواست:
                                                                {% endif %}
                                                            </td>
															<td>
															    {{ answer_form.content }}
														    </td>
														</tr>
                                                        <tr>
															<td>
																آیا با توافق نامه ی حریم خصوصی ما موافقید؟ 
                                                            </td>
															<td>
																<label class="uniform-inline">
																<input type="checkbox" value=""/> بلی </label>
															</td>
														</tr>
                                                        <tr>
														</tr>
														</table>
                                                        {% csrf_token %}
														{% include 'Profile/submit_block.html' %}
													</form>
													</div>
												</div>
												<!-- END MEMBERSHIP TAB -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END PROFILE CONTENT -->
					</div>
				</div>
				<!-- END PAGE CONTENT-->

    	</div>
{% endblock %}