﻿<div class="page-content-fixed-header">
    <h2>
        <i class="fa fa-user" style=" font-size: x-large;"></i> پنل همکاران
    </h2>
	<div class="content-header-menu">
    	<!-- BEGIN DROPDOWN AJAX MENU -->
    	<!-- END DROPDOWN AJAX MENU -->

    	<!-- BEGIN MENU TOGGLER -->
    	<button type="button" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="toggle-icon">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </span>
	    </button>
    	<!-- END MENU TOGGLER -->
    </div>
</div>
