﻿{% extends "Co_Panel/layout.html" %}
{% load staticfiles %}
{% load bootstrap_dynamic_formsets %}
{% block content %}
<div class="page-quick-sidebar-over-content">

	<!-- BEGIN MAIN LAYOUT -->
	<!-- HEADER BEGIN -->

	<!-- HEADER END -->

	<!-- PAGE CONTENT BEGIN -->
    <div class="container-fluid">
    	<div class="page-content page-content-popup">
    		<!-- BEGIN PAGE CONTENT FIXED -->
			{% include 'Co_Panel/content_header.html' %}
			<!-- BEGIN SIDEBAR -->
			{% include 'Co_Panel/sidebar.html' %}
			<!-- END SIDEBAR -->

<div class="page-fixed-main-content">

			<div class="row">
				<div class="col-md-12">
					<div class="form-horizontal form-row-seperated" style="    border: 1px solid #e1e1e1; !important;">
						<div class="portlet light">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-basket font-green-sharp"></i>
									<span class="caption-subject font-green-sharp bold uppercase">
									اضافه کردن محصول </span>
								</div>
								<div class="actions btn-set">
									<button type="button" name="back" class="btn btn-default btn-circle"><i class="fa fa-angle-left"></i> بازگشت</button>
									<button class="btn btn-default btn-circle "><i class="fa fa-reply"></i> بازنشانی</button>
									<button class="btn green-haze btn-circle"><i class="fa fa-check"></i> ذخیره</button>
									<button class="btn green-haze btn-circle"><i class="fa fa-check-circle"></i> ذخیره و ویرایش</button>
									<div class="btn-group">
										<a class="btn yellow btn-circle" href="javascript:;" data-toggle="dropdown">
										<i class="fa fa-share"></i> بیشتر <i class="fa fa-angle-down"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="javascript:;">
												المثنی نوشتن </a>
											</li>
											<li>
												<a href="javascript:;">
												حذف </a>
											</li>
											<li class="divider">
											</li>
											<li>
												<a href="javascript:;">
												چاپ </a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="portlet-body">
								<div class="tabbable">
									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#tab_general" data-toggle="tab">
											مشخصات </a>
										</li>
                                        <li>
											<a href="#tab_trans" data-toggle="tab">
											اضافه کردن حمل و نقل </a>
										</li>
                                        <li>
											<a href="#tab_soj" data-toggle="tab">
											اضافه کردن محل اقامت </a>
										</li>
                                        <li>
											<a href="#tab_food" data-toggle="tab">
											اضافه کردن غذا </a>
										</li>
                                        <li>
											<a href="#tab_att" data-toggle="tab">
											اضافه کردن مکان دیدنی یا تفریحی </a>
										</li>
										<li>
											<a href="#tab_meta" data-toggle="tab">
											متا </a>
										</li>
										<li>
											<a href="#tab_images" data-toggle="tab">
											تصاویر </a>
										</li>
									</ul>
                                    </div>
									<br>
									<div class="tab-content no-space">
										<div class="tab-pane active" id="tab_general">
                                                                               
											<div class="form-body">
                                                {% for field in tour_form %}
                                                <div class="form-group">
													<label class="col-md-2 control-label">{{ field.label }}: <span class="required">
													* </span>
													</label>
                                                {% if not forloop.last %}
													<div class="col-md-10">
														{{ field }}
													</div>
                                                {% else %}
                                                <div class="col-md-10">
												    <div class="form-control height-auto">
														<div class="scroller list-unstyled" style="height:275px;" data-always-visible="1">
															{{ field }}
														</div>
													</div>
													<span class="help-block">
														موضوعات مربوطه را انتخاب نمایید </span>
												</div>
                                                {% endif %}
                                                </div>
                                                {% endfor %}
                                                </div>
											</div>
                                             <div class="tab-pane" id="tab_trans">
                                                        <div class="col-md-offset-2">
                                                            <span class="help-block">
														            اطلاعات مربوط به حمل و نقل را وارد کنید </span>
                                                        </div>
								                        <div class="col-md-offset-2">
                                                            {% bootstrap_dynamic_formset transportation_formset can_order=True can_delete=True %}
								                        </div>
                                             </div>
                                            <div class="tab-pane" id="tab_soj">
                                                        <div class="col-md-offset-2">
                                                            <span class="help-block">
														            اطلاعات مربوط به اقامتگاه ها را وارد کنید </span>
                                                        </div>
								                        <div class="col-md-offset-2">
                                                            {% bootstrap_dynamic_formset sojourn_formset can_order=True can_delete=True%}
								                        </div>
                                             </div>
                                            <div class="tab-pane" id="tab_food">
                                                        <div class="col-md-offset-2">
                                                            <span class="help-block">
														            اطلاعات مربوط به رستوران ها را وارد کنید </span>
                                                        </div>
								                        <div class="col-md-offset-2">
                                                            {% bootstrap_dynamic_formset food_formset can_order=True can_delete=True%}
								                        </div>
                                             </div>
                                            <div class="tab-pane" id="tab_att">
                                                        <div class="col-md-offset-2">
                                                            <span class="help-block">
														            اطلاعات مربوط به جاذبه های توریستی را وارد کنید </span>
                                                        </div>
								                        <div class="col-md-offset-2">
                                                            {% bootstrap_dynamic_formset att_formset can_order=True can_delete=True%}
								                        </div>
                                             </div>
										<div class="tab-pane" id="tab_meta">
											<div class="form-body">
												<div class="form-group">
													<label class="col-md-2 control-label">تگ های متا:</label>
													<div class="col-md-10">
														<input type="text" class="form-control maxlength-handler" name="product[meta_title]" maxlength="100" placeholder="">
														<span class="help-block">
														حداکثر 100 حرف </span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label">کلید واژه های متا:</label>
													<div class="col-md-10">
														<textarea class="form-control maxlength-handler" rows="8" name="product[meta_keywords]" maxlength="1000"></textarea>
														<span class="help-block">
														حداکثر 1000 حرف </span>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label">توضیحات متا:</label>
													<div class="col-md-10">
														<textarea class="form-control maxlength-handler" rows="8" name="product[meta_description]" maxlength="255"></textarea>
														<span class="help-block">
														حداکثر 255 حرف </span>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="tab_images">
											<div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">
												<a id="tab_images_uploader_pickfiles" href="javascript:;" class="btn yellow">
												<i class="fa fa-plus"></i> انتخاب فایل </a>
												<a id="tab_images_uploader_uploadfiles" href="javascript:;" class="btn green">
												<i class="fa fa-share"></i> بارگذاری فایل </a>
											</div>
											<div class="row">
												<div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12">
												</div>
											</div>
											<table class="table table-bordered table-hover">
											<thead>
											<tr role="row" class="heading">
												<th width="8%">
													 عکس
												</th>
												<th width="25%">
													 برچسب
												</th>
												<th width="8%">
													 چینش
												</th>
												<th width="10%">
													 عکس اصلی
												</th>
												<th width="10%">
													 نسخه ی کوچک
												</th>
												<th width="10%">
													 نسخه ی نمایشی
												</th>
												<th width="10%">
												</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<td>
													<a href="{% static 'assets/admin/pages/media/works/img1.jpg' %}" class="fancybox-button" data-rel="fancybox-button">
													<img class="img-responsive" src="{% static 'assets/admin/pages/media/works/img1.jpg' %}" alt="">
													</a>
												</td>
												<td>
													<input type="text" class="form-control" name="product[images][1][label]" value="عکس 1">
												</td>
												<td>
													<input type="text" class="form-control" name="product[images][1][sort_order]" value="1">
												</td>
												<td>
													<label>
													<input type="radio" name="product[images][1][image_type]" value="1">
													</label>
												</td>
												<td>
													<label>
													<input type="radio" name="product[images][1][image_type]" value="2">
													</label>
												</td>
												<td>
													<label>
													<input type="radio" name="product[images][1][image_type]" value="3" checked>
													</label>
												</td>
												<td>
													<a href="javascript:;" class="btn default btn-sm">
													<i class="fa fa-times"></i> حذف </a>
												</td>
											</tr>
											<tr>
												<td>
													<a href="{% static 'assets/admin/pages/media/works/img2.jpg' %}" class="fancybox-button" data-rel="fancybox-button">
													<img class="img-responsive" src="{% static 'assets/admin/pages/media/works/img2.jpg' %}" alt="">
													</a>
												</td>
												<td>
													<input type="text" class="form-control" name="product[images][2][label]" value="عکس 2">
												</td>
												<td>
													<input type="text" class="form-control" name="product[images][2][sort_order]" value="1">
												</td>
												<td>
													<label>
													<input type="radio" name="product[images][2][image_type]" value="1">
													</label>
												</td>
												<td>
													<label>
													<input type="radio" name="product[images][2][image_type]" value="2" checked>
													</label>
												</td>
												<td>
													<label>
													<input type="radio" name="product[images][2][image_type]" value="3">
													</label>
												</td>
												<td>
													<a href="javascript:;" class="btn default btn-sm">
													<i class="fa fa-times"></i> حذف </a>
												</td>
											</tr>
											<tr>
												<td>
													<a href="{% static 'assets/admin/pages/media/works/img3.jpg' %}" class="fancybox-button" data-rel="fancybox-button">
													<img class="img-responsive" src="{% static 'assets/admin/pages/media/works/img3.jpg' %}" alt="">
													</a>
												</td>
												<td>
													<input type="text" class="form-control" name="product[images][3][label]" value="عکس 3">
												</td>
												<td>
													<input type="text" class="form-control" name="product[images][3][sort_order]" value="1">
												</td>
												<td>
													<label>
													<input type="radio" name="product[images][3][image_type]" value="1" checked>
													</label>
												</td>
												<td>
													<label>
													<input type="radio" name="product[images][3][image_type]" value="2">
													</label>
												</td>
												<td>
													<label>
													<input type="radio" name="product[images][3][image_type]" value="3">
													</label>
												</td>
												<td>
													<a href="javascript:;" class="btn default btn-sm">
													<i class="fa fa-times"></i> حذف </a>
												</td>
											</tr>
											</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>












			</div>


    		<!-- Copyright BEGIN -->
			<!-- Copyright END -->

    	</div>
    </div>
	<!-- PAGE CONTENT END -->
    <!-- END MAIN LAYOUT -->



</div>			
{% endblock %}
