﻿{% extends "Co_Panel/layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-quick-sidebar-over-content">

	<!-- BEGIN MAIN LAYOUT -->
	<!-- HEADER BEGIN -->

	<!-- HEADER END -->

	<!-- PAGE CONTENT BEGIN -->
    <div class="container-fluid">
    	<div class="page-content page-content-popup">
    		<!-- BEGIN PAGE CONTENT FIXED -->
			{% include 'Co_Panel/content_header.html' %}
			<!-- BEGIN SIDEBAR -->
			{% include 'Co_Panel/sidebar.html' %}
			<!-- END SIDEBAR -->

<div class="page-fixed-main-content">

				<div class="row profile">
				<div class="col-md-12">
					<!--BEGIN TABS-->
					<div class="tabbable tabbable-custom tabbable-noborder" style="    border: 1px solid #e1e1e1; !important;">
						<ul class="nav nav-tabs">
							<li class="active ">
								<a href="#tab_1_1" data-toggle="tab">
								نمای کلی </a>
							</li>
							<li class="">
								<a href="#tab_1_3" data-toggle="tab">
								حساب کاربری </a>
							</li>
							<li class="">
								<a href="#tab_1_4" data-toggle="tab">
								خدمات </a>
							</li >
							<li class="">
								<a href="#tab_1_6" data-toggle="tab">
								پشتیبانی </a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab_1_1">
								<div class="row">
									<div class="col-md-3">
										<ul class="list-unstyled profile-nav">
											<li>
												<img src="{% static 'assets/admin/pages/media/profile/profile_user.jpg' %}" class="img-responsive" alt=""/>
												<a href="javascript:;" class="profile-edit">
												ویرایش </a>
											</li>

										</ul>
										<div class="">
						<a class="dashboard-stat dashboard-stat-light red-intense" href="javascript:;">
						<div class="visual">
							<i class="fa fa-money"></i>
						</div>
						<div class="details">
							<div class="number">
								 ۵۴٫۰۰۰٫۰۰۰
							</div>
							<div class="desc">
								طلب از سامانه
							</div>
						</div>
						</a>
					</div>
										<div class="col-md-6" style="    margin-right: 12% !important;">


									<button type="button" class="btn btn-info btn-lg" >
										<a href="/Co_Panel/addproduct/">
										+ اضافه کردن خدمت
											</a>
									</button>

													  <!-- Modal -->

										</div>
									</div>
									<div class="col-md-9">
										<div class="row">

											<div class="col-md-8 profile-info">
												<h1>همکار</h1>
												<p>
													توضیحات شما در اینجا جای می گیرد
                                                </p>
												<p>
													<a href="javascript:;">
													www.mywebsite.com </a>
												</p>
												<ul class="list-inline">
													<li>
														<i class="fa fa-map-marker"></i> ایزان
													</li>
													<li>
														<i class="fa fa-calendar"></i> 13/1/1313
													</li>
													<li>
														<i class="fa fa-briefcase"></i> هتل
													</li>
													<li>
														<i class="fa fa-star"></i> تامین کننده ی برتر
													</li>
												</ul>
                                                <hr>
											</div>
																						<div class="col-md-4 pull-left">
												<div class="portlet sale-summary">
													<div class="portlet-title">
														<div class="caption">
															 گزارش فروش
														</div>
														<div class="tools">
															<a class="reload" href="javascript:;">
															</a>
														</div>
													</div>
													<div class="portlet-body">
														<ul class="list-unstyled">
															<li>
																<span class="sale-info">
																میزان فروش امروز <i class="fa fa-img-up"></i>
																</span>
																<span class="sale-num">
																23 </span>
															</li>
															<li>
																<span class="sale-info">
																میزان فروش این هفته <i class="fa fa-img-down"></i>
																</span>
																<span class="sale-num">
																87 </span>
															</li>
															<li>
																<span class="sale-info">
																میزان فروش کل </span>
																<span class="sale-num">
																۲٫۳۵۲٫۲۴۴
																</span>
															</li>
															<li>
																<span class="sale-info">
																	بستانکار (تومان)
																	</span>
																<span class="sale-num">
																۱۲۳٫۲۱۳٫۰۰۰
																</span>
															</li>
														</ul>
													</div>
												</div>
											</div>

											<!--end col-md-8-->
											<!--end col-md-4-->
										</div>
										<!--end row-->
										<div class="tabbable tabbable-custom tabbable-custom-profile" style="    border: 1px solid #e1e1e1; !important;">
											<ul class="nav nav-tabs">
												<li class="active">
													<a href="#tab_1_11" data-toggle="tab">
													گردشگران جدید ثبت نام کرده </a>
												</li>
												<li>
													<a href="#tab_1_22" data-toggle="tab">
													نظرات </a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="tab_1_11">
													<div class="portlet-body">
														<table class="table table-striped table-bordered table-advance table-hover">
														<thead>
														<tr>
															<th>
																<i class="fa fa-briefcase"></i> نام
															</th>
															<th class="hidden-xs">
																<i class="fa fa-question"></i> مشخصه تور خریداری شده
															</th>
															<th>
																<i class="fa fa-bookmark"></i> میزان
															</th>
															<th>
															</th>
														</tr>
														</thead>
														<tbody>
														<tr>
															<td>
																<a href="javascript:;">
																گردشگر 1 </a>
															</td>
															<td class="hidden-xs">
																 سفر شمال
															</td>
															<td>
																 300 هزار تومان <span class="label label-success label-sm">
																پرداخت شده </span>
															</td>
															<td>
																<a class="btn default btn-xs green-stripe" href="javascript:;">
																نمایش </a>
															</td>
														</tr>
														</tbody>
														</table>
													</div>
												</div>
												<!--tab-pane-->
												<div class="tab-pane" id="tab_1_22">
													<div class="tab-pane active" id="tab_1_1_1">
														<div class="scroller" data-height="290px" data-always-visible="1" data-rail-visible1="1">
															<ul class="feeds">
																<li>
																	<div class="col1">
																		<div class="cont">
																			<div class="cont-col1">
																				<div class="label label-success">
																					<i class="fa fa-bell-o"></i>
																				</div>
																			</div>
																			<div class="cont-col2">
																				<div class="desc">
																					 دست شما درد نکنه <span class="label label-danger label-sm">
																					مشاهده <i class="fa fa-share"></i>
																					</span>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col2">
																		<div class="date">
																			 هم اکنون
																		</div>
																	</div>
																</li>
															</ul>
														</div>
													</div>
												</div>
												<!--tab-pane-->
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--tab_1_2-->
							<div class="tab-pane" id="tab_1_3">
								<div class="row profile-account">
									<div class="col-md-3">
										<ul class="ver-inline-menu tabbable margin-bottom-10">
											<li class="active">
												<a data-toggle="tab" href="#tab_1-1">
												<i class="fa fa-cog"></i> اطلاعات شخصی </a>
												<span class="after">
												</span>
											</li>
											<li>
												<a data-toggle="tab" href="#tab_2-2">
												<i class="fa fa-picture-o"></i> اطلاعات حساب کاربری </a>
											</li>
											<li>
												<a data-toggle="tab" href="#tab_3-3">
												<i class="fa fa-lock"></i> اطلاعات حقوقی </a>
											</li>
											<li>
												<a data-toggle="tab" href="#tab_4-4">
												<i class="fa fa-eye"></i> عضویت همکاری </a>
											</li>
										</ul>
									</div>
									<div class="col-md-9">
										<div class="tab-content">
											<div id="tab_1-1" class="tab-pane active">
												<form role="form" action="#">
														<div class="form-group">
															<label class="control-label">نام</label>
															<input type="text" placeholder="گردش" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">نام خانوادگی</label>
															<input type="text" placeholder="گر" class="form-control"/>
														</div>
                                                        <div class="form-group">
															<label class="control-label">تاریخ تولد</label>
															<input type="text" placeholder="1313/1/13" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">شماره ی تلفن ثابت</label>
															<input type="text" placeholder="02111111111" class="form-control"/>
														</div>
                                                        <div class="form-group">
															<label class="control-label">شماره ی تلفن همراه</label>
															<input type="text" placeholder="02111111111" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">شماره ی شناسنامه</label>
															<input type="text" placeholder="13" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">شماره ی ملی</label>
															<input type="text" placeholder="1313131313-652" class="form-control"/>
														</div>
                                                        <div class="form-group">
															<label class="control-label">کد پستی</label>
															<input type="text" placeholder="1313131313-652" class="form-control"/>
														</div>
                                                        <div class="form-group">
															<label class="control-label">آدرس</label>
															<textarea class="form-control" rows="3" placeholder="؟"></textarea>
														</div>
														<div class="form-group">
															<label class="control-label">درباره ی من</label>
															<textarea class="form-control" rows="2" placeholder="من کی هستم؟"></textarea>
														</div>
														<div class="margiv-top-10">
															<a href="javascript:;" class="btn green-haze">
															تایید </a>
															<a href="javascript:;" class="btn default">
															لغو </a>
														</div>
													</form>
											</div>
											<div id="tab_2-2" class="tab-pane">
												                                                    <p class="bold uppercase">
                                                        تغییر رمز عبور
                                                    </p>
                                                    <br/>
                                                    <form action="#">
														<div class="form-group">
															<label class="control-label">رمز عبورر فعلی</label>
															<input type="password" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">رمز عبور جدید</label>
															<input type="password" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">رمز عبور جدید(مجدد)</label>
															<input type="password" class="form-control"/>
														</div>
														<div class="margin-top-10">
															<a href="javascript:;" class="btn green-haze">
															تغییر </a>
															<a href="javascript:;" class="btn default">
															لغو </a>
														</div>
													</form>
                                                    <br/>
                                                    <br/>
                                                    <p class="bold uppercase">
                                                        تغییر ایمیل
                                                    </p>
                                                    <br/>
                                                    <form action="#">
														<div class="form-group">
															<label class="control-label">ایمیل جدید</label>
															<input type="text" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">ایمیل جدید(مجدد)</label>
															<input type="text" class="form-control"/>
														</div>
														<div class="margin-top-10">
															<a href="javascript:;" class="btn green-haze">
															تغییر </a>
															<a href="javascript:;" class="btn default">
															لغو </a>
														</div>
													</form>
                                                    <br/>
                                                    <br/>
                                                    <p class="bold uppercase">
                                                        مشخصات حساب بانکی
                                                    </p>
                                                    <br/>
                                                    <form action="#">
														<div class="form-group">
															<label class="control-label">شماره ی کارت</label>
															<input type="text" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">شماره ی شبا</label>
															<input type="text" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">بانک صادر کننده</label>
															<input type="text" class="form-control"/>
														</div>
														<div class="margin-top-10">
															<a href="javascript:;" class="btn green-haze">
															تایید </a>
															<a href="javascript:;" class="btn default">
															لغو </a>
														</div>
													</form>
                                                    <br/>
                                                    <br/>
                                                    <p class="bold uppercase">
													    تغییر عکس حساب کاربری
                                                    </p>
                                                    <br/>
													<form action="#" role="form">
														<div class="form-group">
															<div class="fileinput fileinput-new" data-provides="fileinput">
																<div class="fileinput-new thumbnail" style="width: 120px; height: 150px;">
																	<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
																</div>
																<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
																</div>
																<div>
																	<span class="btn default btn-file">
																	<span class="fileinput-new">
																	انتخاب </span>
																	<span class="fileinput-exists">
																	تغییر </span>
																	<input type="file" name="...">
																	</span>
																	<a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput">
																	حذف </a>
																</div>
															</div>
														</div>
                                                        <div class="margin-top-10">
															<a href="javascript:;" class="btn green-haze">
															تایید </a>
															<a href="javascript:;" class="btn default">
															لغو </a>
														</div>
													</form>
											</div>
											<div id="tab_3-3" class="tab-pane">
																									<form role="form" action="#">
														<div class="form-group">
															<label class="control-label">نام شرکت</label>
															<input type="text" placeholder="گردشی" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">کد اقتصادی</label>
															<input type="text" placeholder="13" class="form-control"/>
														</div>
                                                        <div class="form-group">
															<label class="control-label">تاریخ ثبت شرکت</label>
															<input type="text" placeholder="1313/1/13" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">شماره ی تلفن ثابت شرکت</label>
															<input type="text" placeholder="02111111111" class="form-control"/>
														</div>
                                                        <div class="form-group">
															<label class="control-label">کد پستی</label>
															<input type="text" placeholder="02111111111" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">آدرس</label>
															<textarea class="form-control" rows="3" placeholder="؟"></textarea>
														</div>
                                                        <div class="form-group">
															<label class="control-label">آدرس وبسایت</label>
															<input type="text" placeholder="www.badshanshi.com" class="form-control"/>
														</div>
														<div class="margiv-top-10">
															<a href="javascript:;" class="btn green-haze">
															تایید </a>
															<a href="javascript:;" class="btn default">
															لغو </a>
														</div>
													</form>
                                                    <br/>
                                                    <br/>
                                                    <p class="bold uppercase">
                                                        مشخصات حساب بانکی شرکت
                                                    </p>
                                                    <br/>
                                                    <form action="#">
														<div class="form-group">
															<label class="control-label">شماره ی شبا</label>
															<input type="text" class="form-control"/>
														</div>
														<div class="form-group">
															<label class="control-label">بانک صادر کننده</label>
															<input type="text" class="form-control"/>
														</div>
														<div class="margin-top-10">
															<a href="javascript:;" class="btn green-haze">
															تایید </a>
															<a href="javascript:;" class="btn default">
															لغو </a>
														</div>
													</form>
											</div>
											<div id="tab_4-4" class="tab-pane">
												<form action="#">
														<table class="table table-light table-hover">
														<tr>
															<td>
																 حوزه ی کاری شما چیست؟
															</td>
															<td>
																<label class="uniform-inline">
																<input type="radio" name="optionsRadios1" value="option1"/>
																گردشساز </label>
																<label class="uniform-inline">
																<input type="radio" name="optionsRadios1" value="option2" checked/>
																تامین کننده </label>
															</td>
														</tr>
														<tr>
															<td>
																زمینه ی کاری شما چیست؟
                                                            </td>
															<td>
															    <input type="text" placeholder="گردش سازی" class="form-control"/>
														    </td>
														</tr>
														<tr>
															<td>
																 مشخصات جواز کسب و کار خود را وارد کنید
															</td>
															<td>
																<input type="text" placeholder="گردش سازی" class="form-control"/>
														    </td>
														</tr>
                                                        <tr>
															<td>
																آیا با توافق نامه ی همکاری ما موافقید؟
                                                            </td>
															<td>
																<label class="uniform-inline">
																<input type="checkbox" value=""/> بلی </label>
															</td>
														</tr>
                                                        <tr>
															<td>
																آیا شرکت شما دارای یک پایگاه داده ی مجتمع است؟
                                                            </td>
															<td>
																<label class="uniform-inline">
																<input type="checkbox" value=""/> بلی </label>
															</td>
														</tr>
														</table>
														<!--end profile-settings-->
														<div class="margin-top-10">
															<a href="javascript:;" class="btn green-haze">
															تایید </a>
															<a href="javascript:;" class="btn default">
															لغو </a>
														</div>
													</form>
											</div>
										</div>
									</div>
									<!--end col-md-9-->
								</div>
							</div>
							<!--end tab-pane-->
							<div class="tab-pane" id="tab_1_4">
								<div class="row">
									<div class="col-md-12">
										<div class="add-portfolio">
											<span>
											502 نفر در این هفته ثبت نام کرده اند </span>
											<a href="/Co_Panel/addproduct/" class="btn icn-only green">
											اضافه کردن خدمت جدید <i class="m-icon-swapright m-icon-white"></i>
											</a>
										</div>
									</div>
								</div>
								<!--end add-portfolio-->
								<div class="row portfolio-block">
									<div class="col-md-5">
										<div class="portfolio-text">
											<img src="{% static 'assets/admin/pages/media/profile/logo_metronic.jpg' %}" alt=""/>
											<div class="portfolio-text-info">
												<h4>خدمت 1</h4>
												<p>
													مشخصات خدمت 1
												</p>
											</div>
										</div>
									</div>
									<div class="col-md-5 portfolio-stat">
										<div class="portfolio-info">
											 فروخته شده امروز <span>
											187 </span>
										</div>
										<div class="portfolio-info">
											 فروخته شده کل <span>
											1789 </span>
										</div>
										<div class="portfolio-info">
											 درآمد کل <span>
											37 میلیون </span>
										</div>
									</div>
									<div class="col-md-2">
										<div class="portfolio-btn">
											<a href="javascript:;" class="btn bigicn-only">
											<span>
											مدیریت </span>
											</a>
										</div>
									</div>
								</div>
								<!--end row-->
								<div class="row portfolio-block">
									<div class="col-md-5 col-sm-12 portfolio-text">
										<img src="{% static 'assets/admin/pages/media/profile/logo_azteca.jpg' %}" alt=""/>
										<div class="portfolio-text-info">
											<h4>خدمت 2</h4>
											<p>
												 مشخصات خدمت 2
											</p>
										</div>
									</div>
									<div class="col-md-5 portfolio-stat">
										<div class="portfolio-info">
											 فروخته شده امروز <span>
											24 </span>
										</div>
										<div class="portfolio-info">
											 فروخته شده کل <span>
											660 </span>
										</div>
										<div class="portfolio-info">
											 درآمد کل <span>
											7 میلیون </span>
										</div>
									</div>
									<div class="col-md-2 col-sm-12 portfolio-btn">
										<a href="javascript:;" class="btn bigicn-only">
										<span>
										مدیریت </span>
										</a>
									</div>
								</div>
								<!--end row-->
								<div class="row portfolio-block">
									<div class="col-md-5 portfolio-text">
										<img src="{% static 'assets/admin/pages/media/profile/logo_conquer.jpg' %}" alt=""/>
										<div class="portfolio-text-info">
											<h4>خدمت 3</h4>
											<p>
												 مشخصات خدمت 3
											</p>
										</div>
									</div>
									<div class="col-md-5 portfolio-stat">
										<div class="portfolio-info">
											 فروخته شده امروز <span>
											24 </span>
										</div>
										<div class="portfolio-info">
											 فروخته شده کل <span>
											975 </span>
										</div>
										<div class="portfolio-info">
											 درآمد کل <span>
											21 میلیون </span>
										</div>
									</div>
									<div class="col-md-2 portfolio-btn">
										<a href="javascript:;" class="btn bigicn-only">
										<span>
										مدیریت </span>
										</a>
									</div>
								</div>
								<!--end row-->
							</div>
							<!--end tab-pane-->
							<div class="tab-pane" id="tab_1_6">
								<div class="row">
									<div class="col-md-3">
										<ul class="ver-inline-menu tabbable margin-bottom-10">
											<li class="active">
												<a data-toggle="tab" href="#tab_1">
												<i class="fa fa-briefcase"></i> سوالات معمول پرسیده شده</a>
												<span class="after">
												</span>
											</li>
											<li>
												<a data-toggle="tab" href="#tab_2">
												<i class="fa fa-plus"></i> پرسیدن سوال جدید </a>
											</li>
										</ul>
									</div>
									<div class="col-md-9">
										<div class="tab-content">
											<div class="tab-pane active" id="tab_1">
													<div id="accordion1" class="panel-group">
														<div class="panel panel-default">
															<div class="panel-heading">
																<h4 class="panel-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
																نام این سایت چیست
                                                                </a>
                                                                </h4>
															</div>
															<div id="accordion1_1" class="panel-collapse collapse in">
																<div class="panel-body">
																	 متعاقبا اعلام خواهد شد
                                                                </div>
															</div>
														</div>
														<div class="panel panel-success">
															<div class="panel-heading">
																<h4 class="panel-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_3">
																نام این سایت چیست
                                                                </a>
                                                                </h4>
															</div>
															<div id="accordion1_3" class="panel-collapse collapse">
																<div class="panel-body">
																	 متعاقبا اعلام خواهد شد
                                                                </div>
															</div>
														</div>
														<div class="panel panel-warning">
															<div class="panel-heading">
																<h4 class="panel-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_4">
																نام این سایت چیست
                                                                </a>
                                                                </h4>
															</div>
															<div id="accordion1_4" class="panel-collapse collapse">
																<div class="panel-body">
																متعاقبا اعلام خواهد شد
                                                                </div>
															</div>
														</div>
														<div class="panel panel-danger">
															<div class="panel-heading">
																<h4 class="panel-title">
																<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_5">
																نام این سایت چیست
                                                                </a>
                                                                </h4>
															</div>
															<div id="accordion1_5" class="panel-collapse collapse">
																<div class="panel-body">
																متعاقبا اعلام خواهد شد
                                                                </div>
															</div>
														</div>
													</div>
												</div>
                                             <div class="tab-pane" id="tab_2">
													<div id="accordion2" class="panel-group">
														<form action="#">
														<table class="table table-light table-hover">
														<tr>
															<td>
																 حوزه ی سوال:
															</td>
															<td>
																<label class="uniform-inline">
																<input type="radio" name="optionsRadios1" value="option1"/>
																گردشسازان </label>
																<label class="uniform-inline">
																<input type="radio" name="optionsRadios1" value="option2" checked/>
																گردش </label>
															</td>
														</tr>
														<tr>
															<td>
                                                                متن سوال:
                                                            </td>
															<td>
															    <textarea rows="3" placeholder="گردش سازی" class="form-control"> </textarea>
														    </td>
														</tr>
                                                        <tr>
															<td>
																آیا با توافق نامه ی حریم خصوصی ما موافقید؟
                                                            </td>
															<td>
																<label class="uniform-inline">
																<input type="checkbox" value=""/> بلی </label>
															</td>
														</tr>
                                                        <tr>
														</tr>
														</table>
														<!--end profile-settings-->
														<div class="margin-top-10">
															<a href="javascript:;" class="btn green-haze">
															تایید </a>
															<a href="javascript:;" class="btn default">
															لغو </a>
														</div>
													</form>
													</div>
												</div>
										</div>
									</div>
								</div>
							</div>
							<!--end tab-pane-->
						</div>
					</div>
					<!--END TABS-->
				</div>
			</div>












			</div>    		<!-- END PAGE CONTENT FIXED -->

    		<!-- Copyright BEGIN -->
			<!-- Copyright END -->

    	</div>
    </div>
	<!-- PAGE CONTENT END -->
    <!-- END MAIN LAYOUT -->



</div>
{% endblock %}
