﻿{% extends "Co_Panel/layout.html" %}
{% load staticfiles %}
{% block content %}
<div class="page-quick-sidebar-over-content">

	<!-- BEGIN MAIN LAYOUT -->
	<!-- HEADER BEGIN -->

	<!-- HEADER END -->

	<!-- PAGE CONTENT BEGIN -->
    <div class="container-fluid">
    	<div class="page-content page-content-popup">
    		<!-- BEGIN PAGE CONTENT FIXED -->
			{% include 'Co_Panel/content_header.html' %}
			<!-- BEGIN SIDEBAR -->
			{% include 'Co_Panel/sidebar.html' %}
			<!-- END SIDEBAR -->

<div class="page-fixed-main-content">



			<div class="row">
				<div class="col-md-12">
											<div class="portlet light" style="    border: 1px solid #e1e1e1; !important;">
							<div class="portlet-title">
								<div class="caption">
									<i class="icon-eye font-yellow-gold"></i>
									<span class="caption-subject font-yellow-gold bold uppercase">
جدول پر بازدیدترین ها
                                    </span>
									<span class="caption-helper">
                                        (هفتگی)
                                    </span>
								</div>
								<div class="tools">
									<a href="javascript:;" data-toggle="modal" class="fa fa-print" data-original-title="" title="چاپ">

                                    </a>
									<a href="javascript:;" data-toggle="modal" class="fa fa-eye" data-original-title="" title="نمایش همه">

                                    </a>
									<a href="MD_Advtable.html" data-toggle="modal" class="fa fa-search" data-original-title="" title="جستجو پیشرفته">

                                    </a>
									<a href="javascript:;" class="fa fa-refresh" data-original-title="" title="بروزرسانی">
									</a>

								</div>
							</div>
							<div class="portlet-body" style="height: auto;">
								<div class="tabbable-line">
									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#overview_6_3_3" data-toggle="tab" aria-expanded="true">
											به طور کلی
											  </a>
										</li>
                                        <li>
											<a href="#overview_6_3_1" data-toggle="tab" aria-expanded="false">
											ماه
											  </a>
										</li>
 										<li>
											<a href="#overview_6_3_2" data-toggle="tab" aria-expanded="false">
											سال
											  </a>
										</li>
									</ul>
									<div class="tab-content">

                                        <div class="tab-pane " id="overview_6_3_1">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class=" ">
															نام تور
														</p>
													</th>
													<th>
														<p class=" ">
															تاریخ
														</p>
													</th>
                                                    <th>
														<p class=" ">
														قیمت
													</p>
													</th>

													<th>
													<p class=" ">

														تعداد بازدید
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														تور یزد
														  </a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a >
														۶۳
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور جشنواره تابستانه جزیره کیش
														  </a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a >
														۴۵ </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور مرنجاب
														</a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۳۸
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور شیراز
														</a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a>
														۴۱
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														تور شمال - آمل
														</a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														 ۵٫۶۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۱۱۲
														  </a>
													</td>

												</tr>

												</tbody>
												</table>
											</div>
										</div>
                                        <div class="tab-pane " id="overview_6_3_2">
											<div class="table-responsive">
<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class=" ">
															نام تور
														</p>
													</th>
													<th>
														<p class=" ">
														تاریخ
														</p>
													</th>
                                                    <th>
														<p class=" ">
														قیمت
													</p>
													</th>

													<th>
													<p class=" ">

														تعداد بازدید
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت هواپیما به کیش
														  </a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a >
														۶۳
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت اتوبوس به اصفهان
														  </a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a >
														۴۵ </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت پارک آبی آزادگان
														</a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۳۸
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														ماشین مرسدس بنز S500 + راننده
														</a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a>
														۴۱
														  </a>
													</td>

												</tr>


												</tbody>
												</table>											</div>
										</div>
							<!--be tore koli-->
										<div class="tab-pane active " id="overview_6_3_3">
											<div class="table-responsive">
												<table class="table table-striped table-hover table-bordered">
												<thead>
												<tr>
													<th>
														<p class=" ">
															نام تور
														</p>
													</th>
													<th>
														<p class=" ">
														تاریخ
														</p>
													</th>
                                                    <th>
														<p class=" ">
														قیمت
													</p>
													</th>

													<th>
													<p class=" ">

															  تعداد بازدید
														</p>
													</th>

												</tr>
												</thead>
												<tbody>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت هواپیما به کیش
														  </a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														 ۲۱٫۷۴۰٫۰۰۰
													</td>
													<td>
														<a >
														۶۳
														  </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت اتوبوس به اصفهان
														  </a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														۱۸٫۸۰۰٫۰۰۰
													</td>
													<td>
														<a >
														۴۵ </a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														بلیت پارک آبی آزادگان
														</a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														 ۱۲٫۳۰۰٫۰۰۰
													</td>
													<td>
														<a>
														۳۸
														</a>
													</td>

												</tr>
												<tr>
													<td>
														<a href="javascript:;">
														ماشین مرسدس بنز S500 + راننده
														</a>
													</td>
													<td>
														۱۳۹۴/۴/۱۳
													</td>
													<td>
														 ۹٫۸۴۰٫۰۰۰
													</td>
													<td>
														<a>
														۴۱
														  </a>
													</td>

												</tr>


												</tbody>
												</table>											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

				</div>

			</div>
			</div>    		<!-- END PAGE CONTENT FIXED -->

    		<!-- Copyright BEGIN -->
			<!-- Copyright END -->

    	</div>
    </div>
	<!-- PAGE CONTENT END -->
    <!-- END MAIN LAYOUT -->



</div>
{% endblock %}