﻿{% extends "app/metro-layout.html" %}
{% load staticfiles %}
{% block header %}
{% include 'Co_Panel/header.html' %}
{% endblock %}
{% block footer %}
{% include 'Co_Panel/footer.html' %}
{% endblock %}
{% block more-css-files %}
<link href="{% static 'assets/global/plugins/morris/morris.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'assets/admin/pages/css/tasks-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/components-rtl.css' %}" id="style_components" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/plugins-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/layout6/css/layout-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/layout6/css/custom-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'content/basefont.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch-rtl.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/pages/css/profile-old-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/css/plugins-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/layout4/css/layout-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link id="style_color" href="{% static 'assets/admin/layout4/css/themes/light-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/admin/layout4/css/custom-rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

<!-- BEGIN BODY -->